[2016-09-06 00:10] chunyisong commented on #220
@denfromufa @yajiedesign I changed my win10 system language to english US,and all builds sucess,no error occurs!

In addition,I think there would be a better solution than change language!
Thanks !

[2016-09-06 00:15] denfromufa commented on #220
@chunyisong this solution is due to a problem in third-party library (Unmanaged Exports) not in pythonnet, and opened an issue for this:

https://github.com/3F/DllExport/issues/7

[2016-09-06 00:15] #220 closed

[2016-09-06 02:06] vmuriart commented on #110
@anntzer did you switch to an alternative solution/project?

[2016-09-06 02:41] anntzer commented on #110
Nope, that was for a side project that I just shelved.

[2016-09-06 03:00] denfromufa commented on #110
I'm closing this issue because based on some reading arch linux is not recommended for production environment (maybe because has no LTS) and not provided on cloud and CI hosting facilities such as Travis CI, DigitalOcean, AWS, Azure.

https://github.com/travis-ci/travis-ci/issues/1849

[2016-09-06 03:00] #110 closed

[2016-09-06 03:27] denfromufa commented on #117
@vincenzogis let us know if you still have issues, but based on the information provided I'm closing this issue.

[2016-09-06 03:27] #117 closed

[2016-09-06 03:33] denfromufa commented on #195
@colbyj this was mentioned before by @tonyroberts when he implemented this feature in 2013:

https://mail.python.org/pipermail/pythondotnet/2013-October/001424.html

[2016-09-06 03:35] denfromufa commented on #191
both of these pull requests have been cheery-picked by @tonyroberts, hence closing this issue. let us know if you still get issues @rico-chet @swinstanley

[2016-09-06 03:35] #191 closed

[2016-09-06 03:45] denfromufa commented on #119
FYI, today I found out that Py_ENABLE_SHARED set incorrectly is a bug in Ubuntu/Debian linux distros, that was discussed here:
https://bitbucket.org/anthony_tuininga/cx_freeze/issues/32/cant-compile-cx_freeze-in-ubuntu-1304

Here is a patch that can be applied to setup.py to workaround this bug in Ubuntu/Debian packages for CPython:

https://bitbucket.org/anthony_tuininga/cx_freeze/commits/6e93350

[2016-09-06 03:52] denfromufa commented on #120
@spichardo this patch needs to be tested through conda-forge on osx:

https://github.com/pythonnet/pythonnet/issues/210

[2016-09-06 04:00] denfromufa commented on #259
@gatapia how are you running the embedding tests? command-line or VS UI?

Is this failing on both root env (py3) and additional env (py27)?

I got this weird PythonEngine.Initialize() call crash when using Python 2.7.11, which was caused by issues in CPython. I'll try to find that issue.

[2016-09-06 04:26] gatapia commented on #259
VS UI (using resharper).  py3 fails with DllNotFoundException py27 fails silently.  I tried the Console project using command line and that also fails silently.

[2016-09-06 04:54] denfromufa commented on #259
what is the version of Anaconda 3? I assume this is Python 3.5? Did you change the compilation symbol from PYTHON27 to PYTHON35?

[2016-09-06 05:07] #216 closed

[2016-09-06 05:07] #187 closed

[2016-09-06 05:09] gatapia commented on #259
Setting the compilation symbol to PYTHON35 appears to work.  I was trying to load a 2.7 module tho.  However, it may be simpler to upgrade my python code than workout why Win10+py27+pynet is not working.

I'll give that a go but the issue still remains; i.e. pythonnet 64 + py27 + win10 does not appear to work.  I tried on a Win10 machine without 3.x (only 27) and got the same issues.

[2016-09-06 05:10] denfromufa commented on #152
@tactevo not reproducible, so closing this issue

[2016-09-06 05:10] #152 closed

[2016-09-06 05:19] denfromufa commented on #259
Here is the issue with python 2.7.11 (2 bugs in CPython) that I mentioned before, so try python 2.7.10 or python 2.7.12:

https://github.com/pythonnet/pythonnet/issues/156#issuecomment-209610230

[2016-09-06 05:59] denfromufa commented on #259
@gatapia ok, I reproduced this issue with conda environments, and here is a quick fix for you:

[code]

[2016-09-06 20:05] denfromufa commented on #72
@filmor here is my first attempt at using com objects from pythonnet:

https://gist.github.com/denfromufa/ec559b5af41060c5ac318f7f59d8b415#file-excel_interop_vsto-ipynb

[2016-09-06 20:06] denfromufa opened #260 "com interop"
https://gist.github.com/denfromufa/ec559b5af41060c5ac318f7f59d8b415#file-excel_interop_vsto-ipynb

[2016-09-07 02:47] gatapia commented on #259
just running activate py27 works for me, infact setting PYTHONHOME/PATH breaks it.

Now I just need to find how to simulate the activate command in a .Net environment.

Thanks for your help @denfromufa much appreciated.

[2016-09-07 09:12] filmor commented on #260
If we implement proper DLR support this follows automatically, doesn't it?

[2016-09-07 09:30] filmor opened #261 "Give more explicit ImportErrors"
Currently, an `ImportError` raised from Python.NET does not include information on the actual dependency that failed to load.

[2016-09-07 11:59] denfromufa commented on #260
I agree, proper DLR support will give us com interop for free. But there
were 2 questions on SO about pythonnet that required some immediate
solution. I'm going to link these questions later. And also I was using com
objects from pythonnet at work and found it painful because almost no
reflection works on combject.

On Wednesday, September 7, 2016, Benedikt Reinartz <notifications@github.com>
wrot

[2016-09-07 12:11] denfromufa commented on #213
@filmor did you find out how to load pythonnet into separate appdomain? There is one question on stackoverflow about required permissions on restricted appdomain:

http://stackoverflow.com/questions/39363211/c-sharp-how-to-find-out-which-permission-an-app-domain-needs

[2016-09-07 14:06] denfromufa commented on #261
related? https://github.com/pythonnet/pythonnet/issues/111

[2016-09-07 14:07] denfromufa commented on #260
http://stackoverflow.com/questions/28050902/print-excel-files-with-microsoft-office-interop-excel-and-clr-in-python

[2016-09-07 14:11] denfromufa commented on #260
http://stackoverflow.com/questions/38569229/cant-access-functions-in-excel-application-workbooks-from-python-2-7-3-5

[2016-09-07 15:07] denfromufa commented on #260
https://github.com/pythonnet/pythonnet/issues/72

[2016-09-07 15:09] denfromufa commented on #259
@gatapia all that activate.bat does is append %path% with python path in front.

[2016-09-07 16:21] filmor commented on #261
Could be. I just recognised this today as a problem, when I (again) had to do an `clr.AddReference ... .GetDependentAssemblies`-dance to find out which library could not be loaded.

[2016-09-07 16:31] denfromufa commented on #261
@filmor the problem is that some third-party packages try to import some libraries and have backup logic if no success. So how would we distinguish between package -handled and -unhandled imports?

[2016-09-07 16:36] filmor commented on #261
We should still raise an import error, we should just add information to the message, which assembly could not be loaded and why, basically the information that the.NET exception contains.

[2016-09-07 16:52] denfromufa commented on #261
what I meant is actually cases like this and we would bug down the user with optional imports failing:

https://github.com/pydata/pandas/blob/master/pandas/computation/__init__.py

[2016-09-07 20:15] filmor commented on #261
That's not what I'm saying, I'm suggesting keeping the `ImportError` and just extending the information it carries, i.e. you get `ImportError: No module named 'bla', tried to import bla.dll but failed loading the dependency blubb.dll because of reasons`.

[2016-09-07 20:53] gatapia commented on #259
Thanks @denfromufa all sorted, my final incode solution is:
[code]

[2016-09-07 20:53] #259 closed

[2016-09-07 21:57] denfromufa commented on #259
Note that there is an open issue about setting pythonpath and pythonhome from pythonnet:

https://github.com/pythonnet/pythonnet/issues/179

[2016-09-07 21:59] denfromufa commented on #156
closing this issue, since python 2.7.12 was released with fixes to embedding paths.

[2016-09-07 21:59] #156 closed

[2016-09-07 23:12] gatapia opened #262 "MSTests failing when importing a module with imports"
Very simple to reproduce:

In the Python.EmbeddingTests project (I am using master branch):
- Add reference to MSTest (Microsoft.VisualStudio.QualityTools.UnitTestFramework.dll 10.0.0.0)
- Convert pyimport from NUnit to MSTest:
  - remove NUnit Import, add using Microsoft.VisualStudio.TestTools.UnitTesting
  - replace attributes with MStest attributes (TestClass, TestInitialise, TestCleanup, TestM

[2016-09-08 05:45] denfromufa commented on #159
Well, someone already tried to use subinterpreters from pythonnet:

http://stackoverflow.com/questions/34099564/embedding-python-ending-subintepreter-with-threaded-code

[2016-09-08 05:45] denfromufa commented on #159
Well, someone already tried to use subinterpreters from pythonnet:

http://stackoverflow.com/questions/34099564/embedding-python-ending-subintepreter-with-threaded-code

[2016-09-08 05:45] denfromufa commented on #159
Well, someone already tried to use subinterpreters from pythonnet:

http://stackoverflow.com/questions/34099564/embedding-python-ending-subintepreter-with-threaded-code

[2016-09-09 03:11] denfromufa commented on #262
@gatapia good finding, let me link this here:

https://github.com/pythonnet/pythonnet/issues/224

@BartonCline originally implemented this test, not sure if he recalls any issues like that?

[2016-09-09 03:31] denfromufa commented on #158
@vmuriart thanks for pointing to pydotnet, and no I have not seen this before! Looks like you have some experience with it :)

In summary pydotnet is based on C++/CLI - which is mixed-mode native-managed code that uses special syntax, such as handles:

https://bitbucket.org/pydotnet/pydotnet/src/b01b5bb06cd582c4c29b0d6733fb26fa8c93f206/src/ConvertToManagedObject.cpp?at=default&fileviewer=file-view

[2016-09-09 03:32] denfromufa commented on #158
I opened wiki and added few links and articles:

https://github.com/pythonnet/pythonnet/wiki

[2016-09-09 03:32] #158 closed

[2016-09-09 03:41] denfromufa commented on #158
@vmuriart I mentioned that talk on mailing list, the video from youtube is not very good quality, so I requested the presentation from Hussein in email.

[2016-09-09 03:53] denfromufa commented on #112
@matthid thank you for the feedback, I included a link to your blog post in wiki:

https://github.com/pythonnet/pythonnet/wiki

BTW, congratulations on being featured in Microsoft weekly news!

https://blogs.msdn.microsoft.com/dotnet/2016/05/31/the-week-in-net-5312016/

[2016-09-09 05:40] denfromufa commented on #112
@aolney I found your blog post as well (Using NLTK from F#) and linked it in wiki.

[2016-09-09 16:48] vmuriart commented on #158
@denfromufa there's a mailing list?

Do you have a copy of your old implementation of CLI wrapper? Just curious to take a look

[2016-09-09 17:27] denfromufa commented on #158
@vmuriart I still have the old C++/CLI wrapper and got permission to publish here, but just did not have enough time/incentive.

Here is a mailing list:

https://mail.python.org/pipermail/pythondotnet/

You can post message to it using this email address:

pythondotnet@python.org

And subscribe on this page:

https://mail.python.org/mailman/listinfo/pythondotnet

[2016-09-10 20:37] mateuszlewko commented on #120
@spichardo I had the same problem and your patch to setup.py solved it! Awesome and thank you 👍

[2016-09-12 12:27] vincenzogis commented on #117
OK thanks,
No other problem.

2016-09-06 5:27 GMT+02:00 denfromufa <notifications@github.com>:

--
*Vincenzo Gisondi*
Via San Nicola n.37
82030 Dugenta (BN), Italy
Skype: vincenzo.gis

[2016-09-13 20:33] denfromufa commented on #158
@vmuriart if you would like to view the pythonnet PyOhIO presentation from @Ijwu (Hussein Farran), then request from him on LinkedIn. He sent me the presentation and it has nice things like building REPL and using pythonnet with ASP.NET. However I do not have permission to share it here.

[2016-09-13 21:01] Ijwu commented on #158
@denfromufa I think I saw your email but forgot to reply to it. But, as you saw, I tried to get right back to you on LinkedIn. Thanks for the interest. :)

@vmuriart I'm open to distributing my slides. The most helpful resource in writing the presentation, other than the source code, is the wiki on gh-pages. (http://pythonnet.github.io/).

I will spend some time to get the related code for that pr

[2016-09-14 03:10] denfromufa commented on #226
This issue requires implemented clr.Reference type properly in pythonnet. The issue is that during overload it is not possible to distinguish 2 overloads with the same signature except byref switched to byval. This is perfectly valid code in C#.

Also related issues here:

https://github.com/pythonnet/pythonnet/issues/228

https://github.com/pythonnet/pythonnet/issues/236

[2016-09-14 04:10] denfromufa opened #263 "setup binder for quickly testing C# and python API of pythonnet, e.g. the code from docs"
https://github.com/binder-project/binder

[2016-09-16 02:11] denfromufa commented on #2
docs have been updated and merged!

https://github.com/pythonnet/pythonnet.github.io/pull/5

[2016-09-16 02:11] #2 closed

[2016-09-16 09:23] denfromufa opened #264 ""Incorrect" behavior of inheriting from class which is inherited from .Net class"
https://mail.python.org/pipermail/pythondotnet/2016-April/001755.html

Deriving from a python class in Python that itself is derived from a .NET class doesn't work.

reported by @hhspiny and confirmed by @tonyroberts

[2016-09-16 09:29] denfromufa opened #265 "meta-issue: overloading improvements"
- [ ] ref/out https://github.com/pythonnet/pythonnet/pull/227
- [ ] constructor https://github.com/pythonnet/pythonnet/pull/239 https://github.com/pythonnet/pythonnet/issues/238
- [ ] subtypes https://github.com/pythonnet/pythonnet/issues/203
- [ ] add content manager to completely ignore type checking for overloading https://github.com/pythonnet/pythonnet/issues/174#issuecomment-192835858
- [ ] f

[2016-09-20 05:54] denfromufa commented on #253
@Thraka pull requests are welcome :) here is how type converter is implemented in ironpython using callsite:

https://github.com/IronLanguages/main/blob/ipy-2.7-maint/Languages/IronPython/IronPython/Runtime/Converter.cs#L286

Note that converter class in pythonnet is for different purpose - converting between managed and Python supported types.

BUT as a quick work-around use this brilliant reflec

[2016-09-20 06:07] denfromufa commented on #252
@Thraka you could just pass 2 dynamic objects (dyn_method and dyn_args) to constructor in C# not used on .NET side if null. Then just pass these dynamic object arguments to constructor on Python side to pass the python method and python arguments.

[2016-09-20 06:11] denfromufa commented on #252
[code]

[2016-09-20 07:04] denfromufa commented on #261
@filmor agreed! we need to extend the passed information.

[2016-09-20 07:15] denfromufa commented on #241
@ZhukovGreen FYI in version 2.2.0-dev1 we are bundling geninterop.py now.

pip install pythonnet --pre

[2016-09-20 07:17] denfromufa commented on #165
@dmitriyse IMO your bundle could be useful to @bc3tech for his chocolatey package, which is currently only limited to 32 bit python 2.7.

[2016-09-20 07:17] denfromufa commented on #165
https://chocolatey.org/packages/pythonnet

[2016-09-21 02:45] laurentbeaumer opened #266 "is pythonnet working with pyrfa?"
Hi

I am using Python .NET to access pyrfa.

It returns a (not null) dynamic object (PyObject), however the methods are missing:

Message: "'Python.Runtime.PyObject' does not contain a definition for 'createConfigDb'"

Code:
            using (Py.GIL())
            {
                dynamic p = Py.Import("pyrfa");
                p.createConfigDb("./pyrfa.cfg");
            }

Alternatively, is th

[2016-09-21 10:20] denfromufa commented on #266
Hi, try this:

p.__dir__()

On Tuesday, September 20, 2016, laurentbeaumer <notifications@github.com>
wrote:

[2016-09-21 12:20] denfromufa commented on #266
@laurentbeaumer you need to first instantiate p:
[code]

http://devcartel.com/pyrfa

[2016-09-22 02:27] laurentbeaumer commented on #266
Thanks, I forgot to call the constructor:

            using (Py.GIL())
            {
                dynamic np = Py.Import("pyrfa");
                var p = np.Pyrfa();
                p.createConfigDb("./pyrfa.cfg");
            }

Now, I have this exception when calling _any_ method:

Exception thrown: 'System.AccessViolationException' in Python.Runtime.dll

Thanks

[2016-09-22 03:14] denfromufa commented on #266
@laurentbeaumer can you do the same things from CPython interpreter (or IPython kernel) without errors?

[2016-09-22 07:49] laurentbeaumer commented on #266
@denfromufa yes it works in the interpreter:

import pyrfa
p = pyrfa.Pyrfa()
p.createConfigDb("./pyrfa.cfg")
p.acquireSession("Session1")
p.createOMMConsumer()

Interestingly, the method "p.isLoggedIn();" works fine in .NET

[2016-09-22 07:52] laurentbeaumer commented on #266
I am using:
pyrfa7.6.2.2-win32-x86-py27
python-2.7.12
Windows 7 Pro

I'll try 3.5 and PyRFA 8.

[2016-09-22 14:57] denfromufa commented on #266
I confirmed that this is working under CPython interpreter but not in
pythonnet. It looks like the problem comes from C++ or Boost.Python code
written in Pyrfa that does implicit conversion and only accepts non-unicode
python string. But I did not find yet a reliable way to pass non-unicode
string from C# - at the interface everything is unicode.

On Thu, Sep 22, 2016 at 2:52 AM, Laurent Beaumer <

[2016-09-22 15:19] denfromufa commented on #266
ok, I got this to work!

1. Create python encoding converter function:

strconv.py

def strconv(struni, encoding="utf8"):
return struni.encode(encoding)

2. Import it in .NET:

dynamic strconv;  using (Py.GIL()) { strconv = Py.Import("strconv"); }

3. Now createConfigDb works!

using (Py.GIL()) {
    pp.createConfigDb(strconv.strconv(@".\pyrfa.cfg"));
}

On Thu, Sep 22, 2016 at 9:57 AM, Denis Akhi

[2016-09-23 02:21] laurentbeaumer commented on #266
It is working. You are amazing!

[2016-09-23 02:21] #266 closed

[2016-09-23 02:36] denfromufa commented on #266
BTW, setdebugmode crashes even in python interpreter. This is likely bug in
pyrfa. I had the same setup as yours.

On Thursday, September 22, 2016, Laurent Beaumer <notifications@github.com>
wrote:

[2016-09-23 03:54] wiwat-tharateeraparb commented on #266
If you call `setDebugMode` before calling `createConfigDb,` PyRFA will crash. We will need to fix this.

[2016-09-27 16:37] karbon62 commented on #61
Hi,

I am trying to install pythonnet using the following commands:
pip install pythonnet==2.1.0.dev1 - and with not luck since I am getting an error: Failed building wheel for pythonnet.

Can anyone help with this?

[2016-09-27 16:39] karbon62 opened #269 "Error Building wheel"
Hi,

I am trying to install pythonnet using the following commands:
pip install pythonnet==2.1.0.dev1 - and with not luck since I am getting an error: Failed building wheel for pythonnet.

Can anyone help with this?

Just to be clear that I am using macOS.

Thanks.

[2016-09-27 16:45] denfromufa commented on #269
@karbon62 can you paste full error from build process? You can use https://asciinema.org to record your command-line session.

Also have a look at some additional instructions for OSX on this issue:

https://github.com/pythonnet/pythonnet/issues/120

[2016-09-28 02:34] denfromufa opened #270 "drop python 2.6, 3.2, and 3.3"
We have Travis CI (Linux and OSX soon) for Python 2.6, but no CI for Python 2.6 on Appveyor (Windows).

Python 2.6 was dropped by major packages (even numpy is dropping support in v1.12.0) and Python 3.6 is going to be added soon.

If anyone is against dropping Python 2.6 let's collect feedback.

[2016-09-28 03:29] denfromufa commented on #120
@spichardo @mateuszlewko I created a new branch in pythonnet to get Travis CI builds working both on OSX and Linux. If you have any input please let me know. Currently these builds are failing, but I will keep updating that branch:

https://github.com/pythonnet/pythonnet/tree/mac-osx

[2016-09-28 10:37] karbon62 commented on #269
Hi denfromufa,

Thanks for replying.

The failure is shown below:

Command "/usr/local/opt/python/bin/python2.7 -u -c "import setuptools, tokenize;__file__='/private/var/folders/bm/kfjt11c544d9yz_cgvxwvzrm0000gn/T/pip-build-JnDwbB/pythonnet/setup.py';exec(compile(getattr(tokenize, 'open', open)(__file__).read().replace('\r\n', '\n'), __file__, 'exec'))" install --record /var/folders/bm/kfjt11c544d

[2016-09-28 10:44] karbon62 commented on #120
Hi,

I am trying to install pythonnet using the following commands:
pip install pythonnet==2.1.0.dev1 - and with not luck since I am getting an error: Failed building wheel for pythonnet.

The Failure is shown below:

Command "/usr/local/opt/python/bin/python2.7 -u -c "import setuptools, tokenize;file='/private/var/folders/bm/kfjt11c544d9yz_cgvxwvzrm0000gn/T/pip-build-JnDwbB/pythonnet/setup.py';ex

[2016-09-28 11:34] mateuszlewko commented on #269
Hi Lisa,
Have tried running this command to get the exact error (possibly with sudo)?

Mateusz

[2016-09-28 11:40] karbon62 commented on #269
Hi Mateusz,

The correct answer is that Im not sure if I am writing this into the terminal correctly.

I've tried sudo "apt-get pythonnet==2.1.0.dev1" & "sudo installer pythonnet==2.1.0.dev1".

Lisa

[2016-09-28 12:16] mateuszlewko commented on #269
Sorry I meant the command that gives exit code 1, so:
/usr/local/opt/python/bin/python2.7 -u -c "import setuptools, tokenize;file='/private/var/folders/bm/kfjt11c544d9yz_cgvxwvzrm0000gn/T/pip-build-JnDwbB/pythonnet/setup.py';exec(compile(getattr(tokenize, 'open', open)(file).read().replace('\r\n', '\n'), file, 'exec'))" install --record /var/folders/bm/kfjt11c544d9yz_cgvxwvzrm0000gn/T/pip-JqJLWX-r

[2016-09-28 13:15] karbon62 commented on #269
ahh right, got you :) I used this:

pip install pythonnet==2.1.0.dev1

I've installed the setuptools & wheel also using pip.

Lisa

[2016-09-28 13:39] mateuszlewko commented on #269
Still not what I meant :P
When you run pip install pythonnet==2.1.0.dev1 underneath it runs this command:
/usr/local/opt/python/bin/python2.7 -u -c "import setuptools, tokenize;file='/private/var/folders/bm/kfjt11c544d9yz_cgvxwvzrm0000gn/T/pip-build-JnDwbB/pythonnet/setup.py';exec(compile(getattr(tokenize, 'open', open)(file).read().replace('\r\n', '\n'), file, 'exec'))" install --record /var/fold

[2016-09-28 13:45] karbon62 commented on #269
So as I got it right, I've posted the initial post and copied it into terminal and ran it. Generating this:

 File "<string>", line 1, in <module>
IOError: [Errno 2] No such file or directory: '/private/var/folders/bm/kfjt11c544d9yz_cgvxwvzrm0000gn/T/pip-build-JnDwbB/pythonnet/setup.py'

[2016-09-28 13:53] denfromufa commented on #269
also try run from latest pip package: "[sudo] pip install pythonnet --pre
-U" or straight from latest source on github (assuming you have git
installed) "pip install git+https://github.com/pythonnet/pythonnet -U"

Note that I marked [sudo] optional.

Before running these commands you need to make sure that all dependencies
are installed: python (2.7, 3.3, 3.4, or 3.5), mono (brew installed mono),

[2016-09-28 14:12] denfromufa commented on #269
actually sudo is not optional - it is required!

On Wed, Sep 28, 2016 at 8:53 AM, Denis Akhiyarov <denis.akhiyarov@gmail.com>
wrote:

[2016-09-28 14:35] karbon62 commented on #269
Hi,

I've tried the methods but unfortunately Im still getting the same issue. :'(

Thanks,
Lisa

[2016-09-28 14:38] karbon62 commented on #269
Also tried with Sudo. It started downloading which seemed at first promising but then it just failed, giving the same error :(

[2016-09-28 17:32] denfromufa commented on #269
Well @karbon62, without console (terminal) output we cannot help you much.
The only thing you can do at this point is wait for Mac OS wheels that I'm
preparing for OSX using Travis CI. I do not even have Mac OSX, although
some of my colleagues have.

Also others who successfully build wheels locally for OSX can provide them
to you privately and post here. Note that these are highly OS/Python/Mono

[2016-09-30 23:17] denfromufa commented on #96
@lstratman thank you for very detailed response, there is a question from MS if CoreCLR C-API is good enough, would you mind replying there? MS is considering standardizing C-API for .NET ecosystem.

https://blogs.msdn.microsoft.com/dotnet/2016/09/26/introducing-net-standard/#comment-138395

Are the four methods (Initialize, Shutdown, Create_Delegate, Execute_Assembly), mentioned enough for embedd

[2016-10-01 23:19] lstratman commented on #96
I've replied to that thread that those methods are sufficient.  Looking further into the existing pythonnet code, I realized that it does all of the things that I mentioned earlier (create variables, set properties, index arrays, etc.) in managed code anyway, so once the "spinning up CoreCLR" code is integrated from Edge.js, pythonnet should just be able to re-use a lot of its existing codebase.

[2016-10-05 04:54] denfromufa commented on #96
Another thing holding of CoreCLR port is Reflection.Emit used in pythonnet in one place:

https://github.com/dotnet/corefx/issues/4491#issuecomment-189756092

But we could possibly just do conditional compilation for this feature.

[2016-10-05 04:54] denfromufa commented on #96
otherwise try ikvm.reflection.emit or mono.cecil

[2016-10-05 16:39] wiwat-tharateeraparb commented on #266
The new PyRFA 8.0.2 supports unicode strings now. As always you can download it from https://github.com/devcartel/pyrfa.

[2016-10-06 23:40] royalstream commented on #245
YMMV but here's some feedback on this issue.

I'm using OS X 10.11.3 and Anaconda Python (see the specific version in the outputs).

Using Mono 4.4.2 I get exactly the same error, **even if shrink your code to just this:**

[code]

The error is the following:

[code]

After upgrading to a newer version of Mono (4.6.1) I get a slightly different error description but I suspect the problem remains t

[2016-10-07 02:54] denfromufa commented on #245
@royalstream @dmitriyse these issues with finalizer were reported recently in Mono:

https://bugzilla.xamarin.com/show_bug.cgi?id=41833
https://bugzilla.xamarin.com/show_bug.cgi?id=40399
https://bugzilla.xamarin.com/show_bug.cgi?id=42665

Few potential fixes have been made and also workarounds suggested, so have a look there.

But your second issue with WAIT_TIMEOUT is not fixed yet in Mono:

http

[2016-10-07 05:04] denfromufa commented on #245
With mono 4.2.4.4 and python 2.7:

[code]

I'm getting this error:

[code]

[2016-10-14 03:21] royalstream commented on #245
Now I'm getting the same error on a different machine, but without using **Dynamic Objects**.
So much for my theory then.

For the time being I added `Process.GetCurrentProcess().Kill()` as the last line of my `main` function, which is absolutely horrible but avoids the crash until this gets fixed.

[2016-10-14 09:35] dmitriyse commented on #165
I released better implementation of Python.Runtime.dll loader. Feel free to check and use.
https://github.com/dmitriyse/pythonnet/releases/tag/v2.2.0-bin-beta

[2016-10-14 16:42] stonebig opened #272 "add Python 3.6"
Would it be possible to get Python 3.6 on AppVeyor ?

[2016-10-14 17:05] denfromufa commented on #272
there is no official support for python 3.6 on appveyor yet. pandas, numpy,
matplotlib are not testing py3.6 yet.

On Fri, Oct 14, 2016 at 11:42 AM, stonebig <notifications@github.com> wrote:

[2016-10-14 17:34] stonebig commented on #272
cgohlke did

[2016-10-14 17:47] denfromufa commented on #272
that is great! But I cannot see @cgohlke build configuration in the open, since only binaries for download are available from his website.

[2016-10-14 22:00] denfromufa commented on #245
@royalstream @dmitriyse can you guys try acquiring the GIL without using `Py.GIL()`?

[2016-10-15 03:03] denfromufa commented on #272
Is there WinPython on Appveyor? E.g. they support Miniconda:

https://www.appveyor.com/docs/installed-software/#python

[2016-10-15 06:43] royalstream commented on #245
And how do you do that? sorry for the "noob" question but all the code examples I've seen call `Py.GIL()`

[2016-10-15 09:48] stonebig commented on #272
The answer is in your link, isn't it ?

[2016-10-15 11:04] dmitriyse commented on #245
I am using this patched version of Runtime.Shutdown() method:
[code]
And this problem gone.
This solution works fine, no one issue in last 3 monthes. (On different OS and pythons include conda).

So I am assuming that bug exists in PythonNet.

P.S to use this workaround in UCS4 builds you should apply also apply this patch:
https://github.com/dmitriyse/pythonnet/commit/8638d57c570d64ccc67cd26c0838

[2016-10-15 11:08] dmitriyse commented on #245
As i understand, PY_DEGUB build should be used to ensure valid reference counting, indexes access and so on. I tried to build and run PythonNet with this flag and received violations near in every place. I think that PythonNet in general requires big "Cleanup", and probably this problem will disappear.

[2016-10-15 11:14] denfromufa commented on #245
Well, you could have a look at source code of `Py.GIL()` ;)

Here is a quick example:

public static void Main(string[] args)
{
    Environment.SetEnvironmentVariable("PYTHONHOME", "/Users/steven/anaconda");

    PythonEngine.Initialize();

    try
    {
            var pylock = PythonEngine.AcquireLock();
            var sysModule = Py.Import("sys");
            Console.WriteLine("Python engine v

[2016-10-15 11:29] denfromufa commented on #245
I always thought that PY_DEGUB is only helpful for debugging purposes of CPython interpreter, because it produces debug build of CPython?

https://docs.python.org/3/c-api/intro.html#debugging-builds

But let's open a separate issue for Py_DEBUG failures.

[2016-10-15 16:08] royalstream commented on #245
Sorry for the misunderstanding, I thought you meant avoiding `Py.GIL()` and whatever its coded does.

(No logic, just magic)

Now I get a really bad malloc/free error, at least on the machine I'm using right now. I'll try this on a different machine next week.

[code]

I'm using Mono 4.6.0 (Stable 4.6.0.245/746756c Mon Sep 19 13:57:55 BST 2016)

[2016-10-15 17:47] stonebig commented on #272
but maybe you can download a WinPythonZero from github, then unzip somewhere and you're all set in AppVeyor ?

[2016-10-15 19:43] dmitriyse commented on #245
Looks like you missed this patch.

P.S to use this workaround in UCS4 builds you should apply also apply this patch:
https://github.com/dmitriyse/pythonnet/commit/8638d57c570d64ccc67cd26c08385808fb159c06

Also you can check binary distro: https://github.com/dmitriyse/pythonnet/releases/tag/v2.2.0-bin-RC
It should quickly show this trick in work. (Supports only Python 3.5 under x64 os)
try mono pyb

[2016-10-15 22:07] royalstream commented on #245
I didn't miss it, but it looks like it doesn't apply to my current Python installation:

[code]

[2016-10-15 23:09] royalstream commented on #245
UPDATE:
I installed the Python 3.5 version of Anaconda which is UCS4 (I've been using Python 2.7)
This version is UCS4 and the patch works great, no more crashes.

PS: If I run the unpatched version of Pythonnet I get a SIGSEGV so the patch is definitely helping.

[2016-10-17 17:59] freakboy3742 commented on #234
@denfromufa I've just poked him as well.

[2016-10-18 13:45] denfromufa commented on #234
@freakboy3742 thank you for this! I guess you meant that you poked @tiran?

Let me introduce 3 more contributors since August, who also agreed to MIT license:

@ArvidJB
@t3476
@dmitriyse

To all contributors, please reply to my offer about advanced Python book for pythonnet, if you are interested:

https://mail.python.org/pipermail/pythondotnet/2016-October/001828.html

[2016-10-18 19:53] bltribble commented on #234
Do we know what changes were added by @tiran? We could always fork from before his additions and them re-patch with everyone else's changes if his weren't significant.

It's a huge headache though...

[2016-10-18 20:17] freakboy3742 commented on #234
@denfromufa Correct - I poked @tiran. I may know some people that can perform a poke on his physical person, too... I'll see what I can arrange :-)

[2016-10-19 10:00] filmor commented on #234
@bltribble A quick blame shows that none of his changes to the actual code are still "at the surface". The only ones left are changes to text files (`TODO.txt`, `VS_README.txt`, `changes.txt`) and entries for old python versions in the `Python.Runtime.dll.config`. The `changes.txt` (heavily outdated, should likely just be removed) contains the following with his tag:

- First work on Python 2.5 co

[2016-10-19 14:03] denfromufa commented on #234
@freakboy3742 please don't poke him too hard :)

[2016-10-19 14:08] swinstanley commented on #234
In the interests of a sensible rate of future development, is there some way I can transfer all rights and claims I might have to Harambe the gorilla?

[2016-10-19 20:10] bltribble commented on #234
@filmor That seems far too deep to attempt an exorcism...

[2016-10-19 20:19] vmuriart commented on #234
@filmor blame might be skewed and hide alot of the surviving changes he made since there's a commit in which the code was formatted to get rid of all those pesky whitespace/formatting issues we were having.

[2016-10-19 21:35] filmor commented on #234
I'm well aware of that, just wanted to find out, whether all of this tiran-poking was even worth the effort as his last contribution is from 8 years ago or so.

Some of the features have been removed already or only relate to the build system, so we have a realistic chance of solving this ;)

[2016-10-24 20:27] jcarole opened #276 ".NET Remoting support broken"
Opening this issue per request from Denis Akhiyarov in PythonDotNet mailing list discussion.

Tried uploading a .zip file but got error "We don't support that file type." So here is a link to that file:

https://www.dropbox.com/s/66pkgd1m2l3kbmh/DotNetRemotingHelloWorld.zip?dl=0

[2016-10-25 14:46] jcarole commented on #276
Forgot to copy original text from PythonDotNet mailing list discussion:

Does pythonnet-2.1.0 support .NET Remoting? When I try to get an interface, python 2.7 crashes:

Unhandled Exception: System.NullReferenceException: Object reference not set to an instance of an object.
at Python.Runtime.ClassDerivedObject.ToPython(IPythonDerivedType obj)
at Python.Runtime.Converter.ToPython(Object value, Typ

[2016-10-25 14:46] jcarole commented on #276
Denis's reply on PythonDotNet mailing list discussion:

Can you provide minimal reproducible code sample for both C# and Python?
What is the latest pythonnet version in which this works?

Are you testing this from interactive python or ipython? There are some
differences between the 2 options.

Please also open an issue on github.

BTW, why have you not switched to WCF?

[2016-10-25 14:48] jcarole commented on #276
My reply on PythonDotNet mailing list discussion:

Tried uploading a .zip file to GitHub but got error "We don't support that file type." Instead I put a dropbox file link in the issue.

I only ever used pythonnet-2.0-alpha2-clr2.0_131_py27_UCS2 with Python 2.7.2, where it worked when controlling my .Net 3.5-based-based GUI app. I only updated my app to .NET 4.5.2 last week, which is the first tim

[2016-10-27 06:36] schuster-rainer opened #278 "Some formatters for ipython"
I've seen you creating the cellmagic. I also did this 1 to 2 years ago. But I didn't use it a lot. I added extra functionality to the magic with argparse. But besides that I created some formatters.

Have a look at my gist.

https://gist.github.com/schuster-rainer/54516a463c6dfedb96c6

[2016-10-27 07:58] denfromufa commented on #278
Can you rename your file to have the extension .ipynb? Otherwise it is not rendered on github as a jupyter notebook.

[2016-10-27 09:53] schuster-rainer commented on #278
Done

[2016-10-28 03:17] denfromufa commented on #278
Have you tried hooking up formatters for tables and plots?

Here is discussion we had on how this was implemented in rpy2 magic:

https://groups.google.com/forum/m/#!topic/jupyter/Wy7LnDF4O_Q

On Thu, Oct 27, 2016, 4:53 AM Rainer Schuster <notifications@github.com>
wrote:

[2016-10-31 21:37] denfromufa commented on #276
@jcarole I tried your example C# apps and it seems this has nothing to do with pythonnet, but rather only .NET 4.6 vs 3.5 differences. In fact 3.5 is the last version supported for .NET remoting.

[2016-11-01 14:25] jcarole commented on #276
@denfromufa Sorry, config mgmt fail on my part. Updated the dropbox link with working C# code for the .NET 4.5.2 C# server and client. .NET Remoting may be deprecated, but it is definitely still working.

[2016-11-03 17:39] denfromufa opened #282 "add requirements.txt and requirements-dev.txt"

[2016-11-03 18:08] denfromufa commented on #282
here is best way to setup this:

http://stackoverflow.com/a/20720019/2230844

[2016-11-04 13:05] makalu79 opened #283 "Selecting overloaded methods with unsigned integer argument fails"
When trying to invoke a .NET method with a unsigned integer argument, it fails with "No method matches given arguments", if there is another method signature with the same name. To reproduce, use the class:

[code]
Then called from python with:

[code]

line 2 works fine, but lines 3 and 4 fail with TypeError: No method matches given arguments

[2016-11-04 14:48] denfromufa commented on #283
Can't you convert to .NET type(s) before passing in? There is no built-in
equivalent of unsigned integer in Python.

On Fri, Nov 4, 2016, 8:05 AM makalu79 <notifications@github.com> wrote:

[2016-11-07 14:16] filmor opened #284 "Trying to pickle an exception crashes the interpreter"
The following code apparently tries to write to a `null` pointer:

    import clr
    import pickle
    from System import Exception
    pickle.dumps(Exception())

I'm investigating, where it fails exactly but I'm open to hints :)

Small addition: This works fine for simple objects like `System.Object()`

[2016-11-07 17:00] filmor commented on #284
The reason for this seems to be the implementation of `BaseException`'s `reduce`:

[code]

In our hacked implementation that injects `BaseException` into the `tp_bases` of .NET exceptions, `args` and `dict` are *both* `NULL`, so the `Decref` on the result of this function will fail, could be that even the cast to `PyBaseExceptionObject` is already broken.

[2016-11-07 17:08] denfromufa commented on #284
Can't you use dill instead pickle?

I just tried and it works!

In [1]: import clr
In [2]: import dill
In [3]: dill.dumps(Exception())
Out[3]: '\x80\x02cexceptions\nException\nq\x00)Rq\x01.'

On Mon, Nov 7, 2016, 11:00 AM Benedikt Reinartz <notifications@github.com>
wrote:

The reason for this seems to be the implementation of BaseException's reduce
:

/* Pickling support */
static PyObject *
Base

[2016-11-07 17:11] filmor commented on #284
I could maybe do that to silence this particular error on my end, yes. However, this doesn't really fix the problem that you can easily kill the interpreter using this ;)

It happened to me when returning an exception object from a function run in a `ProcessPoolExecutor`, very difficult to debug ...

[2016-11-07 17:25] denfromufa commented on #284
I agree that crashing interpreter is not good :)

If dill does not work for your case, then there is also cloudpickle used by
PySpark.

On Mon, Nov 7, 2016 at 11:11 AM, Benedikt Reinartz <notifications@github.com

[2016-11-07 19:46] denfromufa opened #285 "acquire GIL by default when making PyObject calls"
Right now the GIL has to be acquired for each call to PyObject functions or methods. Maybe these should be with GIL acquired by default? We can include context manager to force releasing of GIL by explicit request.

[2016-11-08 03:51] denfromufa commented on #284
this also works with cPickle (pickle speed up with C), but gives a
different hash:

In [3]: dill.dumps(Exception())
Out[3]: '\x80\x02cexceptions\nException\nq\x00)Rq\x01.'
In [4]: import cloudpickle
In [5]: cloudpickle.dumps(Exception())
Out[5]: '\x80\x02cexceptions\nException\nq\x00)Rq\x01.'
In [6]: import cPickle
In [7]: cPickle.dumps(Exception())
Out[7]: 'cexceptions\nException\np1\n(tRp2\n.'

[2016-11-08 05:59] filmor commented on #284
2 comments:

1. You are apparently using Python 2 (`cPickle`), which uses an additional hack to make the exceptions work as old-style classes. I'm using Python 3.
2. Are you sure you are using a `System.Exception`? In anycase, the output looks like it will just unpickle to an `exceptions.Exception` instance.

[2016-11-08 08:02] filmor commented on #270
While we're at it, I guess that Python 3.2 can also be dropped, leading to support for 2.7 and 3.4-6.

[2016-11-09 04:15] denfromufa commented on #234
if any of contributors needs a license to full JetBrains Product suite (Resharper, PyCharm, Rider, CLion, Intellij Idea), which can only be used for non-commercial development, then please let me know here or at my email address at denis(dot)akhiyarov(at)gmail(dot)com

We have total of 15 licenses on first come first serve basis until filled out.

[2016-11-09 06:48] denfromufa commented on #270
@filmor how about 3.3? according to python docs it should retire in about one year:

https://docs.python.org/devguide/#status-of-python-branches

[2016-11-09 07:01] liumuqing commented on #209
don't have to install `libgtk-3-dev`
just `apt-get install libglib2.0-dev` is enough

[2016-11-09 07:23] denfromufa commented on #285
here is how this was done by @matthid in F#:

https://yaaf.de/blog/post/2016-05-28/Having%20Fun%20with%20Computation%20Expressions

[2016-11-09 07:54] denfromufa commented on #209
feel free to contribute your findings on troubleshooting wiki and then post an update here or on mailing list:

https://github.com/pythonnet/pythonnet/wiki/Troubleshooting-on-Windows-and-Linux

[2016-11-09 10:18] filmor commented on #270
Does that help us? From what I saw until now (which is admittedly not nearly all of the code) we don't use anything in the code that would expect Python >=3.4.

[2016-11-10 09:29] makalu79 commented on #283
Yes, that would be possible. But when using "3rd party" assembly, that would mean to write wrappers around every method including range checking. Of course, if the .NET method has overloaded signature which just differs by an argument being either unsigned or signet integer, we're out of luck! But the strage thing is, the exact same code worked in pythonnet 2.0.0. I tried to attach a patch file fo

[2016-11-10 17:35] filmor commented on #223
I'll add this as soon as #286 is merged. We are setting a slot there anyhow (`args`), we might as well extend this.

[2016-11-10 17:49] #284 closed

[2016-11-10 17:49] denfromufa commented on #223
@filmor I merged #286

[2016-11-10 18:05] filmor commented on #178
@leomeuk Could you verify that this is fixed?

[2016-11-11 19:53] stonebig commented on #272
winpython-2.6.0.0Preview is out, in case it can help

[2016-11-16 04:18] denfromufa opened #288 "can't open file 'tools/geninterop/geninterop.py': [Errno 2] No such file or directory"
https://github.com/pythonnet/pythonnet/issues/241#issuecomment-233685378

[2016-11-16 05:03] denfromufa opened #290 "import exceptions need to be reported when using .NET dlls from Python"
reported by @ZhukovGreen:

http://stackoverflow.com/questions/40037684/adding-reference-to-net-assembly-which-has-dots-in-name-and-namespace

[2016-11-16 07:20] filmor commented on #290
This is a duplicate of #261.

[2016-11-16 12:36] denfromufa commented on #290
That issue is for c# side, this issue is for Python side.

On Wed, Nov 16, 2016, 1:20 AM Benedikt Reinartz <notifications@github.com>
wrote:

[2016-11-16 12:40] filmor commented on #290
It isn't. I know that very well because I opened the other issue :)

[2016-11-16 14:48] #288 closed

[2016-11-21 17:48] denfromufa commented on #290
closing, I agree that this is duplicate. Needs to report import errors on both sides of the interop bridge.

[2016-11-21 17:48] #290 closed

[2016-11-23 07:39] var1ap commented on #96
Hi, I started work toward Python.Net Core edition in this fork https://github.com/var1ap/pythonnet , stay tuned.

[2016-11-24 11:23] oyse opened #292 "Adding new attributes to .Net classes is unstable"
I have a problem with adding attributes to .Net classes being unstable. E.g.

[code]

This code will sometimes work and other times fail with the exception 'TimeSpan' object has no attribute 'my_method'.

The failure rate is variable and for some scripts/program it will work all the time while for others it will not work at all. It seems to fail a lot more often on Python 3.5 than on Python 3.4.

[2016-11-25 12:00] filmor commented on #292
Closed by #293

[2016-11-25 12:00] #292 closed

[2016-11-29 14:23] rmadsen-ks opened #296 "Python.Runtime.Converter support for converting from/to PyObject"
I have a C# class, lets call it MyCSClass, that I intend to be inherited from a Python class and used like this:
[code]
When an instance of MyPythonClass gets passed to C#, it gets converted to a MyCSClass and is stripped of all the attributes. Even if the method called in CS takes it as a dynamic or PyObject. An example of this could be the __init__ method above calling into the following C# code

[2016-11-29 14:32] denfromufa commented on #296
Did you instantiate your Python class MyPythonClass in C#, before accessing
its members?

On Tue, Nov 29, 2016, 8:23 AM rmadsen-ks <notifications@github.com> wrote:

[2016-11-29 14:53] rmadsen-ks commented on #296
In the specific case, ```__init__``` is setting a (non-virtual) property of the base class, but I can confirm that it also happens outside of ```__init__```.

I do this:
[code]
I get the converted MyCSClass instance inside self.Callback, if the argument is dynamic. If I instead choose PyObject as the type of the argument I just get the following error:

'TypeError : No method matches given argumen

[2016-11-29 14:59] rmadsen-ks commented on #296
Note pull request #297

[2016-11-29 19:57] denfromufa commented on #296
here is related issue with some tips from @tonyroberts:

https://github.com/pythonnet/pythonnet/issues/94

https://github.com/pythonnet/pythonnet/issues/94#issuecomment-136975931

[2016-11-30 16:11] cadourian commented on #276
Hi,

I was getting the same exact error as "jcarole  commented on Oct 25 " using PythonNet 2.1.0 and then using 2.2.0 from Python 2.7.12 64-bit version and then I tried the python2.0.0 binaries from https://pypi.python.org/pypi/pythonnet/2.0.0

It all worked nicely after that. So, something is broken from 2.0.0 to 2.1.0 and onwards.
The example I used was to communicate with the CAD tool NX from P

[2016-11-30 16:41] cadourian commented on #276
Well, in the example above, the code
a=NXConnect.connect() succeeds, but there are other issues with type casting.

[2016-12-02 13:48] snarb opened #299 "Py.Import returns null when importing tensorflow"
Py.Import returns null when importing tensorflow at the same time python from command line or from IDE works with that import without any problems.

[2016-12-02 16:12] denfromufa commented on #299
Can you share your environment and exact code?

On Fri, Dec 2, 2016, 7:48 AM Pavel Konovalov <notifications@github.com>
wrote:

[2016-12-03 21:35] filmor commented on #299
It could help debugging to do a `throw new PythonException()` immediately after the `Py.Import`. In fact, I think this should be done in any case, instead of returning `null` here.

[2016-12-04 04:21] vmuriart commented on #234
@freakboy3742 did you have any luck daisy-chain poking @tiran ?

[2016-12-04 07:42] denfromufa commented on #96
@var1ap this is great news, do you agree to transition from Zope to MIT license, if your port is successful?

[2016-12-04 07:45] denfromufa commented on #119
@tonyroberts @vmuriart @filmor I would like to resolve this issue before doing a release. This is breaking "import clr" on Ubuntu/Mint, Fedora.

In cx_freeze the check for PYTHON_ENABLE_SHARED is completely disabled now, maybe we should do the same?

I will try to get this tested now:

https://github.com/pythonnet/pythonnet/pull/300

[2016-12-04 08:04] matthid commented on #203
Just an idea: Maybe Roslyn can help with issues like these. If we can re-use their (or parts of their) overload resolution logic we don't need to reimplement the spec.

On the other hand: Going a different route is valid as well. In F# you actually need to mark implicit casts with an operator (while this case would still work as everything is an object)

[2016-12-04 08:13] denfromufa commented on #203
@matthid i was thinking about re-using roslyn as well, but then we have a lot of python-specific logic.

what do you mean by "On the other hand: Going a different route is valid as well"?

[2016-12-04 09:55] matthid commented on #203
What I meant was that pythonnet doesn't need to mirror C# overload resolution logic. Instead it is completely fine to define its own (possibly simpler) logic. For this issue I'd say that most people expect this to work. But IMHO it could be closed as "wontfix" as well (and say that "by-design" types need to match exactly).

It depends on what spec/design guideline this project follows. As you are

[2016-12-04 10:09] pkonovalov-softheme commented on #299
That is anaconda with python 3.5 + tensorflow. I can give remote access with team viewer to that env with installed VS and pythonnet sources. I can debug and see that looks like Py.Import return some error. But it structure is very unclear for new guy in this topic, like me.

[2016-12-05 02:26] freakboy3742 commented on #234
@vmuriart Unfortunately not. I'll try again.

[2016-12-05 08:00] denfromufa commented on #299
Using importlib I found the exception thrown in `tensorflow.python.platform.flags`
[code]

[code]

I think the problem is that in pythonnet we are not setting `sys.argv`, like suggested in this question.

http://stackoverflow.com/questions/12230210/attributeerror-module-object-has-no-attribute-argv-when-using-python-h

@filmor what do you think?

[2016-12-05 13:11] var1ap commented on #96
@denfromufa of course agree.

[2016-12-05 13:44] var1ap commented on #96
greate news!
https://github.com/var1ap/pythonnet/commit/2b508fd3fda1f67db6785b03a409b9edd0e67686
i managet to get pythonnet work under dotnet core 1.1(Win x64)

[2016-12-05 18:41] denfromufa commented on #299
@pkonovalov-softheme I'm able to import tensorflow in pythonnet with this temp fix.

make a file `setsysargv.py` and save it in site-packages folder:

[code]
import it before tensorflow:

[code]

[2016-12-05 20:38] filmor commented on #299
Maybe we could expose a `SetArgv` function on `Py`?

[2016-12-05 20:42] denfromufa commented on #299
@filmor it is already is, but it is not used in initialize:

https://github.com/pythonnet/pythonnet/blob/e4b91d7ea934eedf9e14b66c8e806889dc2b7728/src/runtime/runtime.cs#L2119

[2016-12-06 04:34] denfromufa commented on #299
I put together a pull request to resolve this issue:

https://github.com/pythonnet/pythonnet/pull/301

[2016-12-06 10:04] constructor-igor opened #302 "How to load different version of a loaded assembly (by AddReference)"
I execute tests for different versions of our SW and part of tests load version1 of 'production' assembly, other tests load version2 of the 'production' assembly.
But actually, according to ```print('net_assembly:', net_assembly)``` tests work with first loaded assembly file.

[code]

Seems, the issue related to #177.

[2016-12-06 17:44] denfromufa commented on #302
You can try with Reflection:

http://stackoverflow.com/questions/31408391/python-for-net-using-same-net-assembly-in-multiple-versions

[2016-12-06 17:49] denfromufa commented on #302
Just an idea, not sure if this works - you can load assembly into separate AppDomain:

https://github.com/pythonnet/pythonnet/issues/213

[2016-12-07 17:00] denfromufa commented on #119
@rihardsk @maksimlinio @Alvarz @mikofski @oysols this is now fixed in the master branch, by inspecting the output of ldd for libpython.

[2016-12-07 17:00] #119 closed

[2016-12-07 23:28] AlexCatarino opened #303 "Using pythonnet in docker container"
We are trying to support algorithms written in python in [QuantConnect](https://www.QuantConnect.com/)/[Lean](https://github.com/QuantConnect/Lean) (which is written in C#).
So far, we were able to accomplish that locally in Windows. However, we have to make it work in a docker container in order to launch algorithms in our servers, but we could't make pythonnet work in that environment.

Here are

[2016-12-07 23:46] denfromufa commented on #303
@AlexCatarino

- winforms is not available on linux.

- can you try with latest master of pythonnet? we fixed some issues with wrong libpython settings in some linux distros.

- can you replicate the settings from .travis.yml? particularly use mono version 4.2.4.4, due to bugs in later and previous versions.

[2016-12-07 23:53] AlexCatarino commented on #303
I am using the last master, when I install pythonnet using pip+git, right?
`pip install git+https://github.com/pythonnet/pythonnet`
Let me try mono 4.2.44! Thanks.

[2016-12-08 00:04] denfromufa commented on #303
yes, pip+git should get you the latest. but you should also add -U and
--force flags to force update the package.

On Wed, Dec 7, 2016 at 5:53 PM, Alexandre Catarino <notifications@github.com

[2016-12-08 04:37] denfromufa commented on #303
I apologize, WinForms is available on Mono, but I have not tested this:

http://www.mono-project.com/docs/gui/winforms/

[2016-12-08 13:34] AlexCatarino commented on #303
From my base image:
`docker run -it phusion/baseimage:0.9.19 /bin/bash`
I have replicated the setting from [.travis.yml](https://github.com/pythonnet/pythonnet/blob/master/.travis.yml). It did pass the test:
`python src/tests/runtests.py`

However, when I ran the example of embedding Python in .NET from pythonnet README, I got the same exception described above.

[2016-12-11 10:12] nikhil003 opened #305 "build python net on mac OS X el capitan"
I am trying to build python net on mac osx el capitan, i think i have completed all the dependency,
however i am still unable to build the library.

I am using python2.7 from miniconda, and installed mono 4.6.2
steps:

1. i cloned the master branch from python net github repo.
2. using python setup.py build_ext --inplace gives me [Error 2]

can anyone here give me idea on how to build python net o

[2016-12-11 21:32] denfromufa commented on #305
Here is a patch that needs to be applied on OSX, it hasn't been integrated yet:

https://github.com/pythonnet/pythonnet/issues/120

Also I suggest to use Mono 4.2.4.4.

Your error does not include the full traceback, so it is hard to tell the exact cause.

[2016-12-12 18:05] nikhil003 commented on #305
Thanks for the tip, i tried those patches with 4.6.2 but they didn't work.

Now i removed and installed 4.2.4.4 version with xamarin studio 5.10.3.27-0 and tried to compile it,

with just a addition of mono-2.pc to PKG_CONFIG_PATH, it started to work.

[2016-12-12 18:05] #305 closed

[2016-12-13 19:56] AlexCatarino commented on #119
After this fix, when you try to run nPython: `mono nPython.exe`, does it run?
In #303, I wrote what happens:
[code]
libpython is not linked dynamically with my python installation, thus setup.py compiled with the PYTHON_WITHOUT_ENABLE_SHARED flag.

If I remove this flag, I can execute nPython, but cannot import clr...

[2016-12-14 00:28] kdesimone commented on #269
Any update here?

[2016-12-14 01:14] denfromufa commented on #269
@kdesimone what kind of update are you expecting?

[2016-12-14 01:23] kdesimone commented on #269
I'm having same problem, different package. Wondering how he resolved it.

[2016-12-16 16:32] #296 closed

[2016-12-19 04:25] denfromufa commented on #245
@dmitriyse @royalstream how are you able to embed Anaconda's CPython using pythonnet on Linux? I tried the following and it is failing with `System.DllNotFoundException: python3.5m`, but `import clr` works fine:

dta@dta-Inspiron-N5050 ~ $ git clone https://github.com/pythonnet/pythonnet
Cloning into 'pythonnet'...
remote: Counting objects: 3228, done.
remote: Compressing objects: 100% (8/8), done

[2016-12-19 04:42] dmitriyse commented on #245
probably you need to add <CONDA HOME>\lib. Or create symlink from <CONDA HOME>\lib\libpython3.5m.so to <python.runtime.dll location>\libpython3.5m.so

[2016-12-19 05:22] denfromufa commented on #245
@dmitriyse do you mean to add \lib to search path of `$LD_LIBRARY_PATH`?

[2016-12-19 05:30] denfromufa commented on #245
@dmitriyse creating symlink did not resolve this. adding the libpython path to $LD_LIBRARY_PATH did not resolve the issue either.

[2016-12-20 23:34] jaredbroad commented on #303
@denfromufa any thoughts on how to fix this? Its blocking using Python.Net in our platform / https://github.com/QuantConnect/Lean (It works fine in windows)

[2016-12-21 02:44] denfromufa commented on #303
I have similar issues with embedding CPython using pythonnet on Linux:

https://github.com/pythonnet/pythonnet/issues/245

Scroll to bottom of the issue.

I will try more, but I do have expertise on how Python works on Linux,
particularly dlopen behavior. I got it working in the past, but somehow it
broke again.

Perhaps posting on mailing list or SO will get more useful suggestions.

Also some py

[2016-12-24 16:04] stonebig commented on #272
python-3.6 final is out

[2016-12-27 11:47] var1ap commented on #96
Also pythonnet successfully ported to dotnet core 1.1(Linux x64 Ubuntu 16.04) (in the same fork).
This is just Proof of concept. So somebody should port this project to CoreCLR with good code quality required for production projects.

[2016-12-27 16:16] pkonovalov-softheme commented on #299
Can be closed. Works. Thank you!

[2016-12-27 21:15] ArvidJB commented on #265
How about the following idea: we could reuse the work that the DLR has already done to support correct overloading resolution (for IronPython). To use that we would first convert the Python arguments to their corresponding .NET types and then let the DLR decide which of the overloads to pick. This should add support for named arguments, generic type inference, etc.
I tinkered with this a bit and I

[2016-12-30 16:51] hagrid67 opened #308 "populate the __dict__ for an imported namespace - different behaviour in python / ipython"
After an import in __ipython__, the `__dict__` for the imported namespace is automatically populated, but this does not happen in plain python.

http://stackoverflow.com/questions/41388118/pythonnet-how-to-populate-dict-ipython-does-python-doesnt

    python -c "import clr; clr.AddReference('System.Windows.Forms'); import System.Windows.Forms; print len(System.Windows.Forms.__dict__)"
    3

    i

[2017-01-01 16:23] dmitriyse commented on #96
Hi guys! Pythonnet really works under dotnet core >= 1.0(NetStandard1.5). Thank you very much var1ap for your research. I continued to work on porting pythonnet to dotnet core in this repo https://github.com/dmitriyse/pythonnet/tree/coreclr. Also I plan to improve my binary distribution and avoid any dll load magic. Finally we should get good nuget based distribution.

[2017-01-04 01:34] AlexCatarino commented on #303
[QuantConnect](https://www.quantconnect.com/)/[Lean](https://github.com/QuantConnect/Lean) is able to support python in Linux with pythonnet!

In order to do it, we needed to discarded changes made by #300. Since `ldd` does not show libpython, pythonnet is compiled with the PYTHON_WITHOUT_ENABLE_SHARED flag that results in the reported exception. On the other hand, without that flag, `import clr`

[2017-01-05 18:16] stonebig opened #309 "support python-3.6"
this requires: (https://github.com/pythonnet/pythonnet/pull/307#issuecomment-270578222 )
- changing:
  - **|| PYTHON35**
  - per **|| PYTHON35 || PYTHON36**
- in:
  - clrmodule/ClrModule.cs
  - src/runtime/converter.cs
  - src/runtime/delegateobject.cs
  - src/runtime/exceptions.cs
  - src/runtime/importhook.cs
  - src/runtime/interop.cs
  - src/runtime/interop35.cs
  - src/runtime/pythonengine.cs

[2017-01-05 20:34] denfromufa commented on #303
@AlexCatarino this is good finding! would you mind putting a pull request for this?

[2017-01-05 20:35] denfromufa commented on #308
this has been answered on SO, hence closing:

http://stackoverflow.com/a/41452764/2230844

[2017-01-05 20:35] #308 closed

[2017-01-06 01:21] AlexCatarino commented on #303
My "fix" is basically to undo #300. It would break what #300 fixes...

[2017-01-06 03:43] denfromufa commented on #303
I thought that you fixed both embedding and extending pythonnet?

What compilation flag do you mean?

On Thu, Jan 5, 2017, 7:21 PM Alexandre Catarino <notifications@github.com>
wrote:

[2017-01-06 03:44] #272 closed

[2017-01-06 03:53] denfromufa commented on #265
@ArvidJB this is interesting suggestion. One problem I see is that conversion from Python to .NET types can still be ambiguous even before letting DLR to do the overloading resolution. For example, passing a float could be converted to a single or a double, passing an integer could be converted to int16, int32, or int64.

Here are some comments from @matthid where he suggested to use Roslyn for th

[2017-01-07 12:29] #309 closed

[2017-01-07 21:03] vmuriart commented on #270
@denfromufa Python 2.6 is listed on Appveyor's list of [installed software](https://www.appveyor.com/docs/installed-software/#python) but 3.2 isn't.
@filmor I think @denfromufa 's point was that you didn't include py3.3 on your [first comment](https://github.com/pythonnet/pythonnet/issues/270#issuecomment-259070624).

I'm ok with dropping py26, py32, and even py33 since it seems to have less users

[2017-01-07 23:10] vmuriart commented on #270
According to `setup.py` [classifiers](https://github.com/pythonnet/pythonnet/blob/573f90367137b30519a6b204bed7fafc7b6877ef/setup.py#L340), we don't support py26. @tonyroberts [removed it](https://github.com/pythonnet/pythonnet/commit/8455a42f642df13e6c84b0780fd0448ae1ea8edc) when we added py3.5 for this very reason. In that case we could remove the classifiers for py32, py33 before the next releas

[2017-01-08 04:08] vmuriart commented on #234
I did some research on [precedents](https://dolphin-emu.org/blog/2015/05/25/relicensing-dolphin/) and found:

We're at 31/32 approved (96.8%) and had no objections from @tiran in the time we've tried to contact him. Looks like we are good to go with the re-licensing without having to rewrite @tiran's contributions.

[2017-01-08 09:01] dmitriyse commented on #165
Hi everybody. I started work that allows to separate  Python.Runtime.dll from python specific interop methods. This efforts will finally allows to load appropriate Python.Runtime.Interop-PyXX-UCS-X.dll by simply Assembly.LoadFromFile without any AssemblyResolve handling magic.
Please check this approach and advice me in any points (until is not too late).
https://github.com/dmitriyse/pythonnet/com

[2017-01-08 09:38] stonebig opened #315 "ADO.NET / ADOMD.NET examples"
Would it be possible to include simple examples in the pythonnet project for using :
- ADO.NET
- ADOMD.NET

Indeed,  pythonnet may be a simple way to browse "microsoft-technology data sources", but my .NET skills are limited, so the need for beginner examples (and/or nice links ?)

Links I found so far:
-  http://stackoverflow.com/questions/34846090/extracting-raw-data-from-a-powerpivot-model-usin

[2017-01-08 10:45] stonebig commented on #315
something like:
[code]

[2017-01-08 12:09] denfromufa commented on #315
Or another example where I needed to read very specific metadata:

http://stackoverflow.com/a/37712996/2230844

On Sun, Jan 8, 2017, 4:45 AM stonebig <notifications@github.com> wrote:

[2017-01-08 12:13] stonebig commented on #315
current try at pre-guessing what is available on one's system:
[code]

result for me:
[code]

[2017-01-08 12:17] stonebig commented on #315
my pyodbc similar, so I remember what I have:
[code]

gives:
[code]

[2017-01-08 13:11] dmitriyse commented on #165
Separation completed! You can inspect how it's finally looks.  https://github.com/dmitriyse/pythonnet/commit/1ea3773a0433c142a1a955d28b95b9d098fa5e79

[2017-01-08 14:40] stonebig commented on #315
Odbc via Pythonnet:
[code]

[2017-01-08 14:41] stonebig commented on #315
dao via pythonnet (this is where my office 32 empeach me to get a 64 bit driver)
[code]

[2017-01-08 18:47] vmuriart opened #316 "Implement support for ModulePropertyAttribute"
Copying from [todo](https://github.com/pythonnet/pythonnet/blob/573f90367137b30519a6b204bed7fafc7b6877ef/doc/TODO.txt#L7)

[2017-01-08 18:47] vmuriart opened #317 "Replace CLRModule.preload code with ModulePropertyAttribute specific code."
Copying from [TODO](https://github.com/pythonnet/pythonnet/blob/573f90367137b30519a6b204bed7fafc7b6877ef/doc/TODO.txt#L9)

[2017-01-08 20:43] filmor commented on #302
To me this doesn't seem to be in scope of the project (as it's something that you have to discuss with your .NET virtual machine directly), so I'll close this issue. If you object, please feel free to reopen :)

[2017-01-08 20:43] #302 closed

[2017-01-08 20:45] filmor commented on #282
We don't have any requirements besides `setuptools`. Is it okay to close this issue until we have?

[2017-01-08 21:16] denfromufa commented on #282
Actually we have also `six`, `wheel`.

[2017-01-08 22:03] tarpista opened #318 "C# .NET windows form example with python calls"
I would like to ask that would it be possible to have an example .NET winform application which imports some python module, (ie numpy) and makes some call from it? I could not realy find such anywhere, and my trial fails right at the begining with

Here is my code:

[code]

Error details:
![error](https://cloud.githubusercontent.com/assets/23481162/21753849/9ed8daae-d5f5-11e6-985e-c4a989f39e42.png

[2017-01-08 22:39] #67 closed

[2017-01-09 00:06] denfromufa commented on #317
What is the benefit of this change and what problem does this solve?

[2017-01-09 00:17] vmuriart commented on #317
@denfromufa I'm doing some cleaning on the [project](https://github.com/vmuriart/pythonnet/tree/cleanup-files) and needed somewhere to put the items from the `TODO.txt` list.

[2017-01-09 00:20] vmuriart commented on #214
@denfromufa can you write a test for this? The references to the `snk` file seem to be broken so we can probably fix this.

[2017-01-09 00:23] vmuriart opened #319 "Automate version update"
Add `bumpversion` or similar tool

[2017-01-09 01:10] #317 closed

[2017-01-09 13:49] tarpista commented on #318
I have several versions of pythons on my machine, my main goal was to be able to use ony of my conda virtual environments (C:\PythonEnvs\NNDLM_conda\) which has version "Python 2.7.13 :: Continuum Analytics, Inc."

If I check the registry entry for .NET version in .../NET Framework Setup/NDP/v4/Full there I have Version = 4.6.01055

I am using Win7 Pro 64 bit. Python is not registered in the path.

[2017-01-09 15:21] filmor commented on #223
Closed by #287.

[2017-01-09 15:21] #223 closed

[2017-01-09 15:44] filmor commented on #270
I think it's okay for now to just drop 3.2 and 2.6 officially, and for the next release actually rip out code that is just needed for those versions and 3.3.

[2017-01-09 15:47] filmor opened #321 "Release 2.2.1"
I guess it's general consensus (even though we have a `v2.2.0` tag which is incompatible with our conda recipe) that we haven't released, yet, so I'd like to list up what's to do and to merge before we deem this done (and maybe we'll hold off merging new features until then):

- [x] Get rid of the `v2.2.0` tag
- [x] Merge #314 to finalise the license change
- [x] Merge #320
- [x] Drop Python 2.6 a

[2017-01-09 17:39] denfromufa commented on #321
I plan to work on release on Sunday

[2017-01-09 17:58] vmuriart commented on #321
@filmor I don't see a tag for `v2.2.0`. The draft references the tag, but doesn't actually point to an existing one. Not sure if someone already deleted it but marking that first item out :)

[2017-01-09 18:32] vmuriart commented on #270
I removed the py3.2 tag. If I understood correctly we're removing py3.3 after v2.2.0 release along with the refactoring of dropping all 3 versions.

[2017-01-09 18:38] vmuriart commented on #321
I'm not familiar with the issue since I work on windows. @denfromufa was that an issue introduced on or after `v2.1.0`?

[2017-01-09 20:21] filmor commented on #242
I can't reproduce this. Either give a concrete example or close the issue.

[2017-01-09 21:18] denfromufa commented on #242
i cannot reproduce either

[2017-01-09 21:18] #242 closed

[2017-01-09 23:15] vmuriart commented on #262
This occasionally also shows up when using `nunit`. If all tests run at once, the first test will pass, and every test after fails, regardless of which tests it is (ie, not just `pyimport.cs`).

If I run each test separately they run with no problems.
The issue isn't present on `v2.0.0` e5c4e749b0bc8784b9cb0db4295dac82bec984ea, but it is on the commit right after 138bda7260b77e9bd0d2ca4f1447fbc5f0

[2017-01-10 13:29] filmor commented on #262
I'm actually pretty certain that this always happens if we do `PythonEngine.Initialize()` after a previous `PythonEngine.Shutdown()`. I've experienced the same issue while running unit tests with NUnit, gaven't come far debugging this, though.

[2017-01-10 18:35] cowboygneox opened #322 "Pythonnet Docker images"
Hey guys,

For my Docker infrastructure, I threw together a couple of Docker images that will make it *way* easier to develop, test, and distribute code that leverages pythonnet. I think this would benefit most people in a Docker-based CI environment (ex. Gitlab), but I expect this will help others as well.

If you're interested in combining efforts on this, let me know!

https://hub.docker.com/r/

[2017-01-10 18:59] denfromufa commented on #322
related:

https://github.com/pythonnet/pythonnet/issues/240

https://github.com/pythonnet/pythonnet/issues/303

cc @benley @AlexCatarino @jaredbroad

[2017-01-10 19:01] denfromufa commented on #322
@cowboygneox are you able to both extend and embed pythonnet using these docker images?

[2017-01-10 19:14] cowboygneox commented on #322
@denfromufa "extend" and "embed" are ambiguous terms in my scattered brain. I believe that what I've produced is "embedded", since I already installed pythonnet 2.1.0 within the container. Any future `pip install pythonnet==2.1.0` and the requirement will be satisfied.

As for "extend", I'm not sure what you are looking for. Can you elaborate?

[2017-01-10 19:32] benley commented on #322
I'm no longer working at the company where I was using pythonnet, so I probably won't be maintaining my Dockerfile variant in the future.  Please feel free to fork/extend/take-over from https://github.com/benley/docker-wine-python-dotnet if it's of any use to you!

[2017-01-10 19:47] vmuriart commented on #262
@filmor absolutely right. Just wrote a test on it and got it to fail by just doing
`PythonEngine.Initialize()`
`PythonEngine.Shutdown()`
`PythonEngine.Initialize()`

and verified that it did work on `v2.0.0`

[2017-01-10 19:51] stonebig commented on #315
I don't succeed to make this DAO.NET above work on my windows10 PC with legacy Office2007.  Can someone confirm the code is correct ?

[2017-01-10 21:28] denfromufa commented on #322
embedding and extending are terms used in CPython C-API:

https://docs.python.org/3/extending/

[2017-01-10 21:57] cowboygneox commented on #322
@denfromufa It is my understanding that Docker does not prevent either. If you can do it with Python's Docker image, then mine is no different.

[2017-01-11 09:18] #234 closed

[2017-01-11 11:25] luketg8 commented on #269
@kdesimone I had the same issue, but then ran 'sudo -H pip2.7 install pythonnet' and fixed it, it seemed to be due to me having 2 different versions of pip (2.7 and 3.5) and the former not having access to the caching wheels

[2017-01-11 13:52] kdesimone commented on #269
Wow, thank you for the update!

On Wed, Jan 11, 2017 at 6:25 AM, Luke Greenwood <notifications@github.com>
wrote:

[2017-01-11 15:58] luketg8 commented on #269
Hope it worked for you too!

[2017-01-11 21:00] denfromufa commented on #318
If you are new to Python, then please only install one version of Python
and work with it.

Using multiple versions of Python on one machine requires a very careful
setup.

Did you go through troubleshooting wiki?

On Mon, Jan 9, 2017, 7:50 AM tarpista <notifications@github.com> wrote:

[2017-01-11 22:14] JimSEOW commented on #318
I had similar problem and the [wiki ](https://github.com/pythonnet/pythonnet/wiki/How-to-embed-python-scripts-in-your-.Net-project-use-pythonnet%3F)does not help me when I get stuck at

`PythonEngine.Initialize(); //<- Error occurs here.
`

A straight forwards **download and run** simple example on how to embed will really help to debug how to python environment causes the error above.

[2017-01-12 03:27] vmuriart commented on #215
#310

[2017-01-12 03:27] #215 closed

[2017-01-12 04:01] Thraka opened #323 "Can't seem to compare DateTime"
This code throws an exception:

[code]

The error is

[2017-01-12 04:18] vmuriart commented on #323
Could you provide a bit more information?

Pythonnet version?

Python version?

os?

[2017-01-12 04:29] Thraka commented on #323
Pythonnet 2.1.0
Python 3.5
Windows 10 x64

[2017-01-12 04:39] vmuriart commented on #323
Possibly related to https://github.com/pythonnet/pythonnet/pull/294

If you want you could try running the latest dev from the [ci](https://ci.appveyor.com/project/vmuriart/pythonnet-olooj/build/job/26d6l1wnh6mw8s7p/artifacts)

[2017-01-12 05:17] vmuriart commented on #323
@Thraka replicated your issue on [2.1.0](https://travis-ci.org/vmuriart/pythonnet/jobs/191201515) and tested it under [latest commit](https://travis-ci.org/vmuriart/pythonnet/jobs/191202272) and its good.

[2017-01-12 09:35] tarpista commented on #318
Yes, I checked troubleshooting wiki, but could not succeed with it. Finally I found a workaround by using pythonnet in the other direction (as almost everyone does.), ie making .NET calls from python.

Basically now I make my gui in .NET (C#), and import it in python.
In example my C# code looks like this:
[code]
As a post-build event in Visual Studio, I copy the compiled ``NeuralNetsGUI.exe`` fil

[2017-01-12 16:18] Thraka commented on #323
Good to hear!

[2017-01-12 16:18] #323 closed

[2017-01-12 16:52] Thraka opened #325 "Best way to distribute a python app that calls out to custom DLLs?"
I finished porting a small game to Python using Python.Net and I wanted to distribute it. Can I have some guidance on how to package this up for others to use? I'm not familiar with anything around this and barely understand how python works with paths and an env. I'm not sure what I should read or where to go to know what I'm doing is correct for something with .NET.

[2017-01-12 17:20] matthid commented on #325
I don't know if it's the best way but I came up with https://github.com/matthid/googleMusicAllAccess/blob/develop/readme.md just take a look.  Basically I'd recommend to copy a working python installation when deploying...

[2017-01-12 17:34] denfromufa commented on #325
@Thraka you have few options:

1. Use pyinstaller (some have used cx_freeze):

https://github.com/pyinstaller/pyinstaller/issues/1801

2. Use nuitka:

http://stackoverflow.com/a/39952006/2230844

3. Build an installer using constructor from conda or pynsist:

http://pynsist.readthedocs.io/en/latest/faq.html#alternatives

[2017-01-12 23:23] cowboygneox commented on #322
@denfromufa I don't want this to fallout of short-term view. Are you interested in converging this effort somehow?

[2017-01-13 01:19] vmuriart commented on #262
Almost got it, its a messy one... this [section](https://github.com/pythonnet/pythonnet/blob/82a470b8073851f01d9f91a924c5015873b18f43/src/runtime/pythonengine.cs#L132-L135) creates an exception that gets taken care of by [moduleobject](https://github.com/pythonnet/pythonnet/blob/82a470b8073851f01d9f91a924c5015873b18f43/src/runtime/moduleobject.cs#L350-L361) the first time around when `interactive_

[2017-01-13 21:59] vmuriart commented on #165
@dmitriyse did you mean only those specific commits are needed or all the commits upto those commits?

[2017-01-14 08:34] dmitriyse commented on #165
This branch contains two significant changes: 1) Port to DotNetCore (with ability to build Mono compatible version through dotnet core compiler) 2) and then separation of logic and Python/Platform specific interops methods.

[2017-01-14 08:41] dmitriyse commented on #165
I plat to debug dotnet core port for linux in the next month and some new build scripts that will helps to build nuget package. I can even built it with wide variety of Python/Platform support but have no environment and time to test it. If somebody spend time to adopt current (setup.py) build system for my new features, we will finally get cool nuget package that will works in any environment and

[2017-01-14 08:43] dmitriyse commented on #165
I will merge soon environment detector from my previous binary distribution to this branch.

[2017-01-14 21:34] vmuriart commented on #165
Looks like Dotnetcore is [migrating](https://blogs.msdn.microsoft.com/dotnet/2016/05/23/changes-to-project-json/) back to `csproj` files from `xproj`. You have some code changes embedded with folder structure changes, making it a bit harder to see what all changed.

[2017-01-14 23:01] vmuriart commented on #224
Add the [disabled] configs on https://github.com/pythonnet/pythonnet/commit/a356dcc7740b28dbe631b6fdb11bdc83384298f6

Even after patching #262, the are other similar issues that are affecting Python3 in Appveyor.
Travis fails on all of them.

[2017-01-15 17:49] mdk73 opened #327 "Ubuntu 16.04, Mono, ARM7 RPi: Backtrace stopped - previous frame identical to this frame (corrupt stack?)"
I try to install pythonnet on a raspberry pi:

**Ubuntu**
- Release 16.04.1 LTS (Xenial Xerus) 32-bit
- Kernel Linux 4.1.19-v7+ armv7l
- MATE 1.12.1

**Hardware**
- Memory: 925,8 MiB
- Processor: ARMv7 Processor rev 4 (v7l) × 4

**Mono**
mono-complete is already the newest version (4.2.1.102+dfsg2-7ubuntu4).

**Python**
- Python 3.5.2 (default, Nov 17 2016, 17:05:23)
- [GCC 5.4.0 20160609] on linu

[2017-01-15 19:24] denfromufa commented on #327
You need to install clang compiler:

http://askubuntu.com/a/509223/376262

On Sun, Jan 15, 2017, 11:49 AM mdk73 <notifications@github.com> wrote:

[2017-01-15 19:52] mdk73 commented on #327
You were right, thanks for the hint.

Unfortunately `pip install ...` is still giving an error:
[code]

[2017-01-16 03:00] denfromufa commented on #327
It looks like Mono installation does not recognize the required .NET 4.0+
runtime in the projects' and solution's files.

Can you try to replicate Mono installation from travis.yml including
version?

On Sun, Jan 15, 2017, 1:52 PM mdk73 <notifications@github.com> wrote:

[2017-01-16 12:18] filmor commented on #262
Still don't fully understand the issue, however, I think the whole `preload` logic is superfluous. We can get the same behaviour by simply loading all names as soon as `__dir__` is called.

[2017-01-16 18:47] mdk73 commented on #327
Here is a summary of the steps I did (a file with the complete log is attached)
[pythonnet_commands_and_traceback_20170116_1945.txt](https://github.com/pythonnet/pythonnet/files/709160/pythonnet_commands_and_traceback_20170116_1945.txt)
:
- sudo -H add-apt-repository -y "deb http://archive.ubuntu.com/ubuntu/ trusty main universe"
- sudo apt-get install software-properties-common
- sudo -H apt auto

[2017-01-16 21:13] stonebig commented on #321
release cut for Anaconda looks like tomorrow

[2017-01-16 22:09] denfromufa commented on #321
@stonebig I'm able to access pythonnet on anaconda now. I plan to work on release tonight.

https://anaconda.org/pythonnet/pythonnet

[2017-01-17 16:09] denfromufa commented on #327
you need to install glib-2.0 using this command (your command did regex on available packages):

sudo apt-get install libglib2.0-dev

[2017-01-17 17:42] mdk73 commented on #327
Thanks again for your support!

Yes, `sudo -H apt-get install libglib2.0-dev` did the trick, after that I could succesfully install pythonnet with `sudo -H pip3 install pythonnet --pre -U`.

Now I tried to run a script developed and working under Windows, and it failed.
A minimal working example:
[code]
gives the following traceback:
[code]

[2017-01-17 18:49] denfromufa commented on #327
this answer suggests that some wrong C code is written either in pythonnet C API calls to Mono runtime or in the Mono runtime itself:

http://stackoverflow.com/a/23680335/2230844

I have no expertise to debug this, maybe you can send issue to bug tracker of Mono project.

[2017-01-17 23:51] denfromufa commented on #327
apparently there are known issues with mono support on raspberry + arm:

https://www.raspberrypi.org/forums/viewtopic.php?f=66&t=11634

[2017-01-18 14:19] tarpista opened #328 "Is it possible to debug imported .net module (ie from pycharm)?"
Hello Guys,

I wonder if is there any way to debug my imported .net module? Running my program in visual studio does not rise the error, only when I am trying to use it from python (in pycharm).

I already enabled JIT debugging on my computer and in my .net application. JIT debugging works fine if I run the exe file and make some error for testing.

But when I import my module in python (pycharm)

[2017-01-18 19:06] denfromufa commented on #328
What are you trying to debug: python code which is using .NET dlls or .NET code called from python? Can you provide minimal reproducible example that can be tested in Visual Studio or PyCharm?

PyCharm cannot debug .NET code.
PTVS can do mixed-mode cross-language debugging.

[2017-01-19 09:12] tarpista commented on #328
Hello,
Thanks for the information! Is there anything I should set in Visual Studio (PTVS) to make the debugger to start upon error? Now the same thing happens in VS:  only the usual error dialog box pops up.

 I would like to debug my .net code (dll) called from python.

Maybe I am missing something... Is it possible to use/add my C# code to python as a source instead of the compiled dll/exe  in P

[2017-01-21 19:42] stonebig commented on #321
tonight ?

[2017-01-21 20:01] denfromufa commented on #321
I'm working on it

On Sat, Jan 21, 2017, 1:42 PM stonebig <notifications@github.com> wrote:

[2017-01-22 06:13] denfromufa commented on #262
until we find a way for clean initialize and shutdown, can we get rid of setup and teardown of nunit tests in the meantime? so just have one initialize and one shutdown for all embedding tests.

[2017-01-22 10:54] vmuriart commented on #262
@denfromufa That may work since I'm adding a test explicitly for this. I want to understand this issue a bit more before doing that change.
@filmor I don't think this issue should block 2.2.0. The issue is going to take a while to properly figure out.

[2017-01-22 23:39] denfromufa commented on #328
@tarpista can you provide your VS solution with C# and Python projects? Otherwise it is hard to see where your problem is coming from. Also report Python, .NET, Windows, VS and PTVS versions.

[2017-01-22 23:43] denfromufa commented on #322
@cowboygneox I'm interested in converging the effort, but after v2.2.0 release.

[2017-01-22 23:51] denfromufa opened #330 "pypy support in pythonnet"
cpyext is mature enough (numpy, cython, scipy, pandas soon) to support pythonnet in pypy. In fact pypy used to have a branch which ran on top of CLR (similar to IronPython), but this branch is not maintained.

The use of pypy in .NET is quite popular request:

http://stackoverflow.com/questions/6084697/is-it-possible-to-embed-pypy-into-a-net-application

The only limitation of pypy is 32-bit on Wi

[2017-01-23 00:21] cowboygneox commented on #322
@denfromufa Ping me when ready.

[2017-01-23 06:16] denfromufa commented on #330
https://bitbucket.org/pypy/pypy/src/default/pypy/module/cpyext/

[2017-01-23 09:41] limdaepl opened #331 "Calling 'params' method with single argument fails"
### Environment

-   Pythonnet version: 2.1.0
-   Python version: 2.7.10
-   Operating System: Microsoft Windows 7 Professional 6.1.7601 Service Pack 1 Build 7601

### Details

When calling a method with the [params](https://msdn.microsoft.com/en-us/library/w5zay9db.aspx) keyword with a single argument I get

To reproduce:

C#:
[code]

Python:
[code]

This is probably related to the meta-issue #26

[2017-01-23 11:14] tarpista commented on #328
My question was rather general then actually solving some very recent errors in my code. I was asking that is it possible in any way to debug my .NET dll which I import in python?

I think it is not possible (at this moment). The cross-language debugging you are referring is related to simultaneous debugging of native and managed code, ie. python and C. I did not find possibility for C# and python

[2017-01-25 05:13] denfromufa commented on #321
@filmor @vmuriart  I removed this from v2.2.0 based on our discussion:

- [ ] Merge #301 or an alternative using `PySysSetArgvEx`

But I also added this:

- [ ] Upload to testpypi and test

[2017-01-25 05:19] vmuriart commented on #321
I'm ok with merging #301 with exception of the last commit. If that one commit gets reverted it solves the original intent of #301 and closes #299. The last commit feels like an *extra* feature that may need more testing.

[2017-01-25 05:21] vmuriart commented on #321
good call on testpypi. Though I think @tonyroberts only gave you access to the pypi account.

[2017-01-25 05:27] denfromufa commented on #321
@vmuriart I have access to both pypi from @tonyroberts and to testpypi from @davidanthoff
do you have pypi and testpypi accounts?

[2017-01-25 05:33] denfromufa commented on #321
@vmuriart but I think it should be like this: PySys_SetArgvEx(*1*, pylistargv, 0)

[2017-01-25 05:43] vmuriart commented on #321
@denfromufa yes on both pypi and testpypi.
ok, sounds like we'll be holding off on #301 then.

[2017-01-26 10:28] rmadsen-ks commented on #328
@denfromufa, @tarpista,

I have some similar issues. I am not using pycharm though. I am able to use the debugger in PTVS when the application starts as a python application, calls into C# code, which calls Python code, but not when the python code is embedded in a C# application. So:

- Python -> C# -> Python  : Debugging works.
- C# -> Python : Debugging does not work.

I have tried many differe

[2017-01-26 11:48] JimSEOW commented on #328
I have similar issue with C# -> python
I compile the above example, change the preload library path. I tested import clr with the path and it works.

`
public static void Main(string[] args)
{
    LoadLibrary(@"C:\python35\python35.dll"); // preload python35 so we are sure it is found.
    PythonEngine.Initialize();
    string modulePath = args[0];
    using (Py.GIL())
    {
        PythonEngine.I

[2017-01-26 11:52] tarpista commented on #328
Thank you for the example. That sounds interesting! Though I could not realy get the point. Why do you need the C# in between if you end up with python code also? Can you put a break point in the C# code as well?

I could not set up C# -> Python direction properly (I am having some error with the Python.Runtime.dll I guess), so I ended up using Python -> C# direction instead. (In which debug does

[2017-01-26 12:14] JimSEOW commented on #328
Finally, I am able to get the example to work ONLY from python -> c# -> embeded code as discussed above.

`
using (Py.GIL())
{
  dynamic np = Py.Import("numpy");
  dynamic sin = np.sin;
  Console.WriteLine(np.cos(np.pi*2));
  Console.WriteLine(sin(5));
  double c = np.cos(5) + sin(5);
  Console.WriteLine(c);
  Console.ReadKey();
}
`

Direclty running c#-> embeded code lead to

`Additional informat

[2017-01-26 12:16] rmadsen-ks commented on #328
@JimSEOW, thanks for trying it out. Probably it did not find Python.Runtime either, since you are using python35.

Seems to be a problem with the hint path, I have made a modification that should fix this.

@tarpista, sorry, I might have misunderstood your issue. The system I'm working uses a plugin based architecture. Currently you can write plugins in C#, but we want to extend to make it possibl

[2017-01-26 12:21] rmadsen-ks opened #332 "Debugging embedded python code"
Discussion started here #328, but the issue is actually not related. Hence I have copied a bit of what I wrote there
I have some issues debugging embedded python code. I am able to use the debugger in PTVS when the application starts as a python application (starts with python.exe), calls into C# code, which then calls Python code, but not when the python code is embedded in a C# application. To s

[2017-01-26 12:22] rmadsen-ks commented on #328
@JimSEOW, as I figured out my issue is actually different, I have started a new issue here #332

[2017-01-26 12:35] JimSEOW commented on #328
@rmadsen-ks

Python.Runtime.dll is in the same path as the console.exe or EmbeddedPythonDebugging.exe application.

Using the python35 environment,
 "Python.Runtime.dll" in the [python35 directory](https://github.com/pythonnet/pythonnet/wiki/How-to-embed-python-scripts-in-your-.Net-project-use-pythonnet%3F).

I have followed everything according to this [window troubleshoot guide](https://github.c

[2017-01-26 12:38] JimSEOW commented on #332
@rmadsen-ks  can you get c# -> embeded python example to work?

[2017-01-26 12:44] rmadsen-ks commented on #332
Yes, that is not a problem for me, but im running Python27. Are you using 32 bit python and debugging as a 32 bit application? Should also work with 64bit but you have to be using the same architecture for both.

[2017-01-26 13:20] JimSEOW commented on #332
@rmadsen-ks  Finally, I checked through the compilation. Yes, Python35 64bit works.

[2017-01-26 13:50] tarpista commented on #328
@rmadsen-ks

Ahha, great!! I did not know about this attaching capability of the vs debugger. It sounds nice. I try to attach as described here

https://msdn.microsoft.com/en-us/library/3s68z0b3.aspx

 but the attach button for python.exe is greyed out for for me. Am I missing something?

@JimSEOW

Same error for me.

[code]

Though I do not have more time to look for the fix, but would be also in

[2017-01-26 14:51] denfromufa commented on #332
related:

https://github.com/pythonnet/pythonnet/issues/101
https://github.com/Microsoft/PTVS/issues/552

[2017-01-26 14:52] rmadsen-ks commented on #328
@tarpista, that is probably because another debugger is already attached. Only one debugger can be attached at a time. You should run your python project without debugging and then attach from your C# project.

[2017-01-26 15:16] tarpista commented on #328
Half way done. What do you mean by attaching "from C# project"? Regardless of what is the startup project I right click on bootstrap.py -> run without debugging. After that I go to Debug\Attach to Process... and search for python.exe and click on attach. The following error pops up:

![image](https://cloud.githubusercontent.com/assets/23481162/22336347/39633d40-e3e2-11e6-8b2a-90649cc8cf14.png)

[2017-01-26 15:21] rmadsen-ks commented on #328
@tarpista , I am assuming you want to attach to a C# process running embedded in a python project, to catch that NullReferenceException. According to the dialog you have attached to the managed part of the process, but not the python process, so you actually succeeded, but it is still complaining that it could not attach to Python. If you just need to debug the .NET project this is not a problem.

[2017-01-26 15:25] rmadsen-ks commented on #332
@denfromufa, do you think this is not a Python.NET problem, but a problem related to PTVS attaching to any application running embedded python code?

[2017-01-26 15:33] tarpista commented on #328
I see. But how did you make your debugger to stop at line 18 of Program.cs as the picture shows? For me the debugger does not stop, the hello world app just keeps running and asking for input.

[2017-01-26 15:46] denfromufa commented on #332
It is possible, I recall they had a lot of issues fixed for attaching to
embedding Python code in apps such Maya or blender.

But the difference here is that now 3 debugger engines have to cooperate
nicely - managed, native and Python.

At one point I was able to do mixed mode debugging of embedded Python code
in pythonnet. The trick is to have CPython symbols in PTVS and manually
select all 3 eng

[2017-01-26 16:58] filmor commented on #262
I think I've got it, working on minimising the change now: At least one of the problems is the call  `ModuleDefOffset.FreeModuleDef(module_def);` in `ImportHook.Shutdown`, as the module def is still used in the actual finalisation (`Py_Finalize()`) as part of garbage collecting the modules, so we get a use-after-free situation here. However, just fixing this doesn't seem to be enough, I did a bunc

[2017-01-26 17:45] cowboygneox opened #333 "MONO_GC_PARAMS does not appear to be respected"
### Environment

-   Pythonnet version: 2.1
-   Python version: 3.5
-   Operating System: Docker Linux

### Details

-   Describe what you were trying to get done.

Setting an environment variable does not seem to be curbing memory usage: `MONO_GC_PARAMS: "major=marksweep-fixed,major-heap-size=256m"`.

-   What commands did you run to trigger this issue?

Running a mono intense calculation with th

[2017-01-26 17:50] cowboygneox commented on #333
I followed the Mono docs here: http://www.mono-project.com/docs/advanced/garbage-collector/sgen/working-with-sgen/

[2017-01-26 18:12] vmuriart commented on #262
@filmor awesome! I already have a test for it in #329

[2017-01-26 21:19] stonebig commented on #321
tonight ?

[2017-01-26 21:24] vmuriart commented on #321
Couldn't resist...
I'll work on closing out the `README` and `CHANGELOG`

[2017-01-26 22:51] denfromufa commented on #333
@cowboygneox embedding Mono is different from running it as an "independent" runtime. This environment variable is set in C/C++ code, which we could also do in pythonnet:

https://github.com/mono/mono/search?utf8=%E2%9C%93&q=MONO_GC_PARAMS&type=Code

https://github.com/pythonnet/pythonnet/blob/master/src/monoclr/pynetinit.c

[2017-01-27 05:35] vmuriart commented on #321
completed the changes, but the prior `v2.2.0` release from November isn't letting me release against `v2.2.0`.

I'll bump everything to `v2.2.1` instead and add a note on the changelog

[2017-01-27 05:41] vmuriart commented on #321
ehh on second though, I'd rather bump the version to `2.3.0` and treat `2.2.0-dev1` as the `2.2.0` release.

Thoughts? @filmor @denfromufa

[2017-01-27 06:05] denfromufa commented on #321
Let's not rewrite the history, bumping third digit is fine. We can make
v2.2.0 with some commits between last release and now, if you can justify
v2.3.0 release.

Also if you would like to release to pypi yourself, please do it to
testpypi first for 1-2 day testing.

On Thu, Jan 26, 2017, 11:41 PM Victor Uriarte <notifications@github.com>
wrote:

[2017-01-27 06:16] vmuriart commented on #321
Actually if we make `v2.2.0` a commit between last release and now, then we would be rewriting history 😄
`v2.2.1` is fine, it just didn't sound right when I wrote it in the `CHANGELOG`.

The test package is in `testpypi`.

[2017-01-27 06:21] denfromufa commented on #321
No source distribution for Linux?

On Fri, Jan 27, 2017, 12:16 AM Victor Uriarte <notifications@github.com>
wrote:

[2017-01-27 06:22] vmuriart commented on #321
I had a small mess up on the initial release to `testpypi` ... 😢. Since it won't let you re-upload the package its locked.

[2017-01-27 06:35] denfromufa commented on #321
It is OK if we bump to 2.2.1. I had the same issue with clrmagic. Also
please use twine to upload stuff, unless there is something better.

Let me get to anaconda.org repo tomorrow.

On Fri, Jan 27, 2017, 12:22 AM Victor Uriarte <notifications@github.com>
wrote:

[2017-01-27 06:37] denfromufa commented on #321
If we bump tag, then setup.py, `__version__`, release notes and elsewhere
need to be updated to v2.2.1 as well.

On Fri, Jan 27, 2017, 12:34 AM Denis Akhiyarov <denis.akhiyarov@gmail.com>
wrote:

[2017-01-27 06:41] denfromufa commented on #321
Everyone, FYI here is release to testpypi for testing:

https://testpypi.python.org/pypi/pythonnet/2.2.0

The tags on top are missing py3.6, still shows 2.2.0.dev1

[2017-01-27 06:46] vmuriart commented on #321
The tags get updated when its uploaded to `pypi` it gets it from the latest avaliable version in pypi.
Once the newer one is released, the tags get updated.

[2017-01-27 07:11] rmadsen-ks commented on #332
@denfromufa,
For my application it is OK with just python debugging working. I don't need managed, native, and python debugging at the same time, although it would be quite cool to have.

[code]

Was by attaching to a running process?

Have you gotten this to work on other IDE's like PyCharm or PyDev?

[2017-01-27 07:21] denfromufa commented on #332
Cross-language debugging in IDE is unique to VS. Yes, exactly - by attaching to a process. For me to start the debugging of the project in VS without attaching is much harder because C# code is called from another app.

If just want to debug Python code by attaching to pythonnet process without remote debugger, then try this:

https://github.com/Microsoft/PTVS/issues/1347

[2017-01-27 08:20] vmuriart commented on #321
Testpypi for [2.2.1](https://testpypi.python.org/pypi/pythonnet/2.2.1)

[Appveyor](https://ci.appveyor.com/project/vmuriart/pythonnet-release-test/build/job/hojgo9l9jqkn9lc0) installing from testpypi and version check

[2017-01-27 08:54] vmuriart opened #334 "AppVeyor builds are slow with miniconda"
Current setup has to download and install miniconda, and then build the project twice. Slows down testing/development.

[2017-01-27 13:15] cowboygneox commented on #333
@denfromufa this came up because I was trying to see if I could get Pythonnet to run with a smaller ram footprint. Is there any advice for how to do that?

[2017-01-28 05:03] denfromufa commented on #321
@vmuriart for some reason (ana)conda package is still 2.2.0-dev1, let me try to resolve:

![image](https://cloud.githubusercontent.com/assets/7870949/22394365/d869b484-e4e4-11e6-841a-3399b05e88d4.png)

[2017-01-28 05:41] denfromufa commented on #321
@vmuriart the conda package is looking at git tags, which I also updated:

https://github.com/pythonnet/pythonnet/releases/tag/v2.2.1

But this will now rebuild all packages, so may need to re-upload to testpypi (I guess except source build).

[2017-01-28 05:54] vmuriart commented on #321
On Fri, Jan 27, 2017 at 22:41 denfromufa <notifications@github.com> wrote:

The source itself didn't change. It should be fine. Sadly can't reupload to
test pypi though without rebumping version

[2017-01-28 06:08] denfromufa commented on #321
@vmuriart @jreback please try out conda package from anaconda.org:
[code]
https://anaconda.org/pythonnet/pythonnet

I could add @vmuriart to package managers, but not @filmor and @tonyroberts because they are already registered.

[2017-01-28 06:16] denfromufa commented on #321
@stonebig do you have a chance to test out pythonnet from testpypi in winpython?

pip install -i https://testpypi.python.org/pypi pythonnet -U --force

[2017-01-28 06:37] denfromufa commented on #321
nice checklist for the future versions:

https://gist.github.com/audreyr/5990987

[2017-01-28 06:46] denfromufa commented on #319
so this discussion started originally here:

https://github.com/pythonnet/pythonnet/pull/312#issuecomment-271178252

I looked briefly and versioneer seems more supported:

https://github.com/warner/python-versioneer
Also versionner is supported by multibuild, which maybe required to get the OSX builds working.

Things that need to be updated automatically based on new tags added in git/github:

__

[2017-01-28 08:49] stonebig commented on #321
@denfromufa pythonnet-2.2.0 is already shipped and uloaded.

[2017-01-28 14:19] vmuriart commented on #321
@stonebig we bumped the version number to v2.2.1

[2017-01-28 14:19] vmuriart commented on #321
@denfromufa ok to finalize release to pypi?

[2017-01-28 14:33] denfromufa commented on #321
Sure! Let's do it and then send the reddit and hacker news posts ;)

On Sat, Jan 28, 2017, 8:19 AM Victor Uriarte <notifications@github.com>
wrote:

[2017-01-28 16:38] vmuriart commented on #321
done

[2017-01-28 18:44] denfromufa opened #336 "pythonnet 2.2.1 on linux fails in python 3.4 and 3.5 (but not 2.7) - pycparser error"
<details>
  <summary>anaconda python 3.5 (click to expand) </summary>

[code]
</details>

<details>
  <summary>system python 3.4 (click to expand) </summary>

[code]
</details>

[2017-01-28 18:48] denfromufa commented on #321
@vmuriart everything seems to be working fine, but on linux with python 3+ I'm getting this weird issue:

https://github.com/pythonnet/pythonnet/issues/336

[2017-01-28 18:48] denfromufa commented on #336
Note that `sudo pip3 install pythonnet==2.1.0.dev1 --force` works.

Any idea @tonyroberts ?

[2017-01-28 21:23] vmuriart commented on #336
I noticed that on 2.2.1 when I ran it on Travis. Python 2.7 works becoause it doesn't use the abi flags. Does Python 3 with sudo result with a different set of flags ?

[2017-01-28 21:39] vmuriart commented on #321
@denfromufa can you grant me repository creation rights on the github account? I want to create the [dummy repository to check release](https://github.com/vmuriart/pythonnet-release-test) under Pythonnet account but didn't have write access.

[2017-01-28 21:39] vmuriart commented on #336
Does it work if you do `pip3 install pythonnet==2.1.0.dev1 --user` ?

[2017-01-28 21:40] #321 closed

[2017-01-28 21:46] denfromufa commented on #321
@vmuriart done!

[2017-01-28 22:41] vmuriart commented on #321
@denfromufa Thanks! one last thing... I tried checking my access on the Anaconda package. I got the email asking to confirm access to the package, but didn't grant me rights to it.

[2017-01-29 05:07] denfromufa commented on #336
@vmuriart with `--user` it fails differently:
[code]

[2017-01-29 05:10] denfromufa commented on #336
@vmuriart looks like we are missing something in the source distribution, because installation works from master branch:

[code]

[2017-01-29 05:42] denfromufa commented on #336
@vmuriart we need to include fake c libs from geninterop folder:

https://github.com/pythonnet/pythonnet/tree/master/tools/geninterop/fake_libc_include

This is explained in more details here:

https://github.com/eliben/pycparser/issues/162

[2017-01-29 05:46] vmuriart commented on #336
Good catch. We may need to release `2.2.2` w this.

[2017-01-29 05:47] denfromufa commented on #336
i like 2.2.2, i had 66666 emails in my inbox today.

[2017-01-29 06:12] #336 closed

[2017-01-29 10:48] stonebig commented on #336
housekeeping request: update the milestone page of github https://github.com/pythonnet/pythonnet/milestones

[2017-01-29 20:54] vmuriart commented on #336
@stonebig done. thank you for the reminder

[2017-01-30 07:39] vmuriart commented on #269
We released 2.2.2 yesterday, I would suggest trying that one since it fixed a couple packaging issues

[2017-01-30 07:44] denfromufa commented on #269
@vmuriart i'm not done with my osx branch yet. it may still require manual intervention. will have to rent some VM to do more manual testing: http://www.macincloud.com/

[2017-01-30 08:19] denfromufa opened #340 "pythonnet on cygwin or msys2 or bash on win10"
Should we support and test pythonnet on cygwin or msys2 and Mono?

Looks like there is some interest:

https://sourceforge.net/p/cygwin-ports/pythonnet/ci/master/tree/
https://mail.python.org/pipermail/pythondotnet/2014-December/001623.html
http://stackoverflow.com/questions/38828604/python-for-net-import-error

Appveyor supports both msys and cygwin:

https://www.appveyor.com/docs/installed-softw

[2017-01-30 09:57] filmor commented on #340
Those are from 2010, 2014, and the last one could well be just a misconfiguration. If there is actual community interest we could go for it, but I don't have any use for this at all.

[2017-01-30 14:30] gbritton1 opened #342 "Is/Will .net core be supported?"
Just a question.

Is/Will .net core be supported?

I couldn't find a specific reference in the wiki

[2017-01-30 14:56] denfromufa commented on #342
Here is the issue and project to follow:

https://github.com/pythonnet/pythonnet/projects/2

On Mon, Jan 30, 2017, 8:30 AM gbritton1 <notifications@github.com> wrote:

[2017-01-30 16:22] #342 closed

[2017-01-30 16:43] denfromufa opened #344 "github page status icons broken"
https://goo.gl/photos/CtLg5fhDzfJzbwQNA

[2017-01-30 16:44] denfromufa commented on #344
@vmuriart @filmor any idea?

[2017-01-30 17:11] filmor commented on #344
Works for me now, maybe just a fluke? Try a hard-refresh (Ctrl-F5).

[2017-01-30 17:19] denfromufa commented on #344
Yes, a fluke indeed, which is gone. I tried on multiple devices before!

[2017-01-30 17:19] #344 closed

[2017-01-30 18:27] denfromufa commented on #325
@Thraka are you trying to package this?

https://www.reddit.com/r/sadconsole/comments/5nlwfn/sadconsole_running_in_python/

[2017-01-30 18:29] Thraka commented on #325
Correct

[2017-01-30 20:29] vmuriart commented on #344
Its a fluke from `shields.io` recently i've noticed their servers gotten overloaded.

[2017-01-30 21:01] vmuriart commented on #340
Second @filmor

[2017-01-31 15:51] #334 closed

[2017-02-01 05:18] #184 closed

[2017-02-01 14:39] tarpista commented on #318
I got the solution for the initialization error.  I was trying with a different version of Python.Runtime.dll which I got from somewhere else, because the pythonnet solution did not build for me.

Though it wasnt a good idea to do that. Instead I had to make the solution to build. By default it wants to build using mono, but on a windows machine you have to choose DebugWin and x86, that way it sho

[2017-02-01 14:39] #318 closed

[2017-02-01 14:47] denfromufa commented on #318
Have you really looked at this?

https://github.com/pythonnet/pythonnet/wiki/Troubleshooting-on-Windows-and-Linux

On Wed, Feb 1, 2017, 8:39 AM tarpista <notifications@github.com> wrote:

[2017-02-01 15:44] #299 closed

[2017-02-01 15:55] denfromufa commented on #299
Should we do another release with tensorflow example?

On Wed, Feb 1, 2017, 9:45 AM Benedikt Reinartz <notifications@github.com>
wrote:

[2017-02-01 17:59] vmuriart commented on #237
Semi-closed. Still needs coverage from Travis, waiting on SharpCover or MonoCover. Alternatively, OpenCover may work under Core .net

[2017-02-01 18:00] vmuriart commented on #262
Fixed on PY27, still buggy on py3+

[2017-02-01 18:02] vmuriart commented on #235
there go my thoughts on dropping that on for pythonnet 2.3.0

[2017-02-01 18:07] vmuriart commented on #299
idk about another release, though I'm getting the hang of them and should be less painful now that the long description gets written from the `readme.md`.

[2017-02-01 18:10] vmuriart commented on #282
Not six anymore 😄 but yes on `pypandoc` for releases. Though maybe wait for `pipfile` instead?

[2017-02-01 18:26] denfromufa commented on #282
I was actually looking at bridge - bridge between doxygen and Sphinx. Does pypandoc has the same purpose?

[2017-02-01 18:32] vmuriart commented on #282
pypandoc converts `.md` to `.rst` to upload to `pypi`. I was doing it offline on the last 2 releases so that we would have a nice page on `pypi`. It sounds you are talking about documentation which `pypandoc` doesn't do.
We don't use much sphinx syntax other than the 1 `clr.py` module.

[2017-02-01 18:40] denfromufa commented on #282
i was thinking that input is xml comments from c# code and docstrings from python test code, then doxygen parses this, and sphinx outputs in nice format and hosted on readthedocs:

https://breathe.readthedocs.io/en/latest/

[2017-02-01 19:00] vmuriart commented on #282
Correct, thats what i meant, `pypandoc` has a different purpose. Its only for updating the `pypi` page.

[2017-02-01 19:54] davidkhess opened #351 "Is it possible to define and call a function equivalent to how C# DllImport works?"
### Environment

-   Pythonnet version: 2.2.2
-   Python version: 3.4
-   Operating System: Windows 10

### Details

-   Describe what you were trying to get done.

Process a [DllImport...] statement.

-   What commands did you run to trigger this issue? If you can provide a
    [Minimal, Complete, and Verifiable example](http://stackoverflow.com/help/mcve)
    this will help us understand the iss

[2017-02-01 20:36] denfromufa commented on #351
Can you provide a code sample of what you are trying to achieve?

On Wed, Feb 1, 2017, 1:54 PM David K. Hess <notifications@github.com> wrote:

[2017-02-01 21:27] davidkhess commented on #351
I've been given this C# definition:

[code]

Can I call it from pythonnet?

[2017-02-01 21:45] denfromufa commented on #351
I don't see why you need pythonnet in this case? Also
it is hard to tell if possible call without minimal implementation of that
DENTRIXAPI_GetConnectionString.

On Wed, Feb 1, 2017, 3:27 PM David K. Hess <notifications@github.com> wrote:

[2017-02-01 21:47] davidkhess commented on #351
Because the third argument to DENTRIXAPI_GetConnectionString requires a .NET StringBuilder.

And yes, I don't think what they did makes any sense. Exported a function from a DLL for seemingly none .NET use that requires one of the arguments to be a .NET object.

[2017-02-02 02:39] denfromufa commented on #351
StringBuilder can be passed from Native to Managed code, you find more
about passing strings here:

https://msdn.microsoft.com/en-us/library/s9ts558h(v=vs.110).aspx

This is not pythonnet related.

If your end goal is using from Python, then you can use ctypes, cffi to
avoid .NET runtime completely. If you have already managed to wrap this DLL
successfully in C#, then you can still use pythonnet a

[2017-02-02 02:44] davidkhess commented on #351
I had no idea a StingBuffer had automatic marshaling to native types.

I will definitely use cffi. Thanks!

[2017-02-02 02:57] denfromufa commented on #351
OK, I'm closing this issue. But let us know what you find.

[2017-02-02 02:57] #351 closed

[2017-02-02 05:39] denfromufa commented on #333
@cowboygneox as a starting point follow this suggestion without embedding mono, just invoke mono from command-line:

http://stackoverflow.com/a/19375857/2230844

Are you calling Mono from Python or vice verse?

[2017-02-02 05:47] denfromufa commented on #333
another thing to make sure is that you are using sgen, not boehm

[2017-02-02 06:16] #178 closed

[2017-02-02 06:16] denfromufa commented on #178
no activity - closed

[2017-02-02 12:17] tarpista commented on #318
Sure, but I did not help me out.

Actually I realized, that different versions of the Python.Runtime.dll are neccessary for me to let it work.

For the `python -> C#` direction the `pip install pythonnet` gets the proper `Python.Runtime.dll` and `clr.pyd` files for me.

But for the other direction, `C# -> python` I have to build the pythonnet solution to have the proper Python.Runtime.dll which ca

[2017-02-02 13:15] denfromufa commented on #318
Are you using the same CPython runtime in both cases? If yes, then you should not need 2 different Python.Runtime.DLL.

I'm guessing the issue is the key used to sign the Python.Runtime.DLL to get the strong name.

Can you please confirm that?

[2017-02-02 15:01] davidkhess commented on #351
So yes, turns out pythonnet was not needed because it turns out that StringBuilder is automatically marshaled as a char * buffer in and out of .NET. So, this basic pattern with cffi works:

[code]

Thanks again for the help!

[2017-02-02 15:14] tarpista commented on #328
@rmadsen-ks :100: great workaround! Finaly I understand that using the same analogy it should be possible to debug .NET projects called from python. Just simply start from C# the same way you did it from python...:
C# -> Python -> C# [module to be debugged]

[2017-02-02 15:14] #328 closed

[2017-02-02 20:41] vmuriart opened #352 "Travis can't find dll for embdded tests"
### Environment

-   Pythonnet version: Dev
-   Python version: All
-   Operating System: Lix

### Details

-   Describe what you were trying to get done.

Run Embdded Tests on travis

-   What commands did you run to trigger this issue? If you can provide a
    [Minimal, Complete, and Verifiable example](http://stackoverflow.com/help/mcve)
    this will help us understand the issue.

uncomment em

[2017-02-02 20:42] vmuriart commented on #352
Needs someone a bit more familiar with how/where linux stores its dll's.

[2017-02-03 03:13] denfromufa opened #354 "Older pythonnet repositories found"
https://sourceforge.net/projects/peachfuzz/files/OldFiles/

http://old.zope.org/Members/Brian/PythonNet/Releases/folder_contents

https://mail.zope.org/pipermail/zope-cvs/2003-October/003761.html

[2017-02-03 03:29] denfromufa opened #355 "release v2.3"
@vmuriart @filmor @tonyroberts here are issues picked for v2.3:

https://github.com/pythonnet/pythonnet/issues?q=is%3Aopen+is%3Aissue+milestone%3A2.3.0

Please assign particular issue to yourself, if you start working on it. This is to avoid duplication of work.

[2017-02-03 04:09] vmuriart commented on #354
What's this about?

[2017-02-03 04:15] denfromufa commented on #354
The project started in 2003, but github history is since 2006. This may
help when finding why particular code is written.

On Thu, Feb 2, 2017, 10:09 PM Victor Uriarte <notifications@github.com>
wrote:

[2017-02-03 09:03] tarpista commented on #318
Ah, thanks! You are right. Now it works with one and the same dll. I just went to `C:\Python27\Scripts\` and typed `pip install pythonnet` which downloaded the `clr.pyd` and `Python.Runtime.dll` into `C:\Python27\Lib\site-packages\` directory.

For the python project I set the environment location to `C:\Python27\`.

For the C# project I added a reference to the `C:\Python27\Lib\site-packages\Pyth

[2017-02-03 13:02] tarpista opened #356 "How to call Python functions from C#"
There are very few examples actually showing how to call a python function from C#.

Assume I have the following file called `clsTest.py`:

[code]

I try to make calls from C# as follows:
[code]

What is wrong with `Test02()` and `Test04()`?

[2017-02-03 13:39] filmor commented on #356
### Test02:

`@staticmethod` is only sensible inside of classes

### Test04:

You are missing a `self` parameter in the signature. The `PythonException` will likely be something like `expected 0 parameters, got 1`,

Please ask stuff like this on StackOverflow. This is an issue tracker, not a support forum.

[2017-02-03 13:39] #356 closed

[2017-02-03 13:42] filmor commented on #354
I created a [Wiki page](https://github.com/pythonnet/pythonnet/wiki/Older-Project-Repositories). Not really an issue.

[2017-02-03 13:42] #354 closed

[2017-02-03 15:32] denfromufa commented on #354
can we append this history to git?

[2017-02-03 15:33] filmor commented on #354
I don't think that would be a good idea. It would invalidate all forks.

[2017-02-03 15:34] denfromufa commented on #356
use this tag on SO http://stackoverflow.com/questions/tagged/python.net?sort=votes

or post on mailing list:

pythondotnet@python.org

[2017-02-03 18:56] vmuriart commented on #354
You'll end up rewriting the entire history. Best you can do is migrate them to `git` and upload them as a separate repo that ends when the history of this one starts.

[2017-02-03 18:58] vmuriart commented on #355
This is better tracked as a project or milestone. Normally an issue with this title is when we are finalizing a release.

[2017-02-03 22:53] denfromufa commented on #355
There is already a milestone which I linked. I just wanted to gather some
feedback on picked issues, but otherwise feel free to close this one.

On Fri, Feb 3, 2017, 12:58 PM Victor Uriarte <notifications@github.com>
wrote:

[2017-02-03 23:55] vmuriart commented on #355
I think we need an OSX label, a few of those issue seem specific to mac. I'll probably throw in #203 since its been on my todo list. I think I'm loosely working on #165, I redid part of @dmitriyse's work but without all the file migrations and am slowly building it into logical patches/pull requests.

[2017-02-04 03:15] vmuriart opened #358 "Update npython.exe/Console app docs"
Is there any purpose or use left for `npython.exe` aka Console? From @tonyroberts comment on https://github.com/pythonnet/pythonnet/commit/9b2d6f266c46e59600016509187018218f6a0aa1 it seems that it no longer serves a purpose. Personally I never used it

[2017-02-04 03:21] denfromufa commented on #358
i guess it shows an example how to embed python in .net and I quick check for new users if this works? @cgohlke why do you still ship nPython.exe in your wheels?

http://www.lfd.uci.edu/~gohlke/pythonlibs/#pythonnet

[2017-02-04 03:25] denfromufa commented on #358
it is also mentioned in 22 issues mostly during troubleshooting:

https://github.com/pythonnet/pythonnet/search?q=npython&type=Issues&utf8=%E2%9C%93

[2017-02-04 03:28] denfromufa commented on #358
@vmuriart which comment in https://github.com/pythonnet/pythonnet/commit/9b2d6f266c46e59600016509187018218f6a0aa1 exactly do you mean?

[2017-02-04 03:45] vmuriart commented on #358
Seems almost analogous to starting up python and doing `import clr`.

Though has an example its understandable. Maybe then it could be moved to `demo/samples`

[2017-02-05 01:36] denfromufa commented on #303
@AlexCatarino @jaredbroad I can confirm your problem and this is also affecting our testing on Travis CI. Let me look for solutions. The worst we may have to do is to recompile CPython with the correct flags or find Python dsitribution that uses these settings.

[2017-02-05 02:51] denfromufa commented on #303
@AlexCatarino @jaredbroad I tried Miniconda 3.5 64bit on Linux and it works in both directions - embedding and extending pythonnet!

Can you use Miniconda or Anaconda in your docker images?

[2017-02-05 02:58] denfromufa commented on #224
Ok, I got to work Mono + Miniconda for `'import clr` and all tests are passing.

The embedding tests show this error:

[code]

[2017-02-05 03:01] denfromufa commented on #224
This issue explains the current problem with system Python in Ubuntu, but this is resolved in Miniconda:

https://github.com/pythonnet/pythonnet/issues/303

[2017-02-05 05:38] vmuriart commented on #303
@denfromufa I think [this](https://github.com/pythonnet/pythonnet/blob/0a643826ac9a56eda75627292351a329d3ec696f/doc/TODO.txt#L31-L33) item from the old `TODO` document might be related. I don't know if it helps.

[2017-02-05 14:44] mdk73 commented on #327
A follow-up from my side:
I tried to solve the issue with the help of the mono mailing list.

Some test code was running with nPython.exe, but not with pythonnet (some
library in the ubuntu system was still throwing an error...).
I tried if it was possible to run my complete code with nPython.exe, that
failed as I use additional libraries and drivers which could not be handled
through nPython.

I

[2017-02-05 15:27] denfromufa commented on #327
Can you point to your troubleshooting on Mono mailing list for future
reference?

Please open a separate issue for Mono on desktop non-ARM Ubuntu (x86 or
x64), because this is working and tested environment. We recommend using
non-System Python such as Miniconda due to problems with shared libpython.

Search this issue tracker for your possible errors.

On Sun, Feb 5, 2017, 8:44 AM mdk73 <notifica

[2017-02-06 06:37] denfromufa commented on #325
@Thraka here is one-file version of your game packaged with pyinstaller:

[SadConsole-Python-Pyinstaller.zip](https://github.com/pythonnet/pythonnet/files/753782/SadConsole-Python-Pyinstaller.zip)

[2017-02-06 06:40] vmuriart commented on #214
`StrongNameSigning` works but has issues with `ExposeInternalsTo` that we use for embedded tests. I've completed setting it up, but disabled it for now.

[2017-02-06 11:32] filmor commented on #358
It's almost analogous, yes. But it's not quite the same, as the `import clr` bootstraps the CLR inside of a running Python interpreter, while `npython` does it the other way round, it's a .NET program that starts up Python.

I personally use it as my debugging entrypoint for those pesky segfaults, as only that way I can convince VS to let me step into the CPython code, so I'm definitely in favour

[2017-02-06 12:21] JimSEOW commented on #358
It will be a good idea to has a **small wiki** to track this discussion. The purpose of nPython.exe  Many of us simply are not aware of the purpose and how to take advantage as some of you do.

[2017-02-06 17:40] vmuriart commented on #358
@filmor awesome, sounds like a solid reason to keep it. @JimSEOW I'll document the class with some of the info here and reference this issue as a backup reference.

[2017-02-06 17:48] vmuriart commented on #358
I'll close the issue once I commit the documentation.

[2017-02-06 17:58] denfromufa commented on #358
@vmuriart @JimSEOW  we mention npython.exe briefly in docs:

http://pythonnet.github.io/readme.html

[2017-02-06 18:02] denfromufa commented on #358
I updated the wiki:

https://github.com/pythonnet/pythonnet/wiki/Troubleshooting-on-Windows-and-Linux

[2017-02-06 18:08] #358 closed

[2017-02-06 18:12] vmuriart commented on #355
#165 is looking possible, but I think it shouldn't be part of `v2.3` though. It's changing how pythonnet loads and a good chunk of the internal logic (ie, breaking changes). It seems like it should be part of a `v3.0` milestone instead.

[2017-02-06 19:19] filmor commented on #355
Does it actually break anything? The loading used to be quite transparent anyhow, didn't it?

[2017-02-06 19:39] vmuriart commented on #355
If everything goes right nothing *should* break 😸.

I should rephrase my previous statement. Right now we can create a Nuget package, but its going to be very heavy if we want to include multiple python versions in it. This in itself wouldn't be a breaking change, so `v2.3` is ok

I'm working on an alternative method to it, but its adding another `dll` into the package which is what I meant by mig

[2017-02-06 19:41] vmuriart commented on #355
I also want to remove implicit loading and `import CLR`, which were targeted to be removed in `v3.0` so I'm probably biased towards looking for a good excuse to bump the version to `v3.0`

[2017-02-07 00:50] vmuriart commented on #224
Should we close this issue or #352 since they are related. #352 specifically details the current issue on Travis (can't find `python.dll`). Do we know if the python versions on `travis` were build with `--enabled_shared`?

[2017-02-07 04:20] denfromufa commented on #327
OK, here is your post to Mono:

http://lists.dot.net/pipermail/mono-list/2017-January/052336.html

[2017-02-07 04:42] vmuriart opened #362 "Py_DEBUG vs PYTHON_WITH_PYDEBUG build directives"
Is there a differences between [`Py_DEBUG`](https://github.com/pythonnet/pythonnet/blob/b4710fc8ac9bbfada9b37407682147ee43f91bdb/src/runtime/runtime.cs#L502) and [`PYTHON_WITH_DEBUG`](https://github.com/pythonnet/pythonnet/blob/b4710fc8ac9bbfada9b37407682147ee43f91bdb/src/runtime/runtime.cs#L143)

`Py_DEBUG` is the official flags name that Python uses to build Python with debug. But we never defin

[2017-02-07 04:54] vmuriart commented on #362
Just browsed the history and found when they were introduced into `runtime.cs` atleast (`Py_DEBUG` is present in other files) Christian introduced `Py_DEBUG` back in 2004 (035b7ad006225edd9a9f58601c7409ea2ffe0cfb). @tonyroberts introduced `PYTHON_WITH_PYDEBUG` on 2014 (5062377296e3594d461ff9459b85c5eb9d660957) for Python3/Mono compatibility.

Looks like we just need to rename the remaining `Py_DEB

[2017-02-07 18:45] cowboygneox commented on #333
I'll close this because I have a misunderstanding of how this bridge works.

[2017-02-07 18:45] #333 closed

[2017-02-07 18:51] cowboygneox opened #363 "What is the equivalent of "copy resources" in Pythonnet?"
In a library I'm using, the *.dll depends on a *.xml existing in the build directory. I'm not quite sure how to instruct Pythonnet to do that. Is there a location the *.xml should live, or is there a way to tell the library to add it somehow?

[2017-02-07 19:30] denfromufa commented on #363
This question is more suited for SO, I do not see any issue with pythonnet.
Unless you can provide any reproducible issue.

On Tue, Feb 7, 2017, 12:51 PM Sean Freitag <notifications@github.com> wrote:

[2017-02-07 22:19] cowboygneox commented on #363
I figured this out anyway. You just have to put them inside of a "Resources" directory next to the *.dll and it works.

[2017-02-07 22:19] cowboygneox commented on #363
This would be nice to put into documentation.

[2017-02-07 22:20] cowboygneox commented on #363
Feature Request.

[2017-02-07 23:02] vmuriart opened #364 "NUnit Embedded tests fail occasionally on Python3"
### Environment

-   Pythonnet version: Current
-   Python version: 3.3+
-   Operating System: Windows

### Details

-   Describe what you were trying to get done.

Run Unit tests on AppVeyor

-   If there was a crash, please include the traceback here.

[code]

### Possibly related

https://bugs.python.org/issue26003
https://bugs.python.org/issue19576
https://bugs.python.org/issue20891
http://sta

[2017-02-07 23:07] vmuriart commented on #363
This doesn't sound like a `pythonnet` issue.

[2017-02-07 23:16] vmuriart commented on #364
Related to this currently we are running the embedded tests, but ignoring the [exit code from nunit](https://github.com/pythonnet/pythonnet/blob/42a6191adb825aef797f902e34854d81081e5296/ci/appveyor_run_tests.ps1#L29)

[2017-02-08 00:33] Thraka commented on #325
Thanks a bunch!!!!

[2017-02-08 02:31] denfromufa commented on #363
@cowboygneox i'm glad that you found the problem. i agree with @vmuriart, so closing this one.

[2017-02-08 02:31] #363 closed

[2017-02-08 05:10] denfromufa opened #366 "consider updating from unmanaged exports to dllexport friendly fork"
https://github.com/3F/DllExport

Note that this may resolve one issue for us:

https://github.com/3F/DllExport/issues/7

[2017-02-08 05:11] denfromufa opened #367 "consider using mono provided by Travis CI"
https://docs.travis-ci.com/user/languages/csharp/#Choosing-runtime-and-version-to-test-against

[2017-02-08 05:13] denfromufa commented on #367
Also I tried building with latest Mono and it seems to be stable now:

mono 4.8:

https://github.com/mono/mono/releases

[2017-02-08 05:20] vmuriart commented on #367
I tried using their `mono` build environment and it wasn't good, it didn't have the python interpreters (i think it only had 1).

We are using the latest mono too. We unfroze it when we moved the using `travis` containers for testing.

[2017-02-08 05:24] denfromufa commented on #367
@vmuriart thanks for checking on this! closing, since we either need to install python or mono :)

[2017-02-08 05:24] #367 closed

[2017-02-08 05:28] vmuriart commented on #367
There's also alot of issues w it apparently if your trying to do `core dotnet`. its a user maintained recipe, so no support from travis either.

[2017-02-08 05:28] denfromufa commented on #367
also this is not likely to change in the future to have both python and mono:

https://github.com/travis-ci/travis-ci/issues/4090

[2017-02-08 05:39] vmuriart commented on #366
I tried it yesterday, albeit for all of 5 minutes, and it didn't work as plug and play. It required some configuration to setup correctly i guess (and i gave up).

It probably needs some fiddling around to get right, but I agree, if we can move to it we should since its oss.

[2017-02-08 16:39] #262 closed

[2017-02-08 16:39] #364 closed

[2017-02-08 17:13] vmuriart commented on #262
@gatapia can you verify your issue has been resolved? Between @filmor and my recent changes, this should have been solved.
We had a similar behavior in NUNIT and we know its solved there, but haven't gone back to test against mstests.

Thanks!

[2017-02-09 03:28] yagweb opened #370 "why sys.stdout returned null"
### Environment

-   Pythonnet version: 2.2.2 (.NET 4, x64)
-   Python version: 3.5
-   Operating System: Windows 10

### Details
Python is embedded in my .NET application using pythonnet.  I found the output of the print statement in a python script is not showing on the screen until a "sys.stdout.flush()" called. I don't known how to redirect sys.stdout in .NET.
In order to call the flush() meth

[2017-02-09 03:37] vmuriart commented on #330
[code]

above is the traceback from building on pypi/travis

[2017-02-09 03:43] denfromufa commented on #370
@yagweb can you try suggestions from here:

https://mail.python.org/pipermail/pythondotnet/2016-May/001777.html

http://stackoverflow.com/questions/37289082/redirect-stdout-stderr-from-python-embedded-in-net-application-to-text-box
https://mail.python.org/pipermail/pythondotnet/2016-May/001776.html

We should probably include some API to make this easier, since some people are already using this i

[2017-02-09 03:46] denfromufa commented on #370
in your example make sure you acquire the GIL with `using (Py.GIL()) {}` and try this:
[code]

[2017-02-09 04:28] vmuriart commented on #235
@denfromufa do you have a concrete example we can use for testing?

[2017-02-09 12:35] yagweb commented on #370
@denfromufa Yes my code was put in the brackets of '''using (Py.GIL()) {}'''. I have tried your code snippet, but the stdout is still null. I'm not sure whether it's a problem of CPython or pythonnet. Maybe somebody else can try it with the other versions of CPython to get more clues.

For redirecting stdout, 3 solutions are found according to these links, but the most elegant one (similar to the

[2017-02-09 14:15] filmor commented on #370
I like that last proposal a lot. Shouldn't be too difficult.

[2017-02-09 18:04] denfromufa commented on #370
@filmor @yagweb so you like this proposal to pass any .NET object to CPython without conversion? If yes, there here is related issue:

https://github.com/pythonnet/pythonnet/issues/94

The 1st solution is what Python BDFL Guido recommends when embedding CPython:

https://docs.python.org/3/faq/extending.html#how-do-i-catch-the-output-from-pyerr-print-or-anything-that-prints-to-stdout-stderr

[2017-02-09 20:44] #325 closed

[2017-02-09 21:16] vmuriart opened #372 "xUnit test runner fails to find module dictionary"
### Environment

-   Pythonnet version: `v2.2.2`
-   Python version: `all`
-   Operating System: `Windows`

### Details

-   Describe what you were trying to get done.

Replace `nUnit` to `xUnit` framework.

-   What commands did you run to trigger this issue? If you can provide a
    [Minimal, Complete, and Verifiable example](http://stackoverflow.com/help/mcve)
    this will help us understand t

[2017-02-09 21:18] vmuriart commented on #372
Submitting this since this is a completely different issue that the ones we saw with `nUnit` and `mstests`. I was testing it as an alternative for #371 and found a different slew of issues.

The goal of this issue is to understand why `pythonnet` is behaving this way when being run from `xUnit`.

[2017-02-09 23:08] denfromufa commented on #372
Don't you need to shutdown the interpreter in the teardown?

[2017-02-10 03:27] vmuriart commented on #372
failed with and without it. I converted and rewrote the entire test suite and tried it multiple ways, none of them worked. This was just one of the simplest ways to reproduce it

[2017-02-10 04:41] denfromufa commented on #372
@vmuriart did you try xunit locally? with debugger?

[2017-02-10 04:53] denfromufa commented on #372
According to this SO answer, it is likely that some CPython threads are killed during process exit, that's why we get these errors:

http://stackoverflow.com/questions/17679715/fatal-python-error-pyimport-getmoduledict-no-module-dictionary

[2017-02-10 04:59] vmuriart commented on #372
Nice find! We still have pending issues w our finalizers. This & the NUnit App unloading are related to it most likely

[2017-02-10 05:01] denfromufa commented on #372
@vmuriart yep, one of my comments in finalizer pull request was ignored (i hope it does not cause deadlocks):

https://github.com/pythonnet/pythonnet/pull/365/files/c954442c3f2ae594ca318f298ebd4607ea7fab3d#r99997577

[2017-02-10 05:03] vmuriart commented on #372
Did you hit submit on the review? I don't see any comment, and I been having issues w the review holding them all until i submit my review

[2017-02-10 05:08] denfromufa commented on #372
Yes, I submitted the review. But since two team members approved, I did not
complain about the pending review.

On Thu, Feb 9, 2017 at 11:03 PM, Victor Uriarte <notifications@github.com>
wrote:

[2017-02-10 05:16] vmuriart commented on #372
![image](https://cloud.githubusercontent.com/assets/13303020/22814880/6f4cb570-ef14-11e6-8013-bf2699ddc357.png)

It doesn't show a review or comment from you. Didn't ignore it on purpose.
The commit actually is preventing the lockup that was causing the previous crash. But there is still more work need to properly fix the issue.

[2017-02-10 05:17] denfromufa commented on #330
I tried on pypy with pythonnet on Win10. It builds fine, but then to find `clr` during import.

[code]

[2017-02-10 05:25] vmuriart commented on #330
interesting. you tried building using the `debug` configuration? Im curious if the `clrmodule` is the one failing to find `python.runtime.dll` or if its not even finding the `clrmodule`.

I've don't know if the error is the same or not in either case.

[2017-02-10 05:26] denfromufa commented on #330
can I pass debug flag to pip/setuptools (not from VS)?

[2017-02-10 05:28] vmuriart commented on #330
its on my todo list to add a `cli` option. currently you need to update [`setup.py`](https://github.com/pythonnet/pythonnet/blob/master/setup.py#L24) and it will build on `debug`

[2017-02-10 05:35] denfromufa commented on #330
still the same error, here is the full output from the build:

[buildoutput.txt](https://github.com/pythonnet/pythonnet/files/765785/buildoutput.txt)

[2017-02-10 05:35] denfromufa commented on #330
http://stackoverflow.com/questions/42152122/pypy-import-clr-fails-on-windows

[2017-02-10 05:44] vmuriart commented on #330
This may have something to do w it.
https://morepypy.blogspot.com/2010/04/using-cpython-extension-modules-with.html

[2017-02-10 05:49] denfromufa commented on #330
@vmuriart yes, that's possible that we are using some unsupported C-API features in cpyext. But it fails silently. I'm trying with nightly pypy builds:

http://buildbot.pypy.org/nightly/trunk/

[2017-02-10 05:52] denfromufa commented on #330
https://bitbucket.org/pypy/pypy/issues/2474/import-clr-fails-on-windows

[2017-02-10 05:58] denfromufa commented on #330
same issue on nightly pypy build:

[code]

[2017-02-10 06:43] yagweb commented on #370
@denfromufa @filmor I think this proposal is different from [#94](https://github.com/pythonnet/pythonnet/issues/94)
This one talks about “pass any .NET object to CPython”  and that one talks about  “pass any CPython object to .NET”.
Both of them should take care about the reference management and efficiency.

I read the source code of converter.cs and found a way to do so. The [PR](https://github.

[2017-02-10 08:12] arigo commented on #330
I see that it creates and installs ``clr.pyd`` even on PyPy.  This file name is wrong: it should be called ``clr.pypy-41.pyd``.  The normal distutils creates files of the correct name, but I guess a custom ``setup.py`` could hard-code ``clr.pyd``.

After renaming it manually, it fails differently, which is probably another issue.

[2017-02-10 12:03] denfromufa commented on #330
@arigo thanks, so now clr is looking for python27.dll, which I guess is libpypy-c.dll:

[code]

Then I created a "soft" symlink `mklink Python27.dll libpypy-c.dll`, but now clr cannot find `Py_IsInitialized` from Python C-API in libpypy-c.dll:

[code]

the loaded libraries look like expected:

![image](https://cloud.githubusercontent.com/assets/7870949/22826091/2b0be538-ef56-11e6-8498-9546c7eb9760

[2017-02-10 12:16] arigo commented on #330
libpypy-c.dll exposes the symbols under names ``PyPy_Xxx`` instead of ``Py_Xxx``, to avoid conflicts in other situations.  The normal header ``Python.h`` distributed with PyPy contains ``#define`` to do the renaming transparently.  It seems that the CLR-compiled Python.Runtime.dll looks up for the original names anyway, probably because it was not compiled with ``Python.h`` but instead with its ow

[2017-02-10 12:34] denfromufa commented on #330
OMG, now we need two sets of names for few hundred C-API pinvokes in C# code:

<details>
  <summary>Click to expand the search results</summary>
[code]

</details>

[2017-02-10 14:07] filmor commented on #330
Yeah, it's a bit of a pain :/. We could have two `runtime.cs` modules, though, switching them at runtime depending on the Python we run against.

[2017-02-10 14:12] tonyroberts commented on #330
Maybe a subset of runtime.cs could be auto-generated by parsing Python.h, similar to how the interopXX.cs files are generated?

[2017-02-10 14:20] arigo commented on #330
Note, before going to lengths in that direction, that PyPy's emulation of the CPython C extension API is not 100% complete.  For example, ``Py_Initialize()`` is not implemented (it does not support "embedding", only "extending").  I just noticed it inside one of the error messages pasted above.

[2017-02-10 15:01] lcorrigan opened #374 "Enhancement to read XML doc strings from .NET libraries instead of just signature."
### Environment
-   Pythonnet version: 2.2.2
-   Python version: 2.7.13 x86
-   Operating System: Win10x64

### Details
Various IDE's and Consoles (VS2015 with PTVS, Jupyter Notebook, ipython console etc) will show the function signature or class description within a .NET assembly for Intellisense/Autocompletion etc, but only the types are retrieved.  I believe pythonnet pulls this info from the [

[2017-02-10 18:03] denfromufa commented on #330
using this regex I replaced all `Py*_` calls to `PyPy*_` calls.

![image](https://cloud.githubusercontent.com/assets/7870949/22837460/4dbcd6c0-ef86-11e6-9f9c-9f66ff5d52be.png)

I had to remove UCS2/UCS4 calling convention from Unicode objects as well.

I ignored the call to Py_Initialize() for extending case with try/catch (this works in CPython), but is there any alternative method to initialize

[2017-02-10 18:06] denfromufa commented on #330
@arigo are there debug builds of pypy with PDB symbols anywhere? i read it takes hours to compile pypy locally.

[2017-02-10 18:33] vmuriart commented on #330
@filmor @denfromufa this looks like a good example to use @dmitriyse 's implementation of separating `interop` from `runtime`. I have a [WIP](https://github.com/vmuriart/pythonnet/tree/Separate_Runtime-Interop) branch of his work.

Since it uses interfaces for defining runtime, we can easily create a implementation for `pypy`

[2017-02-10 18:41] vmuriart commented on #374
This doesn't look to be possible.

http://stackoverflow.com/questions/28495651/how-to-get-documentation-of-method-or-class-using-reflection

[2017-02-10 21:16] arigo commented on #330
Let me guess, if you don't read Python.h, then the .NET code also missed the fact that the base PyObject structure is different (and so, all others too).  PyPy is really not meant to be an ABI-compatible replacement for CPython---only an API-compatible one.  Another guess: for performance reasons it contains explicit versions of various CPython macros rewritten as .NET code.  Sorry, that can't wor

[2017-02-10 23:23] denfromufa commented on #330
@arigo you are right, but pythonnet does not use too many internal CPython structures. I believe we can port all of those structures either manually or using bundled `geninterop.py` that uses clang and pycparser. The only macro that was ported to C# which I know is Decref/Incref.

[2017-02-10 23:25] denfromufa commented on #330
here is the pypy + pythonnet with my edits if anyone wants to play with or start a new branch:

https://www.dropbox.com/s/zevjlsfe9mk1pdg/pypy2-v5.6.0-win32.zip?dl=0

[2017-02-12 05:27] denfromufa commented on #370
@yagweb @filmor I like this 4th proposal as well. let's continue the relevant discussion in the pull request.

we can keep this issue open to find out why `var stdout= sys.GetAttr("stdout"); // returns None` returns None.

[2017-02-12 19:02] denfromufa commented on #325
@Thraka there is also auto-update functionality for pyinstaller (like clickonce for .NET):

https://github.com/JMSwag/PyUpdater

[2017-02-12 20:03] Thraka commented on #325
Thanks!!

[2017-02-12 22:32] filmor commented on #374
It's not entirely impossible. If the DLL is accompanied by an XML file one can get the XML doc comments from that one, e.g. http://jolt.codeplex.com/wikipage?title=Jolt.XmlDocComments&referringTitle=Jolt

[2017-02-12 22:46] filmor commented on #370
We don't need to keep this open, this is documented behaviour:

https://docs.python.org/3/library/sys.html#sys.__stdin__

[2017-02-13 03:26] denfromufa commented on #330
@arigo @tonyroberts I think Decref/Incref and PyPyObject_Type macros are resolved. Now I'm dealing with this issue in pycparser for parsing PyHeapTypeObject and all its sub-structs:

https://github.com/eliben/pycparser/issues/162#issuecomment-279280908

If this is not resolved, then will need to regenerate PyHeapTypeObject from Python.h manually.

Here is the current crash state in pypy with `impo

[2017-02-13 06:52] denfromufa commented on #330
PyObject_HEAD contains extra `Py_ssize_t ob_pypy_link`, which I added to PyHeapTypeObject:

![image](https://cloud.githubusercontent.com/assets/7870949/22873258/804ce67a-f184-11e6-8425-0060008448bf.png)

Now, next error:
[code]

Here is the current state:

https://www.dropbox.com/s/zevjlsfe9mk1pdg/pypy2-v5.6.0-win32.zip?dl=0

[2017-02-13 06:59] denfromufa commented on #330
Oh, now I reached RPython traceback:

[code]

[2017-02-13 20:55] vmuriart commented on #374
Out of curiosity, is the `.xml` normally included as part of distributions? Is there one for `System`? Personally in my domain, I never gotten an `.xml` along with the binary, though in all fairness I also get alot of code without any comments.

I like the idea of using the `.xml` if we can find it (ie, `try-catch`) but looks like `jolt` hasn't been updated in a while. We could implement our own v

[2017-02-13 22:05] denfromufa commented on #374
Jolt is not maintained, but sandcastle is:

https://github.com/EWSoftware/SHFB

On Mon, Feb 13, 2017, 2:55 PM Victor Uriarte <notifications@github.com>
wrote:

[2017-02-14 02:49] yagweb commented on #370
@filmor @denfromufa I agree with this explanation. I have a proposal based on this  mechanism.

When We embedded Python in a .NET Console application. Usually we want the Python print statement outputs to the screen directly.

So, what about the function PythonEngine.Initialize automatically redirects the sys.stdout and sys.stderr to the Console when it detecting the current application is a Conso

[2017-02-14 03:00] denfromufa commented on #330
Here is the current pypy branch:

https://github.com/pythonnet/pythonnet/tree/pypy

I'm stuck with above error from rpython with this CLR traceback:

![image](https://cloud.githubusercontent.com/assets/7870949/22913221/124d910a-f22f-11e6-834f-a5a83cc8d935.png)

My plan is to try out with debug build of pypy and possibly attach with native debugger.

[2017-02-14 03:04] yagweb commented on #370
@filmor @denfromufa If the Solution 4 is chosen as the recommended way for the sys.stdout redirection. It's better to provide a .NET interface  listing the methods needed. It can help us when we want the redirection in other senses.

[2017-02-14 03:06] denfromufa commented on #370
@yagweb i agree with this suggestion, and you @filmor?

Similar setup is provided for sys.argv in Initialize.

[2017-02-14 10:25] filmor commented on #370
I agree with that, too. However, there doesn't seem to be a simple way to detect whether an application is running from a console in .NET. Also, the override should probably be done by wrapping `Console.Out` etc. instead of using the `Console.Write` functions.

[2017-02-14 13:42] lcorrigan commented on #374
Although it would be nice to have this feature for all .NET libraries, if it were limited to those assemblies that have accompanying XML help files it would be an awesome start. Our in-house libraries (large set) are created with Sandcastle XML documentation for a chm file already, so if pythonnet was able to read them for intellisense/autocompletion it would be great for rapid scripting. I apprec

[2017-02-14 14:43] vmuriart commented on #374
@lcorrigan which IDE are you using? Most IDE's I've used with `pythonnet` have issues providing code completion for `.net` libraries. I think `spyder` and `jupyter notebook` are able to provide some code completion after you've run the import code.

For `pycharm` I think we need to generate code skeletons so that it provides auto completion. Other IDE's i think use Jedi Autocomplete, so we may nee

[2017-02-14 14:44] vmuriart commented on #374
Note, my previous comment is a related issue but shouldn't be a requirement to get this issue closed.

[2017-02-14 15:22] lcorrigan commented on #374
@vmuriart I mostly use PTVS for Visual Studio 2015.  This is the IDE I used to create my initial post.  In-house we use IronPython with this due to the high number of in-house .NET code we have (some folks use Eclipse with PyDev).  I most recently started using Jupyter with CPython for some number crunching and plotting (I love it) but IronPython is not fully welcome in matplotlib, numpy and panda

[2017-02-14 15:54] vmuriart commented on #374
@lcorrigan actually you just brought up a really good point; if `IronPython` has already implemented this we can review their implementation to see if we can mimic it. `IronPython` has a tighter integration to Visual Studio since its supported by Microsoft, but it wouldn't hurt to peak over the fence and see what they have.

Sounds like you have some experience with setting up `PTVS` for unittests

[2017-02-14 19:00] lcorrigan commented on #374
@vmuriart I've attached a very, very stripped-down VS2015 solution that follows our common test code format for unittest with IronPython.  It's not runnable - it just shows the structure, as I couldn't send the real-deal.  We have a class that inherits from unittest but adds some extra stuff for us where we found 'unittest', 'nose' and 'logging' were missing for our special logging and reporting n

[2017-02-14 20:55] #352 closed

[2017-02-14 21:10] vmuriart commented on #224
Travis `dll`s have been *painfully* found without having to use miniconda thanks to this [issue](https://github.com/travis-ci/travis-ci/issues/4834).

Now it outputting the [same error](https://travis-ci.org/vmuriart/pythonnet/jobs/201649380#L1399) that @denfromufa mentions.

[2017-02-14 21:44] vmuriart commented on #374
@lcorrigan thanks for the example! Do you normally set a `StartupFile` to run with `f5`?

wrt the Cadillac, don't forget we accept `pull requests` 😄 .

[2017-02-15 01:28] lcorrigan commented on #374
@vmuriart yes, I sometimes select a sequence file as the StartupFile and press Run/F5. But since I often keep a number of different sequencer files in a project, I most often just right-click on the sequence file in the editor and select 'Run without debugging'.  That runs it directly in it's own iron python interpreter session.  With that method, you can kick off multiple sequencer files (so long

[2017-02-15 05:38] denfromufa commented on #203
it appears that precedence of types is simplified version of Jython, found by @vmuriart 👍

https://github.com/pythonnet/pythonnet/blob/master/src/runtime/methodbinder.cs#L170

I'm not sure how this compares to IronPython, but likely very similar due to the same author:
https://en.wikipedia.org/wiki/Jim_Hugunin

[2017-02-15 05:43] vmuriart commented on #203
Fun fact on the history of Jim and IronPython.

[2017-02-15 15:41] vmuriart commented on #374
@denfromufa I just took a look at `SHFB` and I don't think its what we are looking for. Looks like `SHFB` is for generating documentation rather than parsing existing documentation.

[2017-02-15 16:35] yagweb opened #380 "Add a class to manage the context of a interaction with Python and simplify the variable exchanging"
"eval" and "exec" are the most frequently used methods when interacting with Python.  However, this two methods implemented [here](https://github.com/pythonnet/pythonnet/pull/389) are hard to use because maintain the global variable dictionary and local variable dictionary is a tedious and repeated work.

The nature of the problem lies in the variable exchanging between .NET and Python.

I think a

[2017-02-15 17:07] yagweb commented on #380
I think It's a better practice to avoid using RunString with one or two python statements in .NET code, because it is low runtime efficiency. This proposal and [the proposal](https://github.com/pythonnet/pythonnet/pull/373) can help to achieve this goal.

[2017-02-15 17:50] vmuriart commented on #380
Do you still need to `initialize` and `finalize` the engine? From your proposal it doesn't sound like it but looking at the tests you are [initializing and finalizing it.](https://github.com/yagweb/pythonnet/blob/5634ccb8a2a40851b332fee9c60b3e241677ef6a/src/embed_tests/pyscope.cs#L12-L18)

[2017-02-15 21:43] vmuriart opened #382 "Consider using Cache to speed up CI builds"
### Environment

-   Pythonnet version: All
-   Python version: All
-   Operating System: CI

### Details

Keep Cache of `pip` and `packages` to avoid downloading again.

travis:
[code]

AppVeyor:
[code]

[2017-02-15 21:45] vmuriart commented on #382
Tested on both `AppVeyor` and `Travis`. It actually makes the builds take longer. Packaging/Unpackaging actually took longer than simply downloading them again.

[2017-02-15 21:45] #382 closed

[2017-02-16 02:46] denfromufa commented on #315
System.Data.OleDb Jet driver should work with both 32/64 bit CPython.

[2017-02-16 02:48] denfromufa commented on #315
I deleted my last message. I need to verify which driver works in both 32-bit and 64-bit with my colleague.

[2017-02-16 04:26] denfromufa opened #383 "slack, google groups, or gitter channel?"
https://pythonnet.slack.com/

https://groups.google.com/forum/#!forum/pythonnet

[2017-02-16 05:54] vmuriart commented on #383
not google groups. That looks like something still stuck in the 90s.

[2017-02-16 06:07] vmuriart commented on #383
For reference:
https://www.quora.com/What-are-the-pros-and-cons-of-Gitter-vs-Slack
https://stackshare.io/stackups/gitter-vs-hipchat-vs-slack

Looks like `Gitter` is much more OSS friendly, and `Slack` would require to invite/request people to join.

`Slack` has built in integration to `AppVeyor`/`Travis`
`Gitter` can be hacked together to integrate with `CI`

`Slack` has a nicer UI.

I'm leaninga

[2017-02-16 06:10] denfromufa commented on #383
![image](https://cloud.githubusercontent.com/assets/7870949/23009567/5883a3f4-f3dc-11e6-9ef8-f27d528a56a0.png)

[2017-02-16 06:18] vmuriart commented on #383
So support the underdog... 🤓
`Slack` it is then.

[2017-02-16 06:22] vmuriart commented on #383
On a related note, we should probably try to centralize the info for the repo. ie, should consider closing or adding a notice to https://bitbucket.org/pythonnet/pythonnet/src and http://pythonnet.sourceforge.net/

Too bad http://python.net/ is taken 😢

[2017-02-16 06:25] denfromufa commented on #383
![image](https://cloud.githubusercontent.com/assets/7870949/23009933/5d763ea6-f3de-11e6-83aa-60143328e258.png)

[2017-02-16 06:28] denfromufa commented on #383
@vmuriart I just sent a reminder about sourceforge and copied you.

[2017-02-16 06:30] vmuriart commented on #383
Yup, i saw the notice there. I meant we should probably add a link to the official repo. Something similar to https://bitbucket.org/hpk42/tox

[2017-02-16 06:32] denfromufa commented on #383
pythonnet downloads on sourceforge are declining rapidly:

![image](https://cloud.githubusercontent.com/assets/7870949/23010106/4cc94200-f3df-11e6-8c32-40c9c222d1a1.png)

[2017-02-16 06:35] stonebig commented on #383
People can now get pythonnet via "pip install pythonnet", don't they ? or via a Python distro.

[2017-02-16 06:38] vmuriart commented on #383
yup. I'm surprised there's any activity on the `sourceforge` downloads.

[2017-02-16 06:40] denfromufa commented on #383
@stonebig here are all download channels:

https://github.com/pythonnet/pythonnet/wiki/Installation

@vmuriart you will be surprised how much there is legacy python 2.5/2.6

[2017-02-16 06:41] denfromufa commented on #383
I purchased this domain last year:

www.python4.net

[2017-02-16 06:48] denfromufa commented on #383
[code]

almost 5000 downloads in 18 days:

![image](https://cloud.githubusercontent.com/assets/7870949/23010511/7a1f242a-f3e1-11e6-89b9-c513ae9e4778.png)

[2017-02-16 07:01] vmuriart commented on #383
whoops. Sorry for derailing the topic of this issue. Looks like we are going w `Slack` then?

[2017-02-16 07:05] denfromufa commented on #383
@vmuriart I'm fine with slack :) I'm going to invite core team. we can add slack tag on readme page later.

[2017-02-16 07:07] vmuriart commented on #383
`shields.io` doesn't support `Slack` and I can't find a shield/badge for them. I may generate a generic badge similar to the `LICENSE` shield.

[2017-02-16 07:59] denfromufa opened #385 "document how to run tests locally without coverage and CI tools"
[code]

This used to work before.

[2017-02-16 08:10] vmuriart commented on #385
run `pytest`

[2017-02-16 08:10] vmuriart commented on #385
or `python -m pytest`

[2017-02-16 09:16] vmuriart commented on #383
Closed by #384

[2017-02-16 09:16] #383 closed

[2017-02-16 13:54] denfromufa commented on #385
nice format from pytest:

![image](https://cloud.githubusercontent.com/assets/7870949/23023868/2574d492-f41d-11e6-9f18-32f9c314dea0.png)

[2017-02-16 13:58] denfromufa opened #387 "migrate docs to wiki"
https://github.com/pythonnet/pythonnet/wiki

http://pythonnet.github.io/

[2017-02-16 14:09] denfromufa commented on #385
ok, I documented here:

https://github.com/pythonnet/pythonnet/wiki/Troubleshooting-on-Windows-and-Linux

[2017-02-16 14:09] #385 closed

[2017-02-16 16:52] vmuriart commented on #385
Strange that `run_tests` didn't work though. I thought I had updated it to run `pytest` as well. Though from the looks of the error its a PY2/PY3 compatibility issue wrt relative/absolute imports.

If you remove the `import` and the call to `input` it should work.

[2017-02-16 19:29] vmuriart commented on #387
imho, documentation should be auto-generated from our code and thus version controlled.

I'm not a big fan of wiki's for documentation, but I think it has its usefulness for documenting random tid-bits of info that don't make sense to be part of the code-comments. For example, `project using pythonnet` makes sense as a wiki.

wrt the homepage... yea that is way outdated. I was looking into migrati

[2017-02-16 19:36] denfromufa commented on #387
Doxygen, read the docs, Sphinx, breathe - that combination supports all 3
languages we use - Python, c#, c/c++.

Jekyll is popular, but I don't know Ruby if any coding/installation is
necessary.

On Thu, Feb 16, 2017, 1:29 PM Victor Uriarte <notifications@github.com>
wrote:

[2017-02-16 19:52] vmuriart commented on #387
There is some setup required for Jekyll, especially to preview changes w.o pushing upstream. The initial migration (atleast from `html` to `md`) can be done effortlessly and without Jekyll. But setting up the more advanced features of GitHub pages will probably require some Ruby knowledge (which I don't have either).

In order to take the best advantage of `sphynx` (and even help with releases) we

[2017-02-16 23:55] vmuriart commented on #367
Adding a bit more info in case someone wants to revisit. Here's an example of a demo build using `language=csharp` and building with `mono`.

https://travis-ci.org/vmuriart/example-csharp-sharpcover/builds/202442943

Some of the finding from using it. Builds take much longer to start (because they require `sudo` and seems to be limited in resources).

`mono` is not pre-installed, it does something

[2017-02-17 02:27] satanasss opened #388 "Clr import system no module named System"
Hi guys,

I'm trying to use to do an import System in my python code but it won't work.

Here is what I do:
Import clr
Import System

So I tried a clr.AddReference, same thing, "AttributeError: 'module' object has no attribute 'AddReference'

Have you guys already had this pb ? Do you need more info ?

Thanks in advance

### Environment

-   Pythonnet version: 2.2.2
-   Clr version 1.0.2
-   Pytho

[2017-02-17 02:35] denfromufa commented on #388
Where did you get this `Clr version 1.0.2`?
Is it this package?

https://pypi.python.org/pypi/clr/1.0.3

If yes, you need to uninstall this clr package to use pythonnet, because
both packages have a name clash.

On Thu, Feb 16, 2017, 8:27 PM satanasss <notifications@github.com> wrote:

[2017-02-17 02:37] denfromufa commented on #388
You can also try using importlib to import clr from pythonnet with full
path provided to clr.pyd.

On Thu, Feb 16, 2017, 8:35 PM Denis Akhiyarov <denis.akhiyarov@gmail.com>
wrote:

[2017-02-17 03:02] satanasss commented on #388
Wow thanks for the quick answer ! Indeed getting rid of clr and reinstalling pyhtonnet fixed the stuff.

Many thanks guys !

[2017-02-17 03:08] #282 closed

[2017-02-17 04:37] vmuriart commented on #249
@denfromufa I found out today that `numpy` is pre-installed in Travis build workers. We could use those if we ever get the embedded tests running.

[2017-02-17 04:39] yagweb commented on #380
@vmuriart Thank you for your remind. I updated the unit test and removed the initialize and finalize methods.

I squashed the PyScope and PySession class. Now it can do this,
[code]

[2017-02-17 07:04] vmuriart commented on #224
Good news and bad news. I got the embedded tests to run and pass on `travis`. The bad news is that I had to disable half of them for it to `pass`.

What time means is that `travis` is fully configured to run the `embedded_tests`, now we just have to fix the issues on the tests.

[2017-02-17 14:59] vmuriart opened #390 "Add Coverity Scan"
### Environment

-   Pythonnet version: Develop
-   Python version: All
-   Operating System: Windows (no Mono support)

### Details

-   Describe what you were trying to get done.

Add [`Coverity Scan`](https://scan.coverity.com/) to identify possible defects.

-   What commands did you run to trigger this issue? If you can provide a
    [Minimal, Complete, and Verifiable example](http://stackove

[2017-02-17 15:06] vmuriart commented on #390
Just submitted the registration application.

[2017-02-17 15:19] denfromufa commented on #390
I actually registered pythonnet in coverity. Let me check!

On Fri, Feb 17, 2017, 9:06 AM Victor Uriarte <notifications@github.com>
wrote:

[2017-02-17 15:20] vmuriart commented on #390
Heres the project link i got

https://scan.coverity.com/projects/pythonnet-pythonnet?tab=project_settings

[2017-02-17 15:21] denfromufa commented on #390
https://scan.coverity.com/projects/pythonnet

[2017-02-17 15:24] denfromufa commented on #390
@vmuriart @tonyroberts @filmor i added you to coverity profile

[2017-02-17 15:24] vmuriart commented on #390
Weird, your link gives me an error even though its now on my dashboard too and I got your invitation.

[2017-02-17 15:27] denfromufa commented on #390
Can you send me your alternative email to try something else?

On Fri, Feb 17, 2017, 9:24 AM Victor Uriarte <notifications@github.com>
wrote:

[2017-02-17 15:29] denfromufa commented on #390
@vmuriart can you unregister your pythonnet integration to github, it complains now on mine:

![image](https://cloud.githubusercontent.com/assets/7870949/23071337/9d23876e-f4f3-11e6-8b2b-c99036fac39a.png)

[2017-02-17 15:33] vmuriart commented on #390
I just deleted my project to release the link. Still getting that error. May need to email Coverity to get that resolved.

[2017-02-17 15:51] vmuriart commented on #390
Just submitted a locally run version for analysis. @denfromufa would you be able to email `Coverity` to try solve the nameclash issue?

[2017-02-17 15:54] vmuriart commented on #390
Cool, analysis finished. We could potentially bump it up to build nightly. For some reason I remember mine taking a few days from beginning to end.

[2017-02-17 16:26] denfromufa commented on #390
![image](https://cloud.githubusercontent.com/assets/7870949/23073514/7866c104-f4fb-11e6-9034-e4c8ce850a98.png)

[2017-02-17 16:29] vmuriart commented on #390
@denfromufa thats why i remembered it taking a couple days.

[2017-02-17 17:13] vmuriart commented on #388
In retrospective we should have registered that package name in PyPi

[2017-02-17 17:16] denfromufa commented on #388
I think there is a way to "complain" to pypi members, so that this clashing is resolved.

This clr package is only about one month old.

But let's wait over the weekends, if the author responds.

[2017-02-18 04:10] denfromufa commented on #330
ok, I built pypy from source and now can debug the rpython translated to C. But I have no idea why the object became undefined:

![image](https://cloud.githubusercontent.com/assets/7870949/23090205/ae0de2bc-f55d-11e6-8c20-527593987c49.png)

[2017-02-18 04:16] denfromufa commented on #330
the structure of CLR Metatype looks fine:

![image](https://cloud.githubusercontent.com/assets/7870949/23090231/717bff04-f55e-11e6-97ea-f792081b08d7.png)

[2017-02-18 15:42] fractus opened #392 "Libraries missing after setup.py install on OSX"
### Environment

-   Pythonnet version: v2.2.0-dev1-26-gb1cd3d1 (`git describe --tags`), branch `mac-osx`
-   Python version: Python 3.5.2 :: Anaconda 4.3.0 (x86_64)
-   Operating System: OSX El Capitan 10.11.6

### Details

1. Checked out the branch, and run `python setup.py install`. This worked, after setting
'PKG_CONFIG_PATH=/Library/Frameworks/Mono.framework/Versions/4.6.2/lib/pkgconfig`
(see

[2017-02-18 16:00] denfromufa commented on #392
@fractus don't use mac osx branch, it is not finished. Also report your mono installation steps.

follow this issue on osx:

https://github.com/pythonnet/pythonnet/issues/120

[2017-02-18 16:08] fractus commented on #392
Thanks -- I'll wait until it's merged.

* My mono installation is from the package file from
[http://www.mono-project.com/download/](http://www.mono-project.com/download/).
* I am not using any package managers.
* Conda env is created by `conda create -n py35 python=3.5 anaconda`
* `pkg-config` is build from sources.

[2017-02-18 20:24] denfromufa commented on #214
This is what I use to sign Python.Runtime.DLL with strong custom key:

https://github.com/brutaldev/StrongNameSigner

[2017-02-19 01:10] denfromufa commented on #392
@fractus the issue "System.DllNotFoundException: MonoPosixHelper" is quite known on Windows and OSX with Mono, just google it.

Also you may have more tested mono installation with `brew install mono`.

[2017-02-19 04:38] denfromufa opened #394 "using geninterop.py on Windows"
@tonyroberts were you able to use geinterop.py on Windows?

If yes, how did you provide fake headers to pycparser? Here is a typical problem I'm getting when re-generating interopXX.cs files:

[code]

[code]

[2017-02-20 02:15] denfromufa commented on #85
@mikofski @eisenheimjelid why would you use .NET from Flask/Django app?

[2017-02-20 07:33] mikofski commented on #85
I needed to use a particular .NET assembly that communicated with an ASP.NET framework to get some data from a MSSQL server. I did not have access to the database directly, nor could I use the ASP.NET framework from Python. It was a black box, and all I was given was the DLL with exposed methods like `GetWeatherDataHeader()` etc. I used subprocess in the interim and we eventually replaced the enti

[2017-02-21 02:56] denfromufa commented on #387
@vmuriart i'm thinking that maybe our tutorial at least for python should be in jupyter notebooks?
We can then run these notebooks using pytest plugin for jupyter on CI.
There are slight differences when executing in ipython though.
We can then publish notebooks with docker and binder for live interactive notebooks.

[2017-02-21 02:57] denfromufa commented on #387
http://mybinder.org

I don't think there is any equivalent for Windows though.

[2017-02-21 14:47] vmuriart opened #397 "Fix AppDomain unload issue"
### Environment

-   Pythonnet version: develop
-   Python version: All
-   Operating System: All

### Details

Embedded tests have started taking longer after `pytuple` tests were added. This is causes embedded tests to finish with `Unable to unload AppDomain, Unload thread timed out` albeit, still pass the tests.

`TestPyTupleInvalidAppend` in particular causes the issue to happen consistently o

[2017-02-21 22:08] vmuriart commented on #390
The review process is complete and the defects can be seen now.
![image](https://cloud.githubusercontent.com/assets/13303020/23187330/a2b5ba06-f847-11e6-82c0-dc030ab65aee.png)

[2017-02-22 04:07] vmuriart commented on #237
Coverage was added to `.net` through AppVeyor when running embedded and python tests. There is no mature & maintained coverage for `mono`. For some of the existing tools, they don't conform any existing coverage file format. It's even looking bleak in `core dotnet` since `OpenCover` isn't currently actively working on it.

I think the milestone should be removed on this one or closed as fixed. Tho

[2017-02-22 04:14] denfromufa commented on #237
@vmuriart agreed, it least some coverage!

[2017-02-22 04:14] #237 closed

[2017-02-22 04:18] vmuriart commented on #237
Readded the milestone so that it counts towards `v2.3.0`. :nerd_face: I had meant to either remove milestone or close issue.

[2017-02-22 04:34] denfromufa commented on #96
@var1ap @dmitriyse can you prepare a pull request with compilation flags for coreclr? much like .NET/Mono flags that we have currently.

[2017-02-22 06:43] #319 closed

[2017-02-22 07:26] dmitriyse commented on #96
I can spend time to reapply coreclr code adoption in the next week.
Please review talk in those posts https://github.com/dmitriyse/pythonnet/commit/38adb2e8701f78a203ca5f7ddc60582c382e2b6b#commitcomment-20774083

Please consider with vmuriart, which fork/branch is most suitable for this work, where I can fork.

[2017-02-22 09:19] tarpista commented on #356
Ok, thanks.

[2017-02-22 12:27] #203 closed

[2017-02-22 13:38] vmuriart commented on #96
@dmitriyse on top of `master`, but at the rate we are committing changes at the moment it wouldn't make sense to do all the work if it won't get merged in immediately.

@denfromufa, after reviewing @dmitriyse and @var1ap, their changes look pretty straight forward to upgrade to `coreclr`. My hesitation is that it seems that it would require us to upgrade from `4.0` to `4.5` framework which may dro

[2017-02-22 15:10] denfromufa commented on #96
I agree with your comments @vmuriart

.NET 4.5 is a bummer, I'm also mostly on .NET 4.0 due to old Windows Server
editions.

I'm also against deprecating Mono, at least until CoreCLR works better.

On Wed, Feb 22, 2017, 7:38 AM Victor Uriarte <notifications@github.com>
wrote:

[2017-02-22 15:56] #224 closed

[2017-02-22 21:55] denfromufa commented on #340
https://github.com/Microsoft/BashOnWindows/issues/1212

[2017-02-22 21:57] denfromufa commented on #340
https://github.com/Microsoft/BashOnWindows/issues/1265

[2017-02-23 05:39] vmuriart commented on #245
for anyone looking into the `LD_LIBRARY_PATH`. Here's how it was solved for `Travis`.

[code]

[2017-02-24 00:15] vmuriart opened #401 "Deprecate Public RunString"
Deprecate Public API `RunString` to internal use and encourage use of `RunSimpleString`, `Eval`, `Exec`.
See https://github.com/pythonnet/pythonnet/pull/389#discussion_r102672538 for related discussion.

Would use:
[code]

[2017-02-24 00:24] vmuriart commented on #382
If revisiting, check also http://atchai.com/blog/faster-ci/ for other tips.

[2017-02-24 00:32] vmuriart commented on #387
@denfromufa would it be a separate repo? Can't say I have any experience w them. At this point I'll be glad just having updated static docs 😃 .

[2017-02-24 00:34] vmuriart commented on #387
Should the homepage be updated to have minimal boiler plate info and then re-direct to the wiki?
That way we don't have two sets of documentation that may fall out of sync.

[2017-02-24 02:05] vmuriart commented on #55
This SO question has an example we can use for testing.

http://stackoverflow.com/questions/35207064/python-for-net-and-c-sharp-extensions-signalr-client-in-python-on-method-not

[2017-02-24 02:24] vmuriart commented on #374
References and related info:

http://stackoverflow.com/questions/14076184/ironpython-how-to-obtain-xml-documentation-strings-from-net-assemblies

http://stackoverflow.com/questions/5428298/ironpython-use-c-sharp-module-documentation#comment6760132_5439443

https://mail.python.org/pipermail/ironpython-users/2010-March/012305.html

https://github.com/IronLanguages/main/blob/ipy-2.7-maint/Languages/I

[2017-02-24 02:35] denfromufa commented on #374
@vmuriart can you summarize your findings from this list?

[2017-02-24 02:39] denfromufa commented on #55
@vmuriart TDD :)

[2017-02-24 02:49] denfromufa commented on #390
@vmuriart I also checked warnings from VS 2015 code analysis and it shows over 100 issues. Some of them were from recent PRs.

[2017-02-24 02:58] denfromufa commented on #387
@vmuriart I removed the wiki duplicate, IMO the static webpage should be part of code repo, so that code and docs can be updated in one PR.

[2017-02-24 03:10] denfromufa commented on #382
@vmuriart do we have a log of how much each build step takes?

[2017-02-24 03:15] denfromufa opened #402 "wiki article - remove or improve?"
https://github.com/pythonnet/pythonnet/wiki/How-to-embed-python-scripts-in-your-.Net-project-use-pythonnet%3F

[2017-02-24 03:16] denfromufa commented on #402
@LinJianping

[2017-02-24 05:22] denfromufa commented on #390
[pythonnet_VS_warnings.xlsx](https://github.com/pythonnet/pythonnet/files/798435/pythonnet_VS_warnings.xlsx)

[2017-02-24 07:17] vmuriart commented on #390
Take some of VS's warning with a grain of salt. (https://www.slideshare.net/Coverity/finding-defects-in-c-01-2014)

Looks like `CA1060` can be filtered out though. A couple other issues in that list I've commented in the code already. The list actually looks like its missing more warnings though, there should be a few about variables being declared and not used.

[2017-02-24 07:19] vmuriart commented on #382
yes. On AppVeyor hover over the log and it says the timestamp.
Travis you download the logs.

[2017-02-24 07:51] sg08013 opened #404 "Compatibility issue between argparse and pythonnet packages"
### Environment

-   Pythonnet version: 2.3.0.dev1 (built from master on 23/02/2017)
-   Python version: 2.7.13 64bit
-   Operating System: Windows 7 64bit

### Details

-   I tested the pythonnet version from yesterday, 23/02/2017, as we are interested in the bug fix for the method overload issue #377. I noticed that we are now running into compatibility issues with the package argparse.

The pac

[2017-02-24 07:54] denfromufa commented on #404
can you try before this pull request?

https://github.com/pythonnet/pythonnet/pull/347

[2017-02-24 07:59] denfromufa commented on #404
@filmor can you have a look at this, since this is most likely your pull request.

@vmuriart looks like you imported clr before setargv tests, hence this case was not tested:

https://github.com/pythonnet/pythonnet/pull/301

[2017-02-24 08:04] vmuriart commented on #404
@sg08013 can you verify that `sys.argv` is returning as `None` in the 2nd case.
@denfromufa yup. Though looking at the issue, it would have been better to test `sys.argv != None` and then when it's imported shouldn't matter.

[2017-02-24 08:08] denfromufa commented on #404
no, we need to check that sys.argv is not modified. Checking against None is not enough. Generally `is not None` is better syntax.

[2017-02-24 08:20] filmor commented on #404
It should suffice to pass the information to `Initialize` that we are currently running in "module-mode" and skip the setting of argv in that case. I'll prepare a PR.

[2017-02-24 08:22] filmor commented on #401
Can't we remove it immediately? Didn't I introduce this for the setargv branch, at least in the extended form?

[2017-02-24 08:23] denfromufa commented on #401
we can deprecate after few pull requests :)

[2017-02-24 08:27] denfromufa commented on #404
hey, guys, sorry if I sounded rude. i'm actually rude by design :)

[2017-02-24 08:29] vmuriart commented on #401
@filmor correct, you introduced the extended form in that `pr`. The previous form was there before though. I think we should give users atleast 1 release to migrate over if they are using it.

[2017-02-24 08:33] sg08013 commented on #404
I just tested the value of sys.argv with the following code:
[code]

['test.py', '--arg1', 'bla']
['']

[2017-02-24 08:36] vmuriart commented on #404
I can't think of a good way to write the test for this without breaking how `pytest` is designed to work. The best i can come up w is to have the test execute an external script via `subprocess` and report the result from it.

[2017-02-24 08:40] vmuriart commented on #404
I would also like to point out that this is issue `404 - sys.args not found`.

[2017-02-24 08:44] denfromufa commented on #404
@vmuriart you can check if sys has args with hasattr. sys.args does not exist yet after Py_Initialize().

@sg08013 thanks for reporting the issue!

[2017-02-24 08:45] filmor commented on #401
But we should only have the previous form public. I think we should hide all functions that operate on pointers directly (like this one does through use of `locals` and `globals`.

[2017-02-24 08:57] denfromufa commented on #401
Actuall RunString was used quite a bit, but mostly reporting issues:

http://stackoverflow.com/questions/15749028/would-you-share-your-idea-how-to-call-python-command-from-embedded-python-net

https://mail.python.org/pipermail/pythondotnet/2007-March/000592.html

https://mail.python.org/pipermail/pythondotnet/2008-January/000766.html

https://mail.python.org/pipermail/pythondotnet/2006-October/000

[2017-02-24 15:34] vmuriart commented on #404
Fixed the test on 012b488af1a5f73bd7086923cbb9a437a30a5886 to reflect the behavior being seen. Its marked as `xfail` for now until we fix it.

Here's the test running against v2.2.2 showing that it worked.
https://travis-ci.org/vmuriart/pythonnet/jobs/204904097

Thanks @sg08013 for reporting and providing the example.

[2017-02-24 16:29] sg08013 commented on #404
@vmuriart I can't say yet, whether our issue is entirely resolved. We were having problems using overloaded methods from a C# assembly (in python). There were no crashes or exceptions, just empty return values. This part now runs through (=is resolved), but there is still something that does not work as expected (but this might be unrelated).
I will let you know when I understand it better.

[2017-02-24 16:31] sg08013 commented on #404
And thanks to all of you for taking care of this issue so quickly! That's highly appreciated.

[2017-02-24 17:19] yagweb commented on #401
@vmuriart When implemented the methods Eval and Exec, I thought the better design is using PyDict instead of IntPtr? as the data type of their arguments globals and locals. However considering RunString may be widely used, keep using IntPtr? can simplify the code migration by directly replacing RunString with Exec. If the PyScope function in this [PR ](https://github.com/pythonnet/pythonnet/pull/3

[2017-02-24 18:37] #404 closed

[2017-02-24 20:32] vmuriart commented on #401
@yagweb admitting, our docs are thin and outdated. We just migrated them from an old html file to an [md](https://github.com/pythonnet/pythonnet.github.io/blob/master/README.md) file so that its easier to version control. We would definitely appreciate any help on this.

@filmor good point. We can recreate the old `public` api and make the newer one `internal`. Looking back on 9912712981867df79493

[2017-02-24 20:52] vmuriart commented on #374
@denfromufa updated my comment with the summary info. In conclusion, its doable and may be easier than I originally though. My previous comment lays out all the information needed to implement.

I tried looking if `Jython` had a similar implementation but couldn't find anything in the 2 minutes i looked.

[2017-02-24 20:57] vmuriart commented on #392
@fractus have you tried building or using the current `master` branch? We removed references to mono libraries in b4710fc8ac9bbfada9b37407682147ee43f91bdb and 359e5412a3a67158bb115786ee2b5e97db786f43.

[2017-02-24 21:50] vmuriart commented on #81
`PyWin32` does something similar to this and I found the feature to be very confusing. In part because some methods were case insensitive, while others weren't but granted this may be an issue with `PyWin32`.

A more concrete example is the following case

[code]

[code]

It would be complicated to figure which method the user actually meant to call.

[2017-02-24 21:50] #81 closed

[2017-02-24 21:50] fractus commented on #392
@vmuriart

Thanks, it is working now, with a minor change in [setup.py](https://github.com/pythonnet/pythonnet/blob/master/setup.py#L174-L176) to use `otool` rather than `ldd`. You may want to incorporate this for OSX builds.

[code]

[2017-02-24 22:00] vmuriart commented on #392
The osx branch you originally used was mostly trying to setup Travis to test on OSX. @denfromufa we should probably delete the branch to avoid confusion in the future.

@fractus interested in submitting a `PR` for this? You can piggy-back on the [platform check](https://github.com/pythonnet/pythonnet/blob/db6c1b2f2d2542b12d6c7211fd1f1a5790320e23/setup.py#L164-L168) to determine which command shoul

[2017-02-24 22:28] vmuriart commented on #120
@spichardo was there a downside to just updating the `dll.config`?

On linux this file is only necessary for `PY27`. I kept all PY3 version on the file so that the file wasn't so bare.

Looks like this is the case for macOS and PY3 as well, on #392 there was no mention of having to update the `dll.config` file and the only obvious difference I saw was that it was using PY35. @fractus did you have

[2017-02-24 22:33] fractus commented on #120
@vmuriart -- No, just the changes reported in #392.

[2017-02-24 23:14] vmuriart commented on #322
@cowboygneox your latest recipe doesn't need to include the `pythonnet` source code anymore right?

[2017-02-25 00:32] cowboygneox commented on #322
@vmuriart Correct. I just uploaded the latest today to use Mono 4.8 and pythonnet 2.2.2. https://hub.docker.com/r/cowboygneox/pythonnet/

[2017-02-25 00:51] vmuriart commented on #322
Yup, I noticed them while browsing 👍. Forewarning, I have limited `docker` knowledge so bare with me.

What do we need to combine efforts (not sure what you meant by this)?
I think you meant in relation to #240 to combine efforts, or was it to include a sample copy of the docker recipes?

[2017-02-26 02:18] vmuriart opened #408 "PyUnicode_AsUnicode function signature mismatch on UCS2/UCS4"
Signatures of the functions are different.

`UCS2`:
`internal unsafe static extern char* PyUnicode_AsUnicode(IntPtr ob);`

`UCS4`:
`internal unsafe static extern IntPtr PyUnicode_AsUnicode(IntPtr ob);`

Leading to weird hacks in the code such as [1](https://github.com/pythonnet/pythonnet/blob/f2519f7a826534a884327cf59915961c6825ec72/src/runtime/converter.cs#L603-L616) and [2](https://github.com/py

[2017-02-26 06:11] denfromufa commented on #330
I have some progress on pypy debugging with pythonnet. The issue right now is setting tp_flags which crashes PyType_Ready:

https://bitbucket.org/pypy/pypy/issues/2486/pypytype_ready-with-tp_flags-crashes-pypy

some issues were resolved in pypy by @arigo, which enable parsing pyheaptypeobject without hacking the source:

https://bitbucket.org/pypy/pypy/issues/2484/pyheaptypeobject-difference-with-

[2017-02-26 21:02] cowboygneox commented on #322
@vmuriart I'm suggesting that pythonnet make an official group on [Docker Hub](https://hub.docker.com/) and updates various Docker images that have environments all configured and ready to go.

Using Docker has saved me a ton of time in configuring environments, and no matter how hard your team works to make the bridge of Python to .NET easy to install and manage, Docker will always be easier.

I

[2017-02-26 21:43] vmuriart commented on #322
@cowboygneox thanks for the explanation and offer to help! Docker doesn't play nice with my computer so I don't have much experience with it, so your help is appreciated.

@denfromufa do we already have a `docker` group account? I don't want to cause another nameclash mess like `coverity`'s.

Looks like the common practice (atleast from the links posted in #240) is to have a separate repo exclusiv

[2017-02-26 22:51] denfromufa commented on #322
@vmuriart @cowboygneox I created pythonnet account, but cannot convert it to organization. See the error in screenshot below. So I created pythondotnet organization and added you both there:

cloud.docker.com/app/pythondotnet

![image](https://cloud.githubusercontent.com/assets/7870949/23344515/77794ef2-fc43-11e6-8c55-7b585a676f53.png)

[2017-02-26 22:54] vmuriart commented on #322
isn't the account name you created `pythonnet`? looks like you are putting your own username.

[2017-02-26 23:02] denfromufa commented on #322
@vmuriart yes, I created pythonnet, but in order to convert it to organization, I had to create username denfromufa and link it during this step in the screenshot above. For some reason docker cloud thinks that denfromufa is not a valid Docker ID. Anyway use either pythonnet or pythondotnet for now. You are in both accounts. I will try to convert pythonnet to organization tomorrow.

Looking back I

[2017-02-26 23:04] tomhunter-gh commented on #332
Hi @rmadsen-ks, were you able to get anywhere with this issue?  I am trying to run a C# application which executes some Python scripts but I am not hitting any breakpoints in the Python code.

I have tried your example project and I get the same results - no breakpoints hit in Python when I start the C# project, and no breakpoints hit in C# when I start the Python project..

Were you able to get r

[2017-02-27 01:39] denfromufa commented on #332
@tomhunter-gh I just tested and this is working without remote debugging and without mixed-mode debugging:

[code]

[code]

Note that you need to attach only Python debugging engine:

![image](https://cloud.githubusercontent.com/assets/7870949/23345950/2787e99a-fc5b-11e6-967f-1f0ad8fff15a.png)

[2017-02-27 01:59] #397 closed

[2017-02-27 02:03] vmuriart commented on #245
@dmitriyse @royalstream can you verify if the latest master have solved your issue? Between #365 and #400 we should have fixed the issues with shutting down.

[2017-02-27 02:05] vmuriart commented on #397
Issue was with `gc` on `pythonexception`. Was solved by #400.

[2017-02-27 03:12] denfromufa commented on #303
so @vmuriart found a solution to this problem that works with system python, no miniconda necessary:

https://github.com/pythonnet/pythonnet/issues/245#issuecomment-281900109

[2017-02-27 03:29] denfromufa commented on #245
@vmuriart do we have any tests in pythonnet now for code snippets provided above, which reproduced the crash:

https://github.com/pythonnet/pythonnet/issues/245#issuecomment-252118132

[2017-02-27 04:52] whaozl opened #409 "in C#, PythonEngine.RunString don't work."
http://stackoverflow.com/questions/15749028/would-you-share-your-idea-how-to-call-python-command-from-embedded-python-net

[2017-02-27 05:03] vmuriart commented on #245
Many :). At the beginning of `v2.2.2` almost every embedded test produced this error in one way or another. This was one of the reasons we weren't able to run embedded tests before in AppVeyor/Travis.

The tests in `initialize` in particular make sure that initialize and shutdown work well. Specific to the example listed though, we have other examples that cover it like [`AssignNone`](https://gith

[2017-02-27 05:08] denfromufa commented on #409
@whaozl we are thinking about deprecating RunString, see the thread here:

https://github.com/pythonnet/pythonnet/issues/401

Any reason why RunSimpleString is not fine?

[2017-02-27 05:11] denfromufa opened #410 "embedding docs - expose all available API"
cc @yagweb  @vmuriart

Initialize
Py.GIL and Threads
RunSimpleString, Exec, Eval
Py.Import
Dynamic vs static declaration
Py.kw
Setting paths
Type conversions
Shutdown

[2017-02-27 05:12] denfromufa commented on #401
@yagweb I agree that embedding docs are very thin. Which methods do you think need to be exposed in the API docs for embedding? I opened a separate issue for methods that need to added in docs: https://github.com/pythonnet/pythonnet/issues/410

[2017-02-27 05:50] whaozl commented on #409
I want to return values for the command.

[2017-02-27 05:52] vmuriart commented on #409
we recently added that feature thanks to @yagweb on #389. You can try those commands. The tests he added have examples on how to use them.

[2017-02-27 05:54] vmuriart commented on #410
Here's a list of whats currently publicly exposed but with no xml docs.

`Python.Runtime.PythonDerivedType.InvokeMethodVoid(Python.Runtime.IPythonDerivedType, string, string, object[])'
`Python.Runtime.PythonDerivedType.InvokeGetProperty<T>(Python.Runtime.IPythonDerivedType, string)'
`Python.Runtime.PythonDerivedType.InvokeSetProperty<T>(Python.Runtime.IPythonDerivedType, string, T)'
`Python.Runti

[2017-02-27 05:56] vmuriart commented on #410
The easier approach might to write a few more example based on the unittests and limit those examples to use only `API` that will remain public.

[2017-02-27 05:58] whaozl commented on #409
but, in the release pythonnet 2.2.2, I don't find the  ```PythonEngine.Eval```. and, will you release a new version?

[2017-02-27 06:09] vmuriart commented on #355
I think once we finalize the `API` deprecation and a couple more issues/pr we should go ahead and release `v2.3.0`.

[2017-02-27 06:11] vmuriart commented on #409
#355 is where we'll probably be discussing when the next release will be. There's still a couple open items left before we can release though.

[2017-02-27 06:15] vmuriart commented on #409
If you just want to get a copy of the latest `whl` without having to build them, you can get them from [AppVeyor](https://ci.appveyor.com/project/pythonnet/pythonnet/branch/master)

Click on your version, then click on `artifacts` and download the wheel.
You can then install it with `pip install --no-index --find-links=.\dist\ pythonnet`

[2017-02-27 06:53] rmadsen-ks commented on #332
@tomhunter-gh, I think this is not as much a problem with Python.NET, but a problem with the PTVS and the debuggers out there. If you try PTVS, you might be able to do something like this. If you use PyCharm or VSCode, it might be a different story.

Last time I checked I was able to attach the debugger in some situations, for example if I call the python code and it starts with sleeping 20sec, so

[2017-02-27 08:01] #409 closed

[2017-02-27 08:01] whaozl commented on #409
Thank you very much!

[2017-02-27 09:45] tomhunter-gh commented on #332
Hi @denfromufa, apologies - I'm still not getting it.  I am assuming you have a C# console application and a Python application in your solution and you started debugging the C# application.  Did you then detach from this application and re-attach?  If I try that then, in the Attach to Process dialog under the Available Processes, the C# process is listed with type 'Managed (v4.6, v4.5, v4.0)' but

[2017-02-27 13:54] denfromufa commented on #332
I just start c# console app without debugging. Then attach to this process
to debug only the Python code. See the while loop which waits for debugger
to attach by checking sys.gettrace.

On Mon, Feb 27, 2017, 3:45 AM Tom Hunter <notifications@github.com> wrote:

[2017-02-27 14:00] cowboygneox commented on #322
@denfromufa Let me know if you get a pythonnet org. I'll get started on the images to send a PR for.

[2017-02-27 14:04] tomhunter-gh commented on #332
I think I'm doing exactly the same as you, but for some reason I never hit Python breakpoints..

![image](https://cloud.githubusercontent.com/assets/1420946/23364121/9d2345a6-fcf5-11e6-897c-91d0b1786adc.png)

[2017-02-27 14:05] tomhunter-gh commented on #332
@denfromufa, any chance you could share your test project and I'll try to see if there is some difference in project configuration or such like?

[2017-02-27 15:48] denfromufa commented on #322
@cowboygneox @vmuriart here is the issue I posted on docker forum:

https://forums.docker.com/t/cannot-convert-docker-cloud-account-pythonnet-to-organization/28975

only commercial users can contact support directly.

[2017-02-27 16:47] denfromufa commented on #332
[pythonnet.zip](https://github.com/pythonnet/pythonnet/files/804356/pythonnet.zip)

[2017-02-27 16:48] denfromufa commented on #332
![2017-02-27_10-44-11](https://cloud.githubusercontent.com/assets/7870949/23370419/3969a110-fcda-11e6-9283-ccddcd98a1ba.gif)

[2017-02-27 19:25] denfromufa commented on #382
@vmuriart to speed up Linux builds we could offload some builds to circleci. This is what pandas is doing.

[2017-02-27 19:35] vmuriart commented on #382
Cool. I'll take a look to see if it can work. Travis is slow to setup being we have to reinstall `mono` every time, but atleast it runs 5 builds at a time. AppVeyor is really the one I wish we could speed up since it only runs one 1build/1job at a time, and each of our builds has 10 jobs.

I'm tempted to revisit the idea of dropping py33 just so that we can reduce the job count by 2 😈 .

[2017-02-27 19:46] denfromufa commented on #382
for windows we can also try vsts or teamcity:

https://www.visualstudio.com/en-us/docs/build/concepts/agents/hosted#software

https://blog.jetbrains.com/teamcity/2016/10/hosted-teamcity-for-open-source-a-new-home/

[2017-02-27 20:58] theresa-anne opened #411 "setup.py build with mono in XUbuntu can't load System.Core (NuGet?)"
### Environment

-   Pythonnet version: build from source
-   Python version: 2.7 in 64-bit Anaconda
-   Operating System: Linux (XUbuntu) 64-bit

### Details

I am getting started with Python for .NET in mono on XUbuntu, all 64-bit, in VirtualBox. I installed 64-bit Anaconda2, and unzipped the Python for .NET source materials into the Anaconda bin folder. Note that mono was not built using "brew"

[2017-02-27 21:01] vmuriart commented on #411
@theresa-anne which build instructions? Our documentation isn't very updated, so it not be correct.

[2017-02-27 21:11] theresa-anne commented on #411
python setup.py build_ext --inplace

[2017-02-27 21:16] vmuriart commented on #411
try `python setup.py install` it takes care of placing everything where it needs to be (ie, avoids copy and paste stuff).

Did the install complete (regardless of which setup.py command you used)?

[2017-02-27 21:28] theresa-anne commented on #411
I don't think so, it exited with a trace report, but I soon discovered that I had exceeded my allocated disk space and had to start over with Virtual Box. Give me some time to try again.

[2017-02-27 21:31] denfromufa commented on #411
Brew is only for OSX. Please share your terminal session for full installation steps, e.g. using asciinema.
Look at travis.yml for all prerequisites. pip install pythonnet with sudo is your safest bet, after all prerequisites are installed.

[2017-02-27 22:09] theresa-anne commented on #411
Here's the latest attempt:

1. Create a new XUbuntu guest in Virtual Box
2. Install Guest Additions
3. sudo apt install mono-runtime
4. bash Anaconda2-4.3.0-Linux-x86_64.sh
5. cd to the Anaconda2 bin directory (home/user....)

This time I went to the wiki (could not find "travis.yml") and followed the first step of the Anaconda instructions from the wiki...

VirtualBox:~/anaconda2/bin$ pip install

[2017-02-27 22:16] tomhunter-gh commented on #332
Thanks @denfromufa.  Now I'm getting this:

![image](https://cloud.githubusercontent.com/assets/1420946/23382487/422eb6c2-fd3a-11e6-882f-f71543d8d10e.png)

I think this may be related to 64bit vs 32bit.  I have Anaconda3 64-bit installed so I changed all the project outputs to x64.

[2017-02-27 22:16] denfromufa commented on #411
Can you install mono-complete? I'm afraid mono-runtime is not enough.

On Mon, Feb 27, 2017, 4:09 PM theresa-anne <notifications@github.com> wrote:

[2017-02-27 22:34] denfromufa commented on #332
you also may need to switch from AnyCPU for x64. Also make sure that these flags are set correctly (setup.py takes care of this during installation).

PYTHON2/PYTHON3
PYTHON27/PYTHON34/PYTHON35/PYTHON36
UCS2/UCS4

[2017-02-27 22:48] theresa-anne commented on #411
It seems to be working, but setup is taking an extremely long time to run. I'll follow up late tonight or first thing tomorrow morning to confirm it solved. Thanks for your help! Worked.

[2017-02-27 23:01] cowboygneox commented on #322
Made a pull request and pushed some images to Docker: https://github.com/pythonnet/pythonnet-docker/pull/1

[2017-02-27 23:34] vmuriart commented on #322
fixed the group `pythonnet` and made it an organization. We can use it now instead of `pythondotnet`

[2017-02-27 23:45] denfromufa commented on #322
Can you add all of us to the team?

[2017-02-27 23:47] denfromufa commented on #322
Oh I see that I'm added.

On Mon, Feb 27, 2017, 5:34 PM Victor Uriarte <notifications@github.com>
wrote:

[2017-02-27 23:48] vmuriart commented on #322
yup account its all setup. only thing left is to figure out why its using my `gravatar`

[2017-02-28 02:54] denfromufa commented on #411
Closing, let us know if you find any issues

[2017-02-28 04:30] denfromufa commented on #332
Since my suggestion is working, I'm closing this issue. There are few issues open in PTVS regarding remote debugging problems with ptvsd and slowness of mixed-mode debugging.

https://github.com/Microsoft/PTVS/issues/552
https://github.com/Microsoft/PTVS/issues/578

Upvote these issues if you would like them to be resolved.

[2017-02-28 04:30] #332 closed

[2017-02-28 05:50] vmuriart commented on #408
Closed by #407

[2017-02-28 05:50] #408 closed

[2017-03-01 01:07] vmuriart commented on #392
@fractus which part of the issue still remains unsolved? is it just `PKG_CONFIG_PATH=/Library/Frameworks/Mono.framework/Versions/4.6.2/lib/pkgconfig` now?

[2017-03-01 05:51] denfromufa commented on #410
here is a library for embedding python with pythonnet and using numpy, matplotlib:

https://github.com/Lodomir/PythonInterface

[2017-03-01 07:41] denfromufa commented on #322
ok after many hiccups my docker installation is working on windows 10!

[code]

[2017-03-01 09:22] yagweb opened #412 "Exception when passing a custom python object as the parameter"
### Environment

-   Pythonnet version: v2.2.2
-   Python version: 3.5 64bit
-   Operating System: Windows 10

### Details

I want to call a .NET method from python and pass a python object as the parameter. If the .NET function declare the argument type as PyObject, everything is fine, however, if declare the argument type as object or dynamic, exception raised.

In my project, the exception is “

[2017-03-01 14:05] theresa-anne commented on #411
reopening with one last request for feedback. Here's the latest after installing mono-complete:

** I don't recall the mono install asking me for permission to update my PATH. Could this be the issue?

krebst@krebst-VirtualBox:~/anaconda2/bin$ pip install -i https://pypi.anaconda.org/pythonnet/simple pythonnet
Collecting pythonnet
  Downloading https://pypi.anaconda.org/pythonnet/simple/pythonnet/

[2017-03-01 15:19] denfromufa commented on #411
you are using Mono Version 4.2.1.0 from 2013-2015. Look at installation guide for later mono versions:

http://www.mono-project.com/docs/getting-started/install/linux/

alternatively you can try our docker images:

https://github.com/pythonnet/pythonnet/issues/322

[2017-03-01 15:42] denfromufa commented on #411
related resolved issue with the same error:

https://github.com/pythonnet/pythonnet/issues/209

[2017-03-01 18:15] #120 closed

[2017-03-01 18:19] vmuriart commented on #120
Fixed the issue by removing the dependency on the `dll.config` altogether.

[2017-03-01 19:41] fractus commented on #392
@vmuriart
Yes, for building and installing the package (for 2.7, 3.5 and 3.6).

In addition, though:

* 3.5 and 3.6: The import still fails unless you add the symbolic link (Step 3 above; repeated here):

[code]

* 2.7: The import fails with the following error message (after adding the symbolic link)

[code]

**NOTE**: The above were run in conda environments created as described above.

[2017-03-01 20:48] vmuriart commented on #392
The `dllnotfoundexception` is due to the `dll.config` being written for Linux. Thats what #120 was trying to solve. I just removed the dependency on `dll.config` a couple hours ago on https://github.com/pythonnet/pythonnet/commit/9650e8bee8905f1baef7526bb5795fcc33564ee0. Try building that one and you shouldnt have the `dllnotfoundexception` anymore.

irt to having to link the library and define `p

[2017-03-01 20:51] vmuriart commented on #392
what was the output of `step 1` without setting `PKG_CONFIG_PATH`? Above only included the output after it succeeded.

[2017-03-01 21:39] fractus commented on #392
@vmuriart
Sorry, my bad for the dll error -- it works after updating master.

I have recently updated to 4.6.2, and removed the previous version; is there a chance something is not done properly? I'll try with the latest mono version (4.8).
[code]

* Output of `rtdir`:

[code]

* Output of build before setting `PKG_CONFIG_PATH`:

[code]

**NOTE**: All in new temp conda environments and new clone o

[2017-03-01 22:10] fractus commented on #392
@vmuriart
You can avoid setting the `PKG_EXPORT_PATH` if you use the `pkg-config` that is part of the mono installation;
[code]
Just need a symbolic link to `/usr/local/bin`, since mono doesn't put it in path.

Same issue with 4.8.0. I also explicitly updated the dyld cache using `update_dyld_shared_cache`. I'll see if there's any "dangling" refs to some older installation.

Note that installing a

[2017-03-01 22:33] fractus commented on #392
The .so file seems to points to the correct path:

[code]

[2017-03-01 22:38] vmuriart commented on #392
Thanks for testing this for us! I had a strong inkling the change fixed it, but wasn't 100% sure.

From the logs, its finding the right `mono` during setup and even seems to have the right `rtdir`. I'm a bit stumped on this one at the moment.