[2017-03-01 23:59] fractus commented on #392
A step further (_no manual symbolic links; moved to 4.8.0_):

* Set library path:
[code]

* Still fails but different error message:
[code]

* Versions of `libJPEG.dylib` in System and mono are different:
[code]

* Update library path to point first to system:
[code]

* Failing still but another error message now:
[code]

I feel I'm deviating on a tangent here, so I'll just stop at this point, bec

[2017-03-02 01:38] vmuriart commented on #392
yea. I'll leave the issue open for now in case someone else has a similar issue. I'm not sure if its an issue isolated to the setup you are using, or something else altogether.

Glad to hear all else works fine though after the symlink. And thanks for the detailed troubleshooting and information

[2017-03-02 15:47] vmuriart opened #413 "PythonEngine.Version broken"
### Environment

-   Pythonnet version: `2.0+`
-   Python version: `All 64bit`
-   Operating System: `All`

### Details

-   Describe what you were trying to get done.

Get version of the Python Engine that is being used.

-   What commands did you run to trigger this issue? If you can provide a
    [Minimal, Complete, and Verifiable example](http://stackoverflow.com/help/mcve)
    this will help

[2017-03-02 16:54] vmuriart commented on #412
I wonder if this ever worked. Can you try to reproduce this using `v2.0.0`(python 2 only) or `v.2.1.0.dev0` before #151 (works upto PY34). If you can't thats ok, but it would greatly narrow down where to look to fix this.

[2017-03-02 16:58] #413 closed

[2017-03-02 21:40] vmuriart opened #414 "PythonEngine.PythonPath crash 64bit Windows/Truncate Linux"
## Linux

### Environment

-   Pythonnet version: `v2.0.0+`
-   Python version: `Python3`
-   Operating System: `Linux`

### Details

-   Describe what you were trying to get done.

`PythonEngine.PythonPath` should return something like
`/home/travis/virtualenv/python3.3.5/lib/python33.zip:/home/travis/virtualenv/python3.3.5/lib/python3.3/:/home/travis/virtualenv/python3.3.5/lib/python3.3/plat-lin

[2017-03-02 22:16] #414 closed

[2017-03-03 05:43] denfromufa opened #416 "mention-bot: Automatically mention potential reviewers on pull requests."
https://github.com/facebook/mention-bot

[2017-03-03 05:46] denfromufa commented on #416
I added the webhook, and it is customizable by adding .mention-bot file:

[code]

[2017-03-03 05:57] vmuriart commented on #416
since its implemented, ok to close issue ?

[2017-03-03 06:00] #179 closed

[2017-03-03 06:11] denfromufa commented on #416
I would like to see this in action on new pull requests.

Feel free to close and we re-open later if any issue comes up.

On Thu, Mar 2, 2017, 11:57 PM Victor Uriarte <notifications@github.com>
wrote:

[2017-03-03 07:25] yagweb commented on #412
@vmuriart I tested it with v2.0.0 (python2.7) and it failed with the same exception. v2.0.0 performs even worse than the current version, details was given as comments in the test code.

Since there are many API not available in v2.0.0, so I wrote a new test, it's more concise and shown as below.

The origin PythonEngine.RunString method in v2.0.0 has a bug, I fixed it in order to run the test.

[

[2017-03-03 07:30] yagweb commented on #412
@vmuriart By the way, how do you set up the environment to run a code snippet with old version of pythonnet and other version of Python?

[2017-03-03 08:49] heri16 commented on #108
Could you provide an example code?

[2017-03-03 12:03] denfromufa commented on #108
https://github.com/pythonnet/pythonnet/blob/master/demo/wordpad.py

[2017-03-03 14:17] vmuriart commented on #412
Thanks for testing on `v2.0.0`. Sadly it didn't show what I hoped though. I'll need to dig a bit more into the code to figure out whats causing it.

irt running on older pythonnet. Usually I write my tests on a `*.py` and try to run them on py2.7 against the compiled wheels we uploaded to pypi. If i need to dig into specific commits it gets trickier. Normally I check out the commit, upgrade `Unman

[2017-03-03 14:23] vmuriart commented on #412
You can setup [`git bisect run`](https://www.metaltoad.com/blog/mechanizing-git-bisect-bug-hunting-lazy) though I have minimal experience w it.

[2017-03-03 14:27] vmuriart commented on #240
Closing. Issue being worked on on #322.

[2017-03-03 14:27] #240 closed

[2017-03-03 14:29] vmuriart commented on #245
Closing issue. Let us know if the issue is still present after the aforementioned fixes.

[2017-03-03 14:29] #245 closed

[2017-03-03 14:34] vmuriart commented on #269
I think this is most likely solved. Based on the feedback during the troubleshooting of #392 alot of the quirks during `setup` have been sorted out on the latest master branch.

If the issue persists let us know.

[2017-03-03 14:34] #269 closed

[2017-03-03 14:52] vmuriart commented on #322
@cowboygneox thanks for including the shell script to build and deploy. Images are now on https://hub.docker.com/r/pythonnet/pythonnet/tags/

I deleted the images from `pythondotnet` to avoid confusion, but I can't figure out how to delete that organization.

[2017-03-03 14:52] #322 closed

[2017-03-03 14:54] vmuriart commented on #303
@AlexCatarino were you able to resolve your issue? There's a couple docker images/recipes on https://hub.docker.com/r/pythonnet/pythonnet/tags/

[2017-03-03 17:00] vmuriart opened #417 "Remove WITH_WIDE_UNICODE flag from setup.py/runtime"
### Environment

-   Pythonnet version: `Current`
-   Python version: `PY27, PY33+`
-   Operating System: `All`

### Details

After [PY33 release](https://docs.python.org/3/whatsnew/3.3.html#functionality) `with_wide_unicode` flag has been removed. These flags are only set on PY3 builds since PY2 doesn't have `sys.abiflags`.

[2017-03-03 19:56] #362 closed

[2017-03-03 19:56] #401 closed

[2017-03-03 19:56] #417 closed

[2017-03-03 20:43] vmuriart opened #418 "Py_SetPath shouldn't exist on Python2.7"
### Environment

-   Pythonnet version: `current`
-   Python version: `Python27`
-   Operating System: `All`

### Details

`Py_SetPath` wasn't introduced until [PY32](https://docs.python.org/3.2/c-api/init.html#Py_SetPath).
The function is internally exposed defined, and publicly mapped to `PythonPath` setter causing an `DllEntryPointException` when running `PythonEngine.PythonPath = "path";`.

It

[2017-03-04 05:10] #418 closed

[2017-03-05 18:17] tomhunter-gh commented on #255
Hi @denfromufa, do you think there is any possibility, at some point in the future, this might be enabled without having to switch the environment back and forth?  Thanks

[2017-03-05 19:32] denfromufa commented on #255
@tomhunter-gh I just asked @zooba about this in this linked thread:

https://github.com/Microsoft/PTVS/issues/1156

PTVS has also mode for code completion with live objects, but it seems not to be working with Python.NET. It is likely that our import hooks are too low-level for PTVS to recognize. Other IDEs have also this mode, e.g. I just tried Spyder and the same issue.

For me the code completi

[2017-03-05 19:46] denfromufa commented on #255
@tomhunter-gh ok apparently @lcorrigan got this working with Spyder:

https://groups.google.com/forum/#!topic/spyderlib/pkymMOxVfLw

[2017-03-06 00:00] denfromufa commented on #322
I updated installation options:

https://github.com/pythonnet/pythonnet/wiki/Installation

[2017-03-06 00:05] denfromufa commented on #165
@vmuriart in nuget it is possible to provide `-version` flag to install specific version of the package. Here are the CPython 3.5+ versions provided by @zooba:

https://www.nuget.org/packages/python/3.5.2

So we can create the following pythonnet versions to match PyPI:

2.2.2-cp27-cp27m-win32.whl
2.2.2-cp27-cp27m-win_amd64
2.2.2-cp34-cp34m-win32
2.2.2-cp34-cp34m-win_amd64
2.2.2-cp35-cp35m-win32
2

[2017-03-06 08:42] konstantin-popov commented on #66
In order to stop crashing with cx_freeze you need to manually add `Python.Runtime.dll` file from `pythonnet` package to your binary directory.

[2017-03-06 08:52] #380 closed

[2017-03-06 12:48] denfromufa commented on #66
@konstantin-popov does cx_freeze allow configuring hooks for various packages so that this works by default?

[2017-03-06 12:54] konstantin-popov commented on #66
Not sure, but I think it does, looking at this: https://github.com/anthony-tuininga/cx_Freeze/blob/master/cx_Freeze/hooks.py

[2017-03-06 14:40] lcorrigan commented on #255
I don't remember all the details from 2012 but that workaround from that thread is not having any affect.  Console in spyder sees the class tree from module.class.method() but not much in the editor. Doesn't even drill down in 'System'.
I left that job in 2013 and stopped using Spyder for PTVS (I can't even log into that thread now). But same problems, different IDE, different job, different  year

[2017-03-06 14:41] denfromufa commented on #66
@konstantin-popov feel free to submit a pull request to cx_freeze to implement this hook based on pyinstaller implementation. We cannot do anything about this in pythonnet without breaking a lot of code.

https://github.com/anthony-tuininga/cx_Freeze/issues/249

[2017-03-06 15:00] konstantin-popov commented on #66
Sure. My reply was not a call to action, only a recipe how to deal with this specific problem - actually not with patching cx_freeze, but with adding a file to build using configuration options ([option 'include_files'](http://cx-freeze.readthedocs.io/en/latest/distutils.html#build-exe)).

The ticket you mentioned is actually about a different problem - failing to import custom .NET libraries in f

[2017-03-06 15:16] denfromufa commented on #66
@konstantin-popov you need to update sys.path in order to custom load your .NET assemblies. See fairly complicated example here:

https://github.com/pythonnet/pythonnet/issues/325

[2017-03-06 18:08] AlexCatarino commented on #303
We have resolved our issue and will keep an eye on those images/recipes.
Thank you very much!

[2017-03-06 20:35] #303 closed

[2017-03-06 22:22] denfromufa opened #420 "Python.Runtime causes casting errors when setting global vars"
### Environment

-   Pythonnet version: 2.2.2, strongly signed post-installation
-   Python version: 2.7, 32bit
-   Operating System: Windows 7, 64bit

### Details

-   Describe what you were trying to get done.

[code]

[code]

[2017-03-06 22:31] denfromufa commented on #214
Some things that need to be documented due to latest changes:

1. When compiling from VS providing the key to Python.Runtime project is not enough anymore.

[assembly: InternalsVisibleTo("Python.EmbeddingTest")] requires public key

Friend assembly reference 'Python.EmbeddingTest' is invalid. Strong-name signed assemblies must specify a public key in their InternalsVisibleTo declarations

2. Since

[2017-03-06 22:42] denfromufa commented on #420
If this .NET issue, I'm using .NET 4.0

[2017-03-07 06:23] vmuriart commented on #249
Looks like this broke during the Develop/Py3 branch merges. 26cc77ba71b43722a705788db1cb9f16ac0d24cb

[2017-03-07 07:49] r0x0r opened #421 "Casting a .NET object to a COM interface"
Is it possible to cast a .NET object to a COM interface in python.net? Eg. in C# you would do ICustomDoc customDoc = (ICustomDoc)this.webBrowser.Document.
The only information I could find on the web is this post from 2007 https://mail.python.org/pipermail/pythondotnet/2007-December/000753.html, but since ICustomDoc is defined in Python ([like this](https://github.com/r0x0r/pywebview/blob/master/w

[2017-03-07 08:13] vmuriart commented on #421
Are you trying to use both `ctypes` and `pythonnet` and cast from one to the other? Have you tried defining ICustomDoc using `pythonnet` instead?

[2017-03-07 08:16] r0x0r commented on #421
Thanks for a quick response. I haven't tried defining ICustomDoc using pythonnet. Could you point me to documentation on how to do this?

[2017-03-07 12:28] konstantin-popov commented on #66
I do update sys.path and `clr.AddReference('customlib')` throws no exceptions - the problem appears later in code when importing the assembly.
I guess pythonnet hooks into python import system to load .NET assemblies, but after freezing the app with cx_freeze in doesn't work for some reason.

[2017-03-07 18:11] vmuriart commented on #421
For the c# example, looks like you have to wrap [`ICustomDoc`](http://www.pinvoke.net/default.aspx/Interfaces.ICustomDoc) there as well right?

[2017-03-07 18:16] vmuriart commented on #66
Is there a traceback available?

[2017-03-07 19:33] denfromufa commented on #66
@konstantin-popov minimum reproducible example would be handy. Also make sure that your library does not reference other custom assemblies, maybe even during runtime.

[2017-03-07 20:05] vmuriart commented on #420
The above example works without signing the assembly?

Looks to be an issue with whatever post-build signing you are using or an issue only with Interactive (which doesn't work for me on any version of pythonnet). I added your test to the embedded tests on my local machine and ran them before and after strongname signing them as part of the build.

No issues either way.

[2017-03-07 20:05] vmuriart commented on #420
All tests work as well post signing.

[2017-03-07 20:35] r0x0r commented on #421
Yes, this is correct. The pythonnet documentation mentions using tlbimp.exe
to generate wrappers for COM components. Is this the only way or could you
do without relying on external files?

[2017-03-07 22:00] denfromufa commented on #420
Weird, I reproduced the issue on multiple machines, but using our internal key. Let me check with other keys.

[2017-03-08 00:30] vmuriart commented on #420
I think its an issue w the 3rd party party program you mentioned you were using to sign the assemblies. I signed them as part of the build process, you can try with the artifacts from [this build](https://ci.appveyor.com/project/vmuriart/pythonnet/build/develop-2109/job/umhbhsse62k9d9eq).

I'll push the changes from the `master` branch after `v2.3.0` release.

[2017-03-08 04:10] denfromufa commented on #420
BTW, I use scriptcs, csi, and clrmagic interactively without any issues. csi requires 32-bit Python but it has very nice intellisense.

I'm guessing that my issue is specific to localized machine(s). I cannot reproduce with various keys, with VS or StrongNameSigner on Windows 10.

But the issue is reproducible on Windows 7.

Maybe I should start suspecting my antivirus :)

[2017-03-08 04:36] denfromufa commented on #420
ok, it looks like it is failing even without strong-named assembly.

This issue is resolved in the latest master, but failing on 2.2.2.

We need to add these tests for auto-fixed regression :)

[2017-03-08 04:49] vmuriart commented on #420
I wonder which commit fixed it. I'll add the test I used earlier.

[2017-03-08 05:12] vmuriart commented on #420
Test added. closing since solved at some point between `v2.2.2` and latest commit.

[2017-03-08 05:12] #420 closed

[2017-03-08 05:37] denfromufa commented on #421
Did you try this?

http://stackoverflow.com/a/3941684/2230844

On Tue, Mar 7, 2017, 2:35 PM Roman <notifications@github.com> wrote:

[2017-03-08 05:50] vmuriart commented on #249
I got this issue fixed, I'll merge in the fix after `v2.3.0` release

[2017-03-08 14:51] denfromufa commented on #249
@vmuriart this is great! @JimSEOW was looking for this fix:

https://github.com/Lodomir/PythonInterface/issues/2#issuecomment-275654916

[2017-03-08 15:17] vmuriart commented on #249
It requires some changes to the converter thats why I'm holding it off till next release since we already have a couple changes to converter/method override on this release.

[2017-03-08 15:25] vmuriart opened #422 "Enable Subclassing unittests"
### Environment

-   Pythonnet version: All
-   Python version: All
-   Operating System: All

### Details

-   Describe what you were trying to get done.

If tests are enabled, unittests will fail at the end when Python is closing and GC is hapenning on sub-classed objected.

[2017-03-08 15:28] vmuriart opened #423 "Fix PyAnsiString and PyString definitions"
### Environment

-   Pythonnet version: All
-   Python version: All
-   Operating System: All

### Details

-   Describe what you were trying to get done.

Behavior between `PyAnsiString` and `PyString` partly overlap eachother. This is due to `PyString` being partially remapped to unicode objects, but still being compared to a psudo `PyString` in PY3 and actual `PyString` on PY2 yet the actual ob

[2017-03-08 20:08] r0x0r commented on #421
Thanks for the link. It looks Marshal.GetIUnknownForObject and
Marshal.QueryInterface would do the job.
Now only to figure out how to pass the out parameter of QueryInterface in
pythonnet.

[2017-03-08 20:44] vmuriart commented on #421
Never used the feature myself, but seems to be possible. #228's description might help.

[2017-03-08 20:57] vmuriart commented on #420
32bit python is probably why it didn't work for me. weird behavior though, ive seen it mentioned a couple times now in other issues to use 32bit for hooking the debugger too.

[2017-03-08 21:20] denfromufa commented on #421
@r0x0r you can always use reflection like this even if overloading fails:

http://stackoverflow.com/a/2304799/2230844

[2017-03-09 19:36] denfromufa commented on #421
so the original issue is here:

https://github.com/r0x0r/pywebview/issues/87

[2017-03-09 21:39] r0x0r commented on #421
According to this http://stackoverflow.com/questions/19600315/how-to-use-
a-net-method-which-modifies-in-place-in-python function parameters are
returned as a function return value in python.net. I have tested it and it
is indeed seems to be the case. However I have not managed to get a correct
IntPtr, zero is returned instead. Here is the code I am using
[code]

All this investigation made me thi

[2017-03-10 03:18] denfromufa commented on #421
@r0x0r can you check the result? maybe the call failed? this is a sample c# code:

[code]

[2017-03-10 03:19] denfromufa commented on #421
can you also provide full code sample, e.g. how `self` is instantiated?

[2017-03-10 03:22] denfromufa commented on #421
also there are 3 options to get iunknown, not sure about differences:

https://msdn.microsoft.com/en-us/library/system.runtime.interopservices.marshal.queryinterface(v=vs.110).aspx

[2017-03-10 05:17] aloter opened #424 "Passing an Array (or it's pointer) to a .NET function"
### Environment

-   Pythonnet version: 2.2.2
-   Python version: 3.5.2 |Anaconda 4.3.0 (64-bit)
-   Operating System: Windows 7 x64

### Details

I'd like to communicate with a camera (from Xenics) using their supplied C# wrapper.
From their documentation it seems I need to send the following to grab a frame:

XCamera::GetFrame (FrameType type, unsigned long ulFlags, void * buffer, unsigned int s

[2017-03-10 06:48] filmor commented on #424
This is not a general support forum, please ask this question on StackOverflow.

[2017-03-10 06:48] #424 closed

[2017-03-10 06:56] r0x0r commented on #421
Here is the code https://github.com/r0x0r/pywebview/blob/winforms-dpi-fix/webview/winforms.py#L83

[2017-03-10 08:41] konstantin-popov commented on #66
That was exactly the thing. The library was external so I didn't guess it referenced somethine else. Thanks @denfromufa!

P.S.  [PR with a hook for pythonnet in cx_freeze](https://github.com/anthony-tuininga/cx_Freeze/pull/251)

[2017-03-10 11:26] denfromufa commented on #424
@filmor I suggested to ask the question here, it was originally posted in
the mailing list.

@aloter sorry about confusion!

Did you try an array with type of UInt16?
`a = Array.CreateInstance(UInt16, FrameSize/2)`

Also can you show the output of `GetFrame.__overloads__` or
`GetFrame.Overloads`?

On Fri, Mar 10, 2017, 12:48 AM Benedikt Reinartz <notifications@github.com>
wrote:

[2017-03-10 14:33] aloter commented on #424
@filmor Apologies, didn't know what I'm doing.

@denfromufa thank you for following up.
frameSize is UInt32 (at least in the example: UInt32 frameSize = camera.FrameSize;) and CreateInstance doesn't support it (length is frameSize/2 so buffer should be UInt16, from what I could understand):
[code]

The overloads:

[code]

Last line means it can get the UInt16 array, maybe it's the FrameType and XG

[2017-03-10 18:10] filmor commented on #424
@aloter No worries, I didn't know that you were directed here.

Regarding your problem: The problem you are being reported is because of the `frameSize / 2` part. Try `frameSize / UInt32(2)`, but still, for the future, direct questions like this to StackOverflow if you don't suspect a bug.

[2017-03-10 19:05] vmuriart commented on #355
Started the release process. Below I put a checklist for the order I'm doing things. Everything is uploaded to `testpypi` right now.

- [ ] Ensure `pypandoc` is installed
- [ ] Ensure `twine` is installed
- [ ] Ensure `bumpversion` is installed
- [ ] Register package/version to `testpypi` (don't bump version to release)
- [ ] Download `sdist` and `bdist_wheel` from AppVeyor
- [ ] Upload dist to `t

[2017-03-10 19:07] vmuriart commented on #355
testpypi link:
https://testpypi.python.org/pypi/pythonnet/2.3.0.dev1

[2017-03-10 20:02] aloter commented on #424
Understood, will do next time.
FrameSize / UInt32(2) doesn't accept UInt32.
Going back to @denfromufa, UInt16 didn't work either:

[code]

Sending the array itself didn't work also.
[code]

Thank you again.

[2017-03-11 02:56] anthony-tuininga commented on #66
Pull request merged.

[2017-03-11 03:14] denfromufa commented on #66
@jfbramboll @kelvinomolumo can you please verify that the pythonnet hook is now working in cx_freeze? @anthony-tuininga @konstantin-popov thanks for implementing this!

Anyway if any issues come up we can reopen this issue.

[2017-03-11 03:14] #66 closed

[2017-03-11 04:27] denfromufa opened #425 "home page docs - table of hyperlinked contents removed and broken link"
http://pythonnet.github.io/

See the header here:
http://pythonnet.sourceforge.net/readme.html

broken link mentioned in the docs:
http://pythonnet.github.io/readme.html

[2017-03-11 04:33] denfromufa commented on #424
@aloter try forcing the specific overloaded method by passing arguments to Overloads, more details here:

documentation:
http://pythonnet.github.io/

examples in tests:
https://github.com/pythonnet/pythonnet/search?utf8=%E2%9C%93&q=overloads

What are the types of these first 2 arguments - `Xenics.Xeneth.FrameType, Xenics.Xeneth.XGetFrameFlags`?

You are trying to pass `int`, but at least the seco

[2017-03-11 15:17] denfromufa commented on #355
@vmuriart did you remove the conda packages from appveyor artifacts?

it was available about a month ago:

https://ci.appveyor.com/project/pythonnet/pythonnet/build/master-376/job/17uo6jqm701xketw/artifacts

[2017-03-11 15:18] vmuriart commented on #355
They build only on `pull requests`. I was thinking of adding to build also on new `tags` cuz of this situation

[2017-03-11 15:18] denfromufa commented on #355
We have some downloads from anaconda.org and most of them are conda binaries:

https://anaconda.org/pythonnet/pythonnet/files?sort=ndownloads&sort_order=desc

[2017-03-11 15:19] vmuriart commented on #355
let me generate them w the right version, one sec

[2017-03-11 15:20] vmuriart commented on #355
I was going to add the comment later, `pypi` no longer supports separate registration of package so the `pypi` page looks bland.

[2017-03-11 15:24] vmuriart commented on #355
https://ci.appveyor.com/project/pythonnet/pythonnet/build/conda-v2.3.0-596 is going to have the conda build binaries. I'll delete the dummy branch after the build is complete and I'll update to generate the conda files on tags.

[2017-03-11 15:46] vmuriart commented on #355
@denfromufa I'll let you handle the `conda` upload portion. We can close the issue after you're done w it.

[2017-03-12 02:09] denfromufa commented on #355
@vmuriart should I manually remove the git commit hash from conda binaries?

https://ci.appveyor.com/api/buildjobs/2tnjm73xsdx7na69/artifacts/dist%2Fpythonnet-2.3.0-py27_1_g5ab0e63.tar.bz2

I just tried and this seems to be fine:

[code]

[2017-03-12 03:26] vmuriart commented on #355
yea, its fine to remove the git commit hash manually

[2017-03-12 03:51] vmuriart commented on #355
Use the artifacts from this build:
https://ci.appveyor.com/project/pythonnet/pythonnet/build/conda-599

It will be have the right version file name

[2017-03-12 05:08] denfromufa commented on #355
just to increase the bus factor for anaconda uploads:

[anaconda.txt](https://github.com/pythonnet/pythonnet/files/836301/anaconda.txt)

[2017-03-12 05:11] denfromufa commented on #355
@vmuriart would you to post a release note to mailing list, hacker news, reddit, and python announcements? if not, I can do that tomorrow.

[2017-03-12 05:48] denfromufa commented on #416
@vmuriart so mentionbot was not working on your recent pull request, which I fixed in the settings today:

https://github.com/pythonnet/pythonnet/pull/427

[2017-03-12 06:36] vmuriart commented on #355
I'll let you handle that portion. I don't use half those system, I'll probably end up butchering it. You can use the CHANGELOG as a starting point.

[2017-03-12 17:59] denfromufa opened #428 "Cleanup typecode switch - IEnumerable and object cases"
https://github.com/pythonnet/pythonnet/pull/427#discussion_r105551178

[2017-03-12 19:01] vmuriart commented on #249
#427 will fix this in case anyone wants to review

[2017-03-12 22:34] AraHaan opened #429 "Building C# cpython extension modules."
### Environment

-   Pythonnet version: None yet installed (Unsure if it would allow me to build .net code as an pyd file on windows similar to how the rust cpython bindings let me to be able to).
-   Python version: 3.5.2 & 3.6.1
-   Operating System: Windows 7 SP1 Ultimate x64 Build 7601

### Details

-   Describe what you were trying to get done.

    Build an cpython extension module using C#

[2017-03-13 03:23] denfromufa commented on #165
@vmuriart I created a nuget package for Python.Runtime.csproj using the command-line tool:

`nuget pack Python.Runtime.csproj`

Here is the the output:

[pythonnet.2.3.0.nupkg.zip](https://github.com/pythonnet/pythonnet/files/837206/pythonnet.2.3.0.nupkg.zip)

I uploaded it to https://www.nuget.org/packages/pythonnet

Next step is figuring out multiple versions or tags like I suggested above.

[2017-03-13 03:32] denfromufa commented on #429
pythonnet allows to import any .NET DLL after `import clr` statement without a need to write a custom `.pyd` extensions. This is because `clr.pyd` embeds .NET or Mono runtimes in CPython.

I have not seen examples of pythonnet used for writing CPython C-API extensions in C#, because pythonnet is itself a C-API extension.

Perhaps if you can suggest what are the current limitations, then it would m

[2017-03-13 03:53] AraHaan commented on #429
ah I see. So I can make an normal .NET dll or .NET so file on linux and import them.

[2017-03-13 03:59] denfromufa commented on #429
Yes, that is correct. Feel free to report any other issues, but this one looks resolved.

[2017-03-13 03:59] #429 closed

[2017-03-13 04:09] denfromufa commented on #165
ok, looks like nuget does not support building different versions of nuget packages for all build configurations that pythonnet has:

http://stackoverflow.com/questions/35895601/how-to-specify-different-nuget-package-versions-for-different-build-configuratio

So we have to keep 5*2*2=20 `.nuspec` files for all possible combinations of build configurations.

[2017-03-13 05:23] vmuriart commented on #165
Nuget also enforces a certain version scheme so we couldn't (rather shouldn't) use the aforementioned versioning scheme. One of its pitfalls (look at the nuget python package as an example) is that it will always say there is an update version available if you are using `python27`.

Another thing to consider is how the libraries that would use this nuget package expect it to work. Do they want to

[2017-03-13 05:30] #355 closed

[2017-03-13 15:26] denfromufa commented on #165
@vmuriart nunit uses the standard mechanism in nuget for selecting the correct .NET Framework:

https://docs.microsoft.com/en-us/nuget/create-packages/supporting-multiple-target-frameworks

This does apply to pythonnet and cannot be re-used. I'm open to alternative solutions, but if nothing comes, then I'll go ahead with the approach that MS did for Python installers in nuget - using versions. I'm

[2017-03-13 15:33] dmitriyse commented on #165
Actually we can rely on current Environment. Even if multiple pythons installed, only one is active from a command line.
I already have some implementation.
[code]

[2017-03-13 15:36] dmitriyse commented on #165
Full solution can be inspected here https://github.com/dmitriyse/pythonnet/tree/v2.2.0-bin-RC2

[2017-03-13 15:39] dmitriyse commented on #165
This is dead-end branch. New code should not rely on AssemblyResolve+= ... solutions.
If we need dynamic loading, than we needs to choose  interop code splitting approach

[2017-03-13 17:36] vmuriart commented on #165
I prefer the interop splitting method, as it would also make it easy to allow `pypy` to be supported. For now, we could release multiple packages each named for the python version they support and then the version number is pythonnet's actual version number.

[2017-03-14 04:28] #249 closed

[2017-03-15 14:08] lcorrigan commented on #59
Is this just a matter of implementing the fix that is on the stack overflow question above? Or did someone investigate and find this causes other issues etc?

[2017-03-15 14:17] denfromufa commented on #59
@lcorrigan feel free to submit a pull request with a test code and implementation based on that answer.

Here is where the code should go:

https://github.com/pythonnet/pythonnet/blob/4df6105b98b302029e524c7ce36f7b3cb18f7040/src/runtime/converter.cs#L320

[2017-03-16 07:09] denfromufa commented on #165
@vmuriart now I agree with you, e.g. boost python uses similar convention:

https://www.nuget.org/packages?q=boost_python

[2017-03-16 07:47] denfromufa commented on #165
Ok, I removed previous package pythonnet and updated packages both ways, the binaries include x64 & x86:

https://www.nuget.org/packages/pythonnet/2.3.0-py27-dotnet
https://www.nuget.org/packages/pythonnet/2.3.0-py35-dotnet

https://www.nuget.org/packages/pythonnet_py27_dotnet/
https://www.nuget.org/packages/pythonnet_py35_dotnet/

[2017-03-19 04:36] denfromufa commented on #330
some progress in these issues:

https://bitbucket.org/pypy/pypy/issues/2486/pypytype_ready-with-tp_flags-crashes-pypy
https://bitbucket.org/pypy/pypy/issues/2504/pypy-pythonnet-call-fails-on-pypyclass_new

I can actually do `import clr` with pypy, but it can't do anything useful right now :)

[2017-03-20 02:14] denfromufa commented on #330
One more issue to track in PyPy cpyext:

https://bitbucket.org/pypy/pypy/issues/2447/cpyext-_pyobject_getdictptr-is

[2017-03-20 04:08] denfromufa commented on #120
@vmuriart so mono_domain_set_config is not required anymore?

https://github.com/pythonnet/pythonnet/pull/189/files

[2017-03-20 04:31] denfromufa opened #431 "coverage for clr.py"
https://github.com/pythonnet/pythonnet/blob/master/src/runtime/resources/clr.py

At least to test out if coverage.py works with pythonnet:

https://nedbatchelder.com/blog/201703/ironpython_is_weird.html

[2017-03-20 05:25] denfromufa commented on #119
@AlexCatarino like discussed in this issue is now resolved by @vmuriart:

https://github.com/pythonnet/pythonnet/issues/245#issuecomment-281900109

[2017-03-20 05:39] vmuriart commented on #431
Not worth the effort to figure out. We have a very non-standard setup to load `clr.py` that `coverage.py` isn't designed for. Remember that `clr.py` is going to end up being embedded into the `dll` so `coverage.py` won't be able to hook into it.

If you mean that we can use `coverage.py` on a library that uses `pythonnet` as well the answer is yes since thats what I use for work.

[2017-03-20 05:41] vmuriart commented on #431
We have a similar issue to what Ned is talking about, but within the embedded side of things. I opened #423 for it.

[2017-03-20 05:44] vmuriart commented on #120
Probably not needed since the file doesn't exist anymore.

[2017-03-20 05:56] denfromufa commented on #120
@vmuriart removing this setting may be now regression for this issue:

https://github.com/pythonnet/pythonnet/issues/180

It will be harder to test this though.

[2017-03-20 06:13] denfromufa commented on #431
we can run clr.py the following way with coverage:

1. Make loading of this resource optional at runtime in .cs:

https://github.com/pythonnet/pythonnet/blob/master/src/runtime/pythonengine.cs#L197

2. Remove this resource during testing using this method:

http://stackoverflow.com/a/7978410/2230844

3. Import `clr.py` like normal python module after `import clr`. Note that due to module naming cl

[2017-03-20 21:54] vmuriart commented on #431
Feel free to submit a `pr` for this. I don't like the idea of modifying our codebase to add coverage for `clr.py`. Making the loading optional also changes the behavior of the package, in particular it would break `__version__`.

[2017-03-20 22:25] denfromufa commented on #431
@vmuriart this is only when running the tests

[2017-03-20 22:49] vmuriart commented on #431
I think VW had a similar strategy a few years ago... 😉. Submit a `pr` and we'll decide then.

[2017-03-20 23:00] denfromufa commented on #431
haha, it is already implemented: https://github.com/auchenberg/volkswagen

[2017-03-21 21:51] vivainio opened #432 "Sypport typeof(T) or clr.GetClrType"
In order to do reflection, you need to acquire the Type instance for imported class.

In C#, this is done by

[code]

In IronPython, this is done by

[code]

Python.net seems to be missing this functionality.

I currently have this horrible hack, and I'm unsure how far it will work:

[code]

For reference, code using this resides in: https://github.com/vivainio/pynetext/blob/master/pynetext.py

[2017-03-22 02:16] denfromufa commented on #432
@vivainio pull requests are welcome!

Your approach is in the right direction:

https://mail.python.org/pipermail/pythondotnet/2005-July/000371.html

[2017-03-22 07:51] vivainio commented on #432
@denfromufa Ok, I'll take a look if I can figure it out how to build & work with the codebase :)

[2017-03-22 15:49] denfromufa commented on #432
@vivainio pythonnet runs on 2 CI servers: Travis and Appveyor. So the pull request will automatically do this and also run the tests.

You can also look at these docs to see how to build locally:
https://github.com/pythonnet/pythonnet/wiki/Troubleshooting-on-Windows-and-Linux

Please report any issues back about building locally, so that we can improve the wiki.

[2017-03-22 17:09] christopherpow opened #434 "Find MSBuild from Visual Studio 2017"
pip install pythonnet fails to find msbuild from Visual Studio 2017 because it is MSBuild 15.0 not MSBuild 14.0.

[2017-03-22 17:16] denfromufa commented on #434
@christopherpow pull requests are welcome! I don't have VS 2017 installed, because PTVS 2017 is still in preview.

Also please include the full log or traceback that you get from the build.

[2017-03-22 17:46] denfromufa commented on #434
@christopherpow the change is only necessary in 2 places:

https://github.com/pythonnet/pythonnet/blob/51ec8a4b5fb1c7565f043b215caa60a058f36cc6/setup.py#L67

https://github.com/pythonnet/pythonnet/blob/0a478024175e52106d9d4ff2230e1f505e56d7d8/conda.recipe/bld.bat

[2017-03-22 17:49] christopherpow commented on #434
I noticed. Trying to get my pull request to cooperate.

[2017-03-22 18:15] denfromufa commented on #416
ok, mentionbot is working now:

https://github.com/pythonnet/pythonnet/pull/435#issuecomment-288489108

[2017-03-22 18:15] #416 closed

[2017-03-22 21:27] denfromufa opened #436 "space in clrmetatype or digits in namespace"
Why does pythonnet have a space in clrmetatype? Looks very confusing:

[code]

[2017-03-22 21:29] denfromufa commented on #436
https://github.com/pythonnet/pythonnet/blob/423407a4e7ff783d8f4d9498eaa51bf8a12382ce/src/runtime/typemanager.cs#L298

[2017-03-22 23:59] filmor opened #437 "Higher compatibility of the clr module with IronPython"
I think it would be a good idea to put some work into making the `clr` module we provide as (backwards?) compatible with IronPython as possible.

This is the implementation: https://github.com/IronLanguages/main/blob/master/Languages/IronPython/IronPython/Runtime/ClrModule.cs

These are the public members

- [ ] Field `bool IsNetStandard`
- [ ] Methods `AddReference{,ToFile,ToFileAndPath,ByName,By

[2017-03-23 03:32] denfromufa opened #438 "why msbuild added to %path% in bld.bat for conda build?"
https://github.com/pythonnet/pythonnet/pull/435#issuecomment-288606262

[2017-03-23 04:06] denfromufa commented on #416
yes, it is this setting file that I'm adding:

https://github.com/pythonnet/pythonnet/issues/416#issuecomment-283871340

[2017-03-23 04:09] denfromufa commented on #416
@vmuriart this should pickup now:

https://github.com/pythonnet/pythonnet/blob/master/.mention-bot#L21

[2017-03-23 08:11] filmor commented on #438
Nice description :stuck_out_tongue_winking_eye:

I had problems in the past with using the `script` element in the conda recipe, which can in theory look like

    script: "python setup.py install",

So: "yes".

I'm not sure, why `$PATH` is overridden in there, though.

[2017-03-23 08:14] filmor commented on #436
The class is private to pythonnet and can not be sensibly used by other libraries, so a name that indicates non-importability is fine by me. The `CLR.` prefix is a bit weird, though :)

[2017-03-23 08:32] filmor commented on #428
Reopen with description, please.

[2017-03-23 08:33] filmor commented on #434
Fixed via #435.

[2017-03-23 08:33] #434 closed

[2017-03-23 10:15] filmor commented on #388
I've pinged him again to get to a decision: https://github.com/lmittmann/clr/issues/1

In case he does not want to give up the name we should:
- Add information to our README.md that one must make sure that `pythonnet` installed via `pip`
- Add the same information to our pypi channel and homepage

In case he does:
- We have to grab the `clr` name on pypi and essentially alias it to `pythonnet`, f

[2017-03-23 12:26] denfromufa commented on #428
2 options suggested by @vmuriart:

1. Delete that section of code `IEnumerable` altogether  or
2. Delete typecode.Object.

The remaining typecodes are Empty, DBNull, Decimal and DateTime and i don't think any of those should be converted to PyList.
Also, I can't think of a situation in which the default branch of the switch would be hit because we have Typecode.Object defined; It would always be c

[2017-03-23 14:35] denfromufa commented on #438
@filmor I update the title: why msbuild added to %path% in bld.bat for conda build?

[2017-03-23 17:49] vmuriart commented on #438
I think `msbuild` was added there since alot of packages have issues detecting the presence of msbuild. The recipe was copied from another example probably that used it. In our case its most likely not needed, though I havent tested it yet.

[2017-03-23 18:15] christopherpow opened #439 "Error in version 2.3.0 - "Qt: Could not initialize OLE (error 80010106)""
### Environment

-   Pythonnet version: 2.3.0
-   Python version: 2.7.13
-   Operating System: win7-32

### Details

-   Describe what you were trying to get done.

    Upgrading to latest pythonnet. I have PyQt4 and Python27 working together with pythonnet 2.2.2.

-   What commands did you run to trigger this issue? If you can provide a

pip uninstall pythonnet
pip install pythonnet

[2017-03-23 18:17] denfromufa commented on #439
Minimal reproducible code sample?

[2017-03-23 18:20] vmuriart commented on #439
I dont remember changing anything that would affect the thread initialization.

http://stackoverflow.com/questions/11708497/com-library-initilization-failed-with-code-0x80010106-in-c-sharp

An example would be great to figure out when/how this was introduced.

[2017-03-23 18:21] vmuriart commented on #439
Though, bug might have been present before from #127

[2017-03-23 19:20] denfromufa commented on #439
even before:

http://stackoverflow.com/questions/20525554/pyside-qt-could-not-initialize-ole-error-80010106

[2017-03-23 20:25] denfromufa commented on #439
@christopherpow if you add these lines before all clr and qt imports - no more OLE error !

[code]

I used the suggestion from here:

https://mail.python.org/pipermail/pythondotnet/2008-January/000761.html

[2017-03-23 20:39] vmuriart commented on #439
curious that the behavior changed though between 2.2.2 and 2.3.0

[2017-03-23 20:53] denfromufa commented on #439
I just tried and I'm getting the same OLE error with 2.2.2 and 2.3.0 without pythoncom

[2017-03-23 22:12] vmuriart commented on #439
Most likely this is the same issue as #127. Something else changed and is causing the error that is being manifested as the ole error. *something* changed between 2.2.2 and 2.3.0 that is causing the exception in #127 that is then manifesting as the ole error. Without a full example we can't really troubleshoot.

[2017-03-23 22:29] vmuriart commented on #438
bah. build [fails](https://ci.appveyor.com/project/vmuriart/pythonnet/build/dev-2142/job/ilykywtvctxmw2ir#L417) without path. Atleast in AppVeyor it looks like the wrong `msbuild` is being selected.

[2017-03-23 22:32] vmuriart commented on #425
Did you submit a pr for this?

[2017-03-23 22:33] denfromufa commented on #425
Nope

[2017-03-23 22:38] vmuriart commented on #425
I think on the header you mean the sidebar right? to restore this we need to change the template we use. One of the default templates has a sidebar, but i didnt like the color scheme/font.

The link itself can be removed since it was the homepage referencing into the `readme.html` which are now one and the same.

[2017-03-23 23:05] denfromufa commented on #439
@vmuriart I did not understand your last comment.

[2017-03-24 00:56] vmuriart commented on #439
[code]

The code sample above used to work on pythonnet `2.2.2` but something in `2.3.0` changed that makes `some code` throw an exception in `2.3.0` that in turn causes the `com` error to occur. Your suggestion above patches the `PyQt4` issue, but the underlying cause isn't fixed. ie, what changed on `some code` that causes the error to happen.

Without more details from @christopherpow we can't

[2017-03-24 01:23] vmuriart opened #440 "Restructure src folder - Align namespace & directories"
### Environment

-   Pythonnet version: All
-   Python version: All
-   Operating System: All

tl;dr: Rename/Relocate folders. Fix namespaces.

### Details

Our `src` and `tests` folders are disorganized and a bit counter-intuitive.

- folder: `src\tests`
  namespace: `n\a`
  purpose: contains python tests
  Issue: `pytest` has issue with detecting certain configuration if the tests aren't located

[2017-03-24 01:24] christopherpow commented on #439
I will try to get a minimal example tomorrow. Had to keep moving forward today.

[2017-03-24 01:26] vmuriart commented on #439
no worries. Thanks for taking the time and letting us know about it 👍

[2017-03-24 01:38] vmuriart commented on #440
ok with delaying changes with `src\runtime` until `3.0.0`. All others we can safety rename/relocate without issues.

[2017-03-24 01:47] vmuriart commented on #372
This looks to be yet another issue w `gc`. If only 1 test is run, test will run, pass but xUnit will not exit, just hang. If two tests are run, then xUnit will crash and/or hang. This can be similarly reproduced on NUnit by using `--dispose-runners` option.

[2017-03-24 03:02] denfromufa commented on #439
@vmuriart @filmor do you think it is possible to allow initializing CLR from Python under STA COM threading state without using pythoncom:

ctypes.windll.ole32.CoInitialize

https://msdn.microsoft.com/en-us/library/system.stathreadattribute%28v=vs.110%29.aspx

[2017-03-24 04:14] denfromufa commented on #440
- I agree that all these tests directories are super-confusing, I still don't remember what type of tests are located in these 3 folders.

- clrmodule may have been designed without namespace for dllexport to work?

- console can be placed to nPython or Python.Console namespace.

- agree on monoclr.

- Python.Runtime should probably be backwards compatible as much as possible since it is public.

[2017-03-24 04:15] denfromufa commented on #438
@vmuriart so we can close this issue?

[2017-03-24 07:04] vmuriart commented on #438
Sure

[2017-03-24 12:42] #438 closed

[2017-03-26 03:52] denfromufa commented on #432
@vivainio thanks for this contribution!

[2017-03-26 03:52] #432 closed

[2017-03-26 19:04] vmuriart commented on #440
I added a namespace to it and its worked with no issues. Since the `clrmodule` was added later on, it was probably an oversight.

I like the name `Python.Example.Console`

Should it be public though? Most methods are `private`/`internal`.

I meant `PyInt.cs` as an example. It would apply to all files.

[2017-03-27 02:03] whaozl opened #441 "“Microsoft.CSharp.RuntimeBinder.RuntimeBinderException in System.Core.dll Unable to perform runtime binding on null references"
### Environment

-   Pythonnet version:2.3.0
-   Python version:2.7.12
-   Operating System:win10

### Details

-   Describe what you were trying to get done.

    _TODO_

![_20170327100035](https://cloud.githubusercontent.com/assets/6327360/24337997/6f764b7c-12d4-11e7-9918-b3349dce4fc6.png)

-   What commands did you run to trigger this issue? If you can provide a
    [Minimal, Complete, and Veri

[2017-03-27 02:09] denfromufa commented on #441
Can you provide minimal reproducible code sample?

Also can you try switching system locale to English-US?

Finally can you translate your issue title to English?

[2017-03-27 02:42] whaozl commented on #441
I am very sorry. this code as follow:

[code]
lstm.public_helper.get_origin_root is my define funtion. but it throw excetpion. and I use pythonnet2.3.0 is excepiton on Py.Import("lstm_predict"), and ,I change python2.2.2, but throw excepiton in lstm.public_helper.get_origin_root(model_prefix).

[code]

In the past, this code can be run.

[2017-03-27 03:26] denfromufa commented on #441
so what are the exceptions from both pythonnet versions? For which case do you get RuntimeBinderException?

[2017-03-27 04:01] denfromufa commented on #441
not reproducible on windows 10, python 3.5_64bit, pythonnet 2.3.0:

[code]

[2017-03-27 05:47] denfromufa commented on #421
@r0x0r I just debugged your code from C# side in pythonnet and everything looks ok in pythonnet handling of this method. But when I decoded the `HRESULT` from `QueryInterface`, it corresponds to "no such interface" COM error:

[code]

https://msdn.microsoft.com/en-us/library/cc704587.aspx

http://stackoverflow.com/a/22493569/2230844

[2017-03-27 06:59] denfromufa opened #442 "add docs - using matplotlib from C# via pythonnet"
Last time I tried few years ago using matplotlib from pythonnet this was not possible.

These 2 packages use IPC to call matplotlib from C#:

https://github.com/IRC-SPHERE/PythonPlotter
https://github.com/ITGlobal/MatplotlibCS

I tried again today and at least Tk backend is working great with pythonnet!

[code]

![image](https://cloud.githubusercontent.com/assets/7870949/24344427/0d45df96-1291-11e

[2017-03-28 02:50] denfromufa opened #443 "Improve debugging experience - implement dynamic view on PyObject"
I watched this Dynamic C# course from pluralsight and found that implementing getdynamicmembernames gives a nice "dynamic view" option in the debugger.

Right now dynamic objects from Python to C# are black-box in the debugger.

https://www.pluralsight.com/courses/c-sharp-dynamic-fundamentals

https://msdn.microsoft.com/en-us/library/system.dynamic.dynamicobject.getdynamicmembernames(v=vs.110).asp

[2017-03-28 13:16] dmitriyse commented on #96
Hi! I restarted work on porting PythonNet to CoreCLR. Now it can be performed as additional files.
So current build and new build (based on .csproj 2017) can coexist side-by-side.
https://github.com/dmitriyse/pythonnet/tree/coreclr

[2017-03-28 15:55] denfromufa commented on #441
I'm closing this issue, no activity and not reproducible! Feel free to post any update and I will re-open.

[2017-03-28 15:55] #441 closed

[2017-03-28 15:58] denfromufa commented on #96
@dmitriyse this looks much cleaner! Can you open a pull request for review cycle?

![image](https://cloud.githubusercontent.com/assets/7870949/24414929/6575aaf6-13a5-11e7-8228-8f3527a8cc9d.png)

[2017-03-28 16:29] dmitriyse commented on #96
Ok, I will create pool request right after some useful point. I fixed 102 from 120 migration issues to get pythonnet working with at least one build configuration.

[2017-03-28 19:29] r0x0r commented on #421
Thanks for devoting your time to the investigation of this issue. Interface casting indeed works, but the problem seems that WebBrowser.Document cannot be casted to ICustomDoc for some reason. Anyhow, this issue can be closed now here.

[2017-03-29 00:13] dmitriyse opened #445 "Bug in runtime.cs Runtime.Initialize() method."
### Environment
Almost any.

### Details
Probably bugs in the source code.
-   Describe what you were trying to get done.
Just code review.

file: runtime.cs, line ~281
[code]

[2017-03-29 00:55] vmuriart commented on #445
Is this actually causing you an issue? I looked into this too a while back and couldn't make it produce an error even though the syntax *looks* wrong. If I remember right 'dllLocal' ends up getting assigned in Linux but not on windows.

Since I couldn't reproduce an actual bug I left the code as is.

[2017-03-29 02:27] denfromufa commented on #445
@dmitriyse can you provide a use case or ideally a test when this issue is reproduced?

[2017-03-29 09:47] filmor commented on #443
Yes please. You could just forward to Python's `dir` function.

[2017-03-29 17:39] Prakash19921206 opened #446 "System.BadImageFormatException"
### Environment

-   Pythonnet version: 2.4.0.0
-   Python version: 3.5
-   Operating System: Windows 7 64bit

### Details

build and trying to run a simple program.
i built the` pythonnet.sln `file using visual studio 2015, it generated `Python.Runtime.dll`,` Python.EmbeddingTest.dll `& `nPython.exe`. i created new C# clr console project & referenced above dll's . below is the code i tried which

[2017-03-29 17:45] denfromufa commented on #446
You need to set compilation symbols or use pre-configured profiles in
pythonnet solution:

https://github.com/pythonnet/pythonnet/wiki/Troubleshooting-on-Windows-and-Linux

Note that it is intended for developers of pythonnet.

If you just need pythonnet as a dependency, just use pip, nuget, or conda
packages for installation.

https://github.com/pythonnet/pythonnet/wiki/Installation

On Wed, Mar

[2017-03-29 19:29] r0x0r commented on #421
The original problem was to do with passing a wrong object to the GetIUnknownForObject method. Document.DomDocument is a correct object, unlike the Visual Studio docs state. Anyhow after solving this issue I realized that I was back at the square one. It works as long as I cast the obtained GetObjectForIUnknown object to ICustomDoc. Otherwise it cannot find the SetUIHandler method on the resulting

[2017-03-29 19:39] denfromufa commented on #421
@r0x0r have you tried doc = ICustomDoc(customDoc)? this should work according to tests:

https://github.com/pythonnet/pythonnet/blob/13e2a8754f0509a5f87792617fd371706a74c44b/src/tests/test_interface.py#L51

[2017-03-30 05:26] Prakash19921206 commented on #446
@denfromufa, pip install doesn't help in my case, because i need .dll (runtime binaries) file for .net project, pip install will pull python libraries.

 i successfully installed PythonNet using NuGet package manager(in Visual Studio 2015 Community Edition) `Install-Package pythonnet -Version 2.3.0-py27-dotnet -Pre`

for same above C# code, i got different error this time.

[2017-03-30 10:05] denfromufa commented on #446
pip installs both Python.Runtime.DLL and CLR.pyd into site-packages folder.

Please report your Python version (`python --version` in cmd).

Do you have multiple Python versions installed?

What does `which python` show in cmd?

On Thu, Mar 30, 2017, 12:26 AM Prakash19921206 <notifications@github.com>
wrote:

[2017-03-30 10:09] denfromufa commented on #446
At the top of this issue you reported using Python 3.5, but you installed pythonnet for Python 2.7 from nuget!

Use this nuget package:
https://www.nuget.org/packages/pythonnet_py35_dotnet/

[2017-03-30 10:49] Prakash19921206 commented on #446
@denfromufa , Thanks for your quick reply. i think this is very unusual because no one is having this kind of issue. i installed from the link u shared above, here's my output from package manager console
[code]

yet i'm getting same error for above C# code. i also copied Python.Runtime.dll from site-packages folder, its still the same. is there any other check i need to do?
Thanks again

[2017-03-30 11:14] denfromufa commented on #446
You have NOT answered my other questions about available Python versions on
your machine. Additionally have you registered your Python in %path% env.
var. and in registry during installation?

https://www.python.org/dev/peps/pep-0514/

Finally are %PYTHONPATH% and %PYTHONHOME% defined in environment variables?

Also please read the troubleshooting wiki that I linked above.

On Thu, Mar 30, 2017, 5

[2017-03-30 11:44] denfromufa commented on #446
And exactly which error you are still getting? because you reported 2 different errors above.

[2017-03-30 15:56] Prakash19921206 commented on #446
i got 1st error this time..

i don't have any other version of python apart from v3.5

yes i have registered Python in %path% env. var. and in registry during installation..i can directly use python using command prompt

%PYTHONPATH% and %PYTHONHOME% are not defined in environment variables!
what value should i set it to?

C:\Users\Admin\AppData\Local\Programs\Python\Python35\Lib

[2017-03-30 16:09] denfromufa commented on #446
You need to match x86 or x64 architecture of your Python installation and the x86 vs x64 version of nuget pythonnet package.

That's why I recommend pip installation instead of nuget.

And you still haven't shown your cmd output of `where python` and `python --version`

[2017-03-30 16:09] #446 closed

[2017-03-30 16:36] Prakash19921206 commented on #446
sorry for commenting on closed issue,
finally got it working
in visual studio, i changed architecture to` x64` from `Any CPU` (32bit)

one last question,
can we run python scripts directly in PythonNet, like i used to do in IronPython?
[code]
or do we need to write full code (as example shown in [README.md](https://github.com/pythonnet/pythonnet/blob/master/README.md))

Thank you very much

[2017-03-30 22:23] denfromufa commented on #446
There is pending PR to implement similar engine scope like in IronPython:

https://github.com/pythonnet/pythonnet/pull/381

We are waiting for @filmor and @vmuriart to review it before it is merged.

Next time please open separate issue when the topic changes.

[2017-03-31 09:45] Prakash19921206 opened #447 "importing Class from python scripts"
### Environment

-   Pythonnet version: 2.4
-   Python version: 3.5
-   Operating System: Windows 7 64bit

how to import some method from python script file?
Lets says below is my python code
assuming there is a folder named _dir_ ,file named _demo.py_, in demo.py there's a class _test_
[code]
my C# code will be?
[code]

[2017-03-31 14:03] denfromufa commented on #447
You can just call Python methods (in fact access any Python objects) from
modules imported as `dynamic` objects in c#, e.g. like in short tutorial in
readme file:

[code]

On Fri, Mar 31, 2017, 4:45 AM Prakash19921206 <notifications@github.com>
wrote:

[2017-03-31 14:59] jwlc76 opened #448 "PythonEngine.Initialize() error"
### Environment

-   Pythonnet version:2.4
-   Python version:2.7.13 32bit
-   Operating System: Win7 sp1 64bit

### Details

Pythonnet compiled under VS2015. Demo packages work fine (wordpad.py etc) but I get an error trying to call python from .net using the Python.Runtime.dll.

When calling PythonEngine.Initialize(); the following error occurs in runtime.cs Line 188.

"A call to PInvoke functio

[2017-03-31 15:04] filmor commented on #447
@Prakash19921206 Please stop abusing the issue tracker as a support forum. Questions like this belong to something like StackOverflow.

[2017-03-31 15:04] #447 closed

[2017-03-31 15:05] filmor commented on #448
Which version (i.e. commit) are you using exactly? Can you bisect the error?

[2017-03-31 15:11] jwlc76 commented on #448
Tested with the latest commit as of a the 31-01-2017.  I will try and replicate with an earlier version.

[2017-03-31 15:45] jwlc76 commented on #448
The issues first occurs in c7b4c212407168c9c2246536aa16e57a36c2acaa (commit on the 1 march 2017)

[2017-03-31 16:06] denfromufa commented on #448
@jwlc76 thank you for reporting this issue!

@vmuriart do you see anything suspicious in that commit? It looks like only refactoring to me.

[2017-03-31 16:13] jwlc76 commented on #448
OK Ive checked further and Ive traced it to f1aa89bb4620c98b8c6eeeb6431a0ca83add7602 (sorry I was  incorrect earlier).
The issue is the removal of the calling convention in [DllImport(Runtime.dll, CallingConvention = CallingConvention.Cdecl)].

When googleing the error message earlier this is one of the thing that came up as a possible cause. So looks like this is the problem. Added the CallingCon

[2017-03-31 16:18] denfromufa commented on #448
@vmuriart well, I did this mention this before, not sure why you ended up removing calling convention anyway?

https://github.com/pythonnet/pythonnet/pull/403#issuecomment-282931584

[2017-03-31 16:48] jwlc76 commented on #448
Just to confirm adding back in the CallingConvention to the DllImports in runtime.cs on the master commit works for me.

[2017-03-31 16:52] denfromufa commented on #448
@jwlc76 feel free to submit a pull request to add cdecl back! Let us know, thanks again.

[2017-03-31 21:48] vmuriart commented on #448
The issue was with some of the other arguments (especially `charset`). I'll take care of re-adding the `callingconv` this weekend.

[2017-04-02 16:02] #448 closed

[2017-04-04 10:43] rmadsen-ks commented on #111
Clearing the ImportErrors a big problem for me because it changes the way python handles a missing module. Normally ImportErrors would be propagated up through the chain of imports. This means that I am not able to fall back to an alternative module if import raised an ImportError. Instead I have to check if the contents of the module is what I expect after loading it.

When import fails(with an I

[2017-04-04 12:38] rmadsen-ks opened #449 "Call to Py_Initialize changes signal handler configuration"
### Environment

-   Pythonnet version:
2.3.0
-   Python version:
Python 2.7.13 (v2.7.13:a06454b1afa1, Dec 17 2016, 20:42:59) [MSC v.1500 32 bit (Intel)] on win32
-   Operating System:
Win 7, 64 bit
### Details

* What I'm trying to do:
        Console application with CTRL+C handling.

According to https://docs.python.org/2/c-api/init.html, Py_Initialize() changes the current signal configuration

[2017-04-04 14:35] denfromufa commented on #449
@rmadsen-ks this change looks reasonable! Can you submit a pull request?

[2017-04-04 14:48] rmadsen-ks commented on #449
@denfromufa, sure, I can do that tomorrow.

1. Should it be an optional argument to PythonEngine.Initialize?
2. Should there be a unit test testing the issue? (might be very complicated to implement)

[2017-04-04 14:52] denfromufa commented on #111
@rmadsen-ks see a pending pull request for this:

https://github.com/pythonnet/pythonnet/pull/298

[2017-04-04 15:03] denfromufa commented on #449
1. Yes

According to the linked docs that your provided this Py_InitializeEx should
be the preferred way when embedding CPython.

However we should keep the old option as optional argument, in case someone
handles this somehow with Python exception.

So I would add deprecating warning to mention that next version we would
switch to recommended C-API behavior.

2.

You can actually start your pull

[2017-04-05 09:25] rmadsen-ks commented on #111
@denfromufa, my issue is not that the error is not detailed enough, but that ImportErrors are ignored. Since ImportHook is overridden by pythonnet, this changes the way *all* python modules are imported not just CLR ones.

[2017-04-05 11:06] rmadsen-ks commented on #111
@denfromufa, it seemed the issue was caused by me having a DLL with the same name as a python module. In normal cases, the ImportError would be emitted, but not if there is an already loaded assembly with the same name.

It seems a bit probematic because there is a good chance that someone would write a wrapper DLL with the same name as a python dll to call into python with. Not sure if different

[2017-04-05 11:15] filmor commented on #111
I also had problems with this hook. I think it the long run we should replace it by an entry to `sys.meta_path`, that should stop it from interfering with the `import` mechanism.

[2017-04-05 15:06] filmor commented on #388
@denfromufa @vmuriart I have added you as owners of the `clr` package on PyPI. I don't have the time to finish the work there right now, so here's the TODO list :)

- [ ] Put up a new package information page that is basically our usual README but adds a disclaimer that the previously listed package is now called [`style`](https://pypi.python.org/pypi/style/1.0.3) and that the "real" name of the P

[2017-04-05 15:32] denfromufa commented on #388
We may as well reserve Python.net package name on pypi.

[2017-04-05 20:10] tomhunter-gh opened #451 "RuntimeBinderException - Cannot implicitly convert type 'Python.Runtime.PyObject' to 'System.Collections.Generic.List<string>'"
## Environment

-   Pythonnet version: 2.3.0
-   Python version: 3.6 (Anaconda 32-bit)
-   Operating System: Windows 10

## Details

I have the following code:

### Interface1.cs

[code]

### Class1.cs

[code]

### Module1.py

[code]

### Test

I am trying to do something like what the following test is trying to do:

[code]

### Exception

However, I get the following exception:

[code]

Is it po

[2017-04-05 20:31] denfromufa commented on #451
@tomhunter-gh can you try from the master? `pip install git+https://github.com/pythonnet/pythonnet`

This should have been fixed recently:
https://github.com/pythonnet/pythonnet/pull/427

[2017-04-05 23:10] JimSEOW commented on #410
@denfromufa
Can you take a look why in [PythonInterface](https://github.com/Lodomir/PythonInterface)
the [pyplot.cs](https://github.com/Lodomir/PythonInterface/blob/master/PythonInterface/pyplot.cs)

Line 96 and 97 fail with the latest Python.Runtime.dll (compile from git clone)

[code]
using example

[code]

[code]

previously, I thought was due to regression of Numpy. With the latest compile pyt

[2017-04-05 23:14] JimSEOW commented on #410
PyPlot for  matplotlib
https://github.com/pythonnet/pythonnet/issues/442

[2017-04-05 23:18] denfromufa commented on #410
@JimSEOW please don't hijack this issue with a separate feature request,
mapping containers between languages is not easy. Especially arrays, since
Python does not have built-in arrays. There is array module in Python, but
everybody uses numpy arrays.

On Wed, Apr 5, 2017, 6:14 PM JimSw2016 <notifications@github.com> wrote:

[2017-04-05 23:20] JimSEOW commented on #442
In [PyPlot](https://github.com/Lodomir/PythonInterface/blob/master/PythonInterface/pyplot.cs)

The ploting is done through buffer and MemoryStream(buffer).
It would be great if we could get this method to work for integrating MatPlotLib in Python for .NET

[code]

[2017-04-05 23:26] JimSEOW commented on #410
@denfromufa  sorry, I am not aware.

[2017-04-06 07:30] yagweb commented on #410
@JimSEOW I tried the SimplePythonGraph project. I guess you ran the program in x64 mode. If so, the bug you encountered was caused by the limitation of method PyInt.AsInt().

A solution is,

replace all the expressions 'PyInt.AsInt(...).ToInt32()' or 'PyInt.AsInt(...).ToInt64()' with '(...).AsManagedObject(typeof(long))'. They appear in both the Get() and Set() methods of PythonConnection class.

[2017-04-06 08:10] yagweb commented on #442
@JimSEOW Currently I don't use MatplotLib in C#, but I was thinking about an implementation of MatplotLib embedding as an example for [pyscope](https://github.com/pythonnet/pythonnet/pull/381), which will cover the functions of PythonInterface and PyPlot you just mentioned.

This code provides one good idea and itself can be greatly optimized. Other suggestions are also welcomed and thank you.

[2017-04-06 19:51] denfromufa commented on #442
This will be create enhancement for clrmagic in jupyter notebooks:

https://groups.google.com/forum/m/#!topic/jupyter/Wy7LnDF4O_Q

[2017-04-06 20:48] tomhunter-gh commented on #451
Hi @denfromufa

I pulled latest from master but I'm afraid I still get the problem.  It looks like casting to a `string[]` array is successful, but the C# base class (and interface) are defined with a `List<string>` so I was expecting to be able to cast the dynamic back to a `List<string>`..

![image](https://cloud.githubusercontent.com/assets/1420946/24774805/3b4094a2-1b12-11e7-9fc3-d6aa04484957.

[2017-04-06 20:52] denfromufa commented on #451
@tomhunter-gh can you share your full project in a zip file? just paste it here to this issue.

fixtures in not included because it is python code, but could be included as a resource. we have a separate pyproj in the directory with python tests.

[2017-04-06 20:56] tomhunter-gh commented on #451
https://www.dropbox.com/s/0u4rbu5s2lr24b0/pythonnet.zip?dl=0

[2017-04-06 20:58] tomhunter-gh commented on #451
By the way I'm using Python 3.6 32-bit, so you may need to change settings in the Python.Runtime project file.

My test is in: pythonnet\src\embed_tests\pyimport.cs

Thanks

[2017-04-07 04:29] denfromufa commented on #451
@tomhunter-gh actually that pull request which I linked above #427 leads to this issue :(

Here is the code that I commented out to pass your the test:
[code]

The reason is because before the list is passed back to C#, it gets converted to Python list.

So quick workaround would be to provide equivalent conversion from Python to C#: `list -> List`.

But this is of course a lot of conversion back

[2017-04-07 05:53] denfromufa commented on #451
This is rather hackish workaround, but passes all tests! Use at your own risk :)

[pythonnet_hackish.zip](https://github.com/pythonnet/pythonnet/files/904637/pythonnet_hackish.zip)

[2017-04-07 19:16] tomhunter-gh commented on #451
Thanks @denfromufa - that has fixed the issue!

Here's the change in case anyone else needs it:

![image](https://cloud.githubusercontent.com/assets/1420946/24815911/dbc119b2-1bce-11e7-898a-5d5b64b93e02.png)

(You also need to add a reference to `Microsoft.CSharp`.)

![image](https://cloud.githubusercontent.com/assets/1420946/24815988/0a0b45f4-1bcf-11e7-93a3-c93b5a27d061.png)

Thanks

[2017-04-09 10:42] JimSEOW commented on #410
@yagweb Great, I will try!

[2017-04-11 15:07] aaronchn opened #452 "fiddler - mscorlib recursive resource lookup bug"
### Environment

-   Pythonnet version:2.3.0
-   Python version:2.7.13
-   Operating System: Win7_32bit

### Details

Try to use pythonnet to call FiddlerCore‘s dll ( https://fars.ee/2Uk1.zip ) ,but get nothing.
What is the correct way to use this dll ( add reference and  import namespace)？

[code]
I tried another way:

[code]
Any help?

[2017-04-11 16:03] denfromufa commented on #452
@aaronchn when you do clr.AddReference - it is assembly name, when you do `import namespace.class`, it is namespaces and classes in the assembly, which can be completely different from assembly name.

But fiddlecore has other issues with pythonnet. Let us know if you reproduce any of this:

http://stackoverflow.com/questions/41485231/fiddlercore-with-python-for-net

[2017-04-12 17:01] aaronchn commented on #452
@denfromufa
I geuss missed a “s” with “def printReq(sesion)” in line 7 caused that warning “mscorlib recursive resource lookup bug”

Turn on my situation，put the flowing code （copy totally and paste at once or input one line by one  ）in to the Python interactive shell，-

[code]
every thing seems like correctly：

![correct](https://cloud.githubusercontent.com/assets/6897149/24969558/c3541014-1fe3-1

[2017-04-12 17:57] denfromufa commented on #452
Not reproduced, can you try switching your locale to US-English?

[2017-04-12 18:27] aaronchn commented on #452
@denfromufa
Will be test this bug with US-English locale and other PC in recent days, the give you feedback.

[2017-04-17 15:39] denfromufa commented on #411
@theresa-anne I'm closing this issue due to inactivity. feel free to report back.

[2017-04-17 15:39] #411 closed

[2017-04-17 15:41] denfromufa commented on #402
deleted this page, since formatting is broken

[2017-04-17 15:41] #402 closed

[2017-04-17 16:20] JimSEOW commented on #402
It would help new users to locate working tutorial on how to embed by including a Wiki Page that points to example project like
http://kozyarchuk.blogspot.com/2015/03/winforms-with-python-by-kozyarchuk.html

[2017-04-17 16:39] denfromufa commented on #402
@JimSEOW do you mean embedding CPython in .NET or vice verse? Feel free to add wiki tutorials and I can link them properly.

Can you point out what is available in 2 blog posts from @kozyarchuk, that is not in demo applications of pythonnet? I already linked his blog post in wiki.

http://kozyarchuk.blogspot.com/2015/03/testing-winforms-with-python.html

http://kozyarchuk.blogspot.com/2015/03/winf

[2017-04-19 06:32] aaronchn commented on #452
After some testing, my conclusion is :
In some win7 edition, setting display language to Chinese Simple will fires this warning.
In some win7 edition, setting locale to Chinese-Simple or US-English will not affect the code running.

[2017-04-19 10:49] denfromufa commented on #452
@aaronchn thank you for checking. This is probably related to issue with underlying library UnmanagedExports. I'm going to try upgrading to DllExport, which seems to have fixed the problem:

https://github.com/3F/DllExport/issues/7

[2017-04-19 16:33] aaronchn commented on #452
Thank you for your contribution on pythonnet.

[2017-04-20 07:13] testrunner123 opened #454 "Crash in pythonnet example in ProcessDialogChar on Ubuntu 14.04"
### Environment

-   Pythonnet version: 2.3.0, 2.2.0
-   Python version: 3.4.3, 2.7.6
-   Operating System: Ubuntu 14.04.04 mono 4.6.2

### Details

-   Describe what you were trying to get done.

I played around with official pythonnet example "demo/wordpad.py". I found that it stable crashes in pythonnet

-   What commands did you run to trigger this issue?

How to repro:
1. start "python demo/w

[2017-04-21 03:07] denfromufa commented on #340
@vmuriart @filmor @GERMANOCARELLA pythonnet now works on Windows Linux Subsystem:

https://github.com/Microsoft/BashOnWindows/issues/1265#issuecomment-296032849

[2017-04-21 03:33] denfromufa commented on #454
winforms on mono is partially implemented. I just tried on windows and after ctrl+o, I see a dialog to save the file. What does Ctrl-I supposed to do? So no crashes on Windows.

![image](https://cloud.githubusercontent.com/assets/7870949/25261748/4ef06c9a-2619-11e7-9f71-36c66c7b9417.png)

[2017-04-21 08:09] testrunner123 commented on #454
Thanks for testing. I had several cases with sporadic crash of WinForms used in my test Python script and keyboard input.

Acidentially I found that your test example crashes also. I believe CTRL-i should do nothing and no crash.
I am ok if I can build-in some workaround in Python script. But at the moment the crash is in Pythonnet DLL during call to WinForms.MessageBox.Show and I have no clue, ho

[2017-04-21 23:00] denfromufa commented on #454
@testrunner123 thanks for figuring this out. Indeed, Mono implementation of WinForms is in "maintenance" mode (last edited 2009) and their mailing list is full of spam:

https://github.com/mono/winforms
https://lists.dot.net/pipermail/mono-winforms-list/

If you need UI in Mono, then I can't really recommend anything. WinForms is in maintenance mode even in .NET Framework.

[2017-04-21 23:01] denfromufa commented on #454
Also in the future please don't make drastic edits to your comments, because the updates don't arrive in email. So just post new comments.

[2017-04-24 05:47] abab987789 commented on #256
For this bug I wonder if there is a good solution?

[2017-04-24 14:06] denfromufa commented on #256
@abab987789 this place needs to be modified in classmanager.cs to look for parent classes:
[code]

[2017-04-24 17:34] denfromufa commented on #256
@Thraka @abab987789 as a workaround you can cast to base class to access the indexer for now. For example:

[code]

[2017-04-25 03:12] abab987789 commented on #256
@denfromufa Now I solved the problem in a way,Check all property indexer
`// Loop through once to find out which names are declared
            for (i = 0; i < info.Length; i++)
            {
                m = info[i];
                if (m.DeclaringType == type)
                {
                    local[m.Name] = 1;
                }
                #region Check all property indexer

[2017-04-25 03:16] denfromufa commented on #256
First part of your snippet is not formatted properly.

[2017-04-25 03:20] abab987789 commented on #256
sorry
I don't know how to use it

[2017-04-25 03:36] denfromufa commented on #256
fixed, this document is helpful for working with markdown on github:

https://help.github.com/articles/basic-writing-and-formatting-syntax/#quoting-code

[2017-04-25 03:39] abab987789 commented on #256
Get it.Thank you
[code]

[2017-04-25 03:54] denfromufa commented on #256
@abab987789 would you like to contribute this with a pull request?

[2017-04-25 13:15] RJMW opened #455 "Conda/Bioconda - TrustFailure error Travis"
### Environment

-   Pythonnet version: 2.3.0
-   Python version: 2.7 and 3.4
-   Operating System: Unix
-   Mono: 4.8.1 (conda)

### Details

@bgruening and I are trying to make pythonnet available for unix via Conda/Bioconda. Conda/Bioconda is used as a dependency resolver for Galaxy (galaxy.org). There is a recipe available for windows but not for Unix. Is there any particular reason as to why

[2017-04-25 14:12] denfromufa commented on #455
@RJMW this looks like very common issue with nuget and Mono, the certificates need to be installed.
Have you tried this? I can't see your full conda build scripts for pythonnet. What nuget version are you using?

[2017-04-25 14:20] bgruening commented on #455
@denfromufa we are using this mono package: https://github.com/conda-forge/mono-feedstock
No extra nuget package, so I assume it is installing nuget on it's own? Sorry no mono expert :(
Do you know where I get the certificates? Can I simply download them?

[2017-04-25 15:36] denfromufa commented on #455
@bgruening you are building mono from source, that maybe the issue. I have never done this before. See our configuration for Mono on travis ci:

https://github.com/pythonnet/pythonnet/blob/master/.travis.yml#L23

@vmuriart has more experience with this.

[2017-04-25 15:36] denfromufa commented on #455
your nuget is up to date - version 3.5 (recommended)

[2017-04-25 15:40] RJMW commented on #455
@akoeplinger suggested to try this: http://www.mono-project.com/docs/about-mono/releases/3.12.0/#cert-sync

[2017-04-25 18:43] bgruening commented on #455
@denfromufa we got a step further. Have you seen this error before?
https://travis-ci.org/bioconda/bioconda-recipes/jobs/225699894#L2080

[2017-04-25 18:50] denfromufa commented on #455
@bgruening you are probably missing xbuild or one of its dependencies. They get installed with mono-complete:

http://www.mono-project.com/docs/getting-started/install/linux/#usage

[2017-04-25 19:10] bgruening commented on #455
@denfromufa we have xbuild and the entire stack even cert-sync and so on.
We can not install these packages you recommend as we need this on HPC environments. There you don't have these package managers. So we try to get this running - we are more or less creating such packages now.
Any other idea what can cause such an error or what it means?

[2017-04-25 19:15] akoeplinger commented on #455
@bgruening the error in your case is this:

[code]

looks like your packages are wrong.

[2017-04-25 20:06] bgruening commented on #455
@akoeplinger probably, but why. This looks really strange.

[code]

Is this what you should get if you simply compile mono? A mixed 64bit and 32bit build?

[2017-04-25 20:14] akoeplinger commented on #455
@bgruening yes that's expected. `mono-sgen` is the native binary for Mono, `mcs.exe` is a managed .NET assembly so the architecture isn't relevant there (ignore the `32-bit` part that `file` reports).

You can't run mcs.exe directly, you need to do what the wrapper script in `/opt/conda/envs/mono/bin/mcs` does, i.e. run it via the mono binary (except if you use e.g. the Process.Start() .NET API be

[2017-04-25 20:18] bgruening commented on #455
@akoeplinger why does this not exists? It really exists, promised, the `file nor found error` comes from calling this 32bit binary directly in a 64bit system. I can reproduce this here:

[code]

[2017-04-25 20:20] akoeplinger commented on #455
@bgruening as I said, you can't do it like this on the shell. You'd need to do `mono /opt/conda/envs/mono/lib/mono/4.5/mcs.exe --version`

And `/opt/conda/envs/mono/lib/mono/4.5/mcs.exe` is not the same as `/opt/conda/conda-bld/_b_env_placehold_placehold_placehold_placehold_placehold_placehold_placehold_placehold_placehold_placehold_placehold_placehold_placehold_placehold_placehold_placehold_place

[2017-04-25 20:27] bgruening commented on #455
This I got, but the pythonnet installer is calling `/opt/conda/conda-bld/_b_env_placehold_placehold_placehold_placehold_placehold_placehold_placehold_placehold_placehold_placehold_placehold_placehold_placehold_placehold_placehold_placehold_placehold_placehold_placehold_placehold_placehold_placehold_placeho/lib/mono/4.5/mcs.exe` as it seems and this is why it crashes. Or maybe I get something reall

[2017-04-25 20:29] akoeplinger commented on #455
Yeah, something is wrong with the package.

[2017-04-25 20:32] bgruening commented on #455
With pacjage you mean the pytonnet? Sorry to bother you so much, just want to make sure that we did everything like expected.

[2017-04-25 20:35] akoeplinger commented on #455
wherever Mono and xbuild come from, I have no idea how you're packaging it :)

[2017-04-25 20:38] bgruening commented on #455
;) This I can show you. Simply compiled package: https://github.com/conda-forge/mono-feedstock/blob/master/recipe/build.sh

No seriously, if the pythonnet installer is calling this script `/whatever/lib/mono/4.5/mcs.exe` without the prefix, how can this work? Or the other question what can cause the pythonnet installed to not use the prefix thingy?

[2017-04-25 20:43] akoeplinger commented on #455
no idea, I'm not familiar with pythonnet at all unfortunately :)

though it looks like it just calls `xbuild` so it's more likely the Mono package is wrong, i.e. the value passed to `--prefix=` doesn't match with where it's installed on the machine.

[2017-04-25 20:46] bgruening commented on #455
@akoeplinger ok, thanks for you help. I keep poking! Greetings to Austria!

[2017-04-26 04:22] denfromufa commented on #455
@bgruening sorry can't help much with your customized environment, but one quick thing you can do is to flip verbosity up higher in setup.py to troubleshoot this weird path issue.

https://github.com/pythonnet/pythonnet/blob/master/setup.py#L24

[2017-04-26 15:24] ergorion opened #457 "[py3.6/pythonnet 2.3.0] how can I access QueryMembership.None?"
### Environment

-   Pythonnet version: 2.3.0
-   Python version: Python 3.6.0 |Anaconda 4.3.1 (64-bit)| (default, Dec 23 2016, 11:57:41) [MSC v.1900 64 bit (AMD64)] on win32
-   Operating System: win7 64bit

### Details

This is not a real pythonnet bug, however, I would like to hear from you
a) how I can access this attribute .None?
b) if pythonnet could translate this attribute None maybe to a

[2017-04-26 15:30] aaronchn commented on #452
May I ask for some help to you of pythonnet about my pyfiddler? if
you can ,please send an email to me "aaronchn@live.com" to help me get your email and post my question. Thanks.

[2017-04-26 15:33] denfromufa commented on #457
@ergorion what syntax error and traceback do you get?

[2017-04-26 15:37] ergorion commented on #457
This is what it looks like in a console:

  File "<stdin>", line 1
    QueryMembership.None
                       ^
SyntaxError: invalid syntax

[2017-04-26 16:19] ergorion commented on #457
That works. Perfect. Thanx!
I have no idea if other frameworks (like Microsoft .Net) happen to have an attribute with this name? I guess it does not make sense to implement a special translation, especially as such an easy workaround is available...
Thanx again, especially for your quick answer.

[2017-04-26 16:36] denfromufa commented on #452
@aaronchn i have not much experience with fiddler, but @dmitriyse seems very knowledge about it :+1:

[2017-04-27 03:23] aaronchn commented on #452
@denfromufa  @dmitriyse
I’m trying to make a little toolkit for someone in Github (pyfiddler)，until now，my major goal is done.
But there still some ugly of the code.One is just putting CertMaker.dll and BCMakeCert.dll to python bin directory can be work with fiddler and any other path will not.  I tried to reference theme like FiddlerCore4.dll，seems dose not work。After search google，the answer may

[2017-04-27 11:14] JimSEOW commented on #410
@yagweb  will your [scope class](https://github.com/pythonnet/pythonnet/pull/381#discussion_r113635150) address the GET, SET issues above?

[2017-04-28 03:12] abab987789 commented on #256
Yes,I'm interested

[2017-04-28 03:49] denfromufa commented on #256
Go for it! ;)

[2017-05-03 13:23] testrunner123 opened #458 "Propose allow gcc usage instead of clang if not available"
### Environment

-   Pythonnet version: 2.3.0
-   Python version: 3.4
-   Operating System: Ubuntu 14.04

### Details

-   Describe what you were trying to get done.

I was trying to build on my system. But I don't have clang. So I tried with my gcc 4.9.4.
It appears that it works beautifully and generates interop34m.cs with same content as the one made with clang. I suggest that geninterop.py sho

[2017-05-03 14:01] denfromufa commented on #458
@testrunner123 pull requests are welcome! We should probably also update fake_libc_include:

https://github.com/eliben/pycparser/tree/master/utils/fake_libc_include

https://github.com/pythonnet/pythonnet/tree/master/tools/geninterop/fake_libc_include

[2017-05-03 18:49] yiwsun opened #459 "import .net assembly with unmanaged code"
### Environment

-   Pythonnet version:2.3
-   Python version:3.5
-   Operating System: Windows Server 2016

### Details

I was trying to install a .net dll using pythonnet, but it depends on caffe.managed.dll, So I want to import caffe dll (in the same folder) using:
    *clr.AddReference("C:\\demo\\caffe.managed.dll")*
which returns an error: FileNotFoundException: Unable to find assembly 'C:\de

[2017-05-03 19:45] filmor commented on #459
Are you sure that you are running a x64 version of Python? You cannot mix different binaries in a single process, but as long as the DLL and Python bitness match you shouldn't have a problem.

[2017-05-03 19:56] denfromufa commented on #459
@yiwsun AddReference looks for assembly name WITHOUT ".DLL":

https://github.com/pythonnet/pythonnet/search?utf8=%E2%9C%93&q=AddReference&type=

I updated troubleshooting wiki, since this is asked very often:

https://github.com/pythonnet/pythonnet/wiki/Troubleshooting-on-Windows-and-Linux

[2017-05-03 20:19] yiwsun commented on #459
Here is the updated code:
import clr,sys
dlldir = "C:\\demo"
sys.path.append(dlldir)
dllname = clr.FindAssembly("caffe.managed")
print(dllname)
clr.AddReference("caffe.managed")

Now clr.FindAssembly() can get the correct path, e.g. "C:\demo\caffe.managed.dll", but AddReference() still
reports error:
FileNotFoundException: Unable to find assembly 'caffe.managed'.
   at Python.Runtime.CLRModule.Add

[2017-05-03 20:22] yiwsun commented on #459
@filmor, I used the below script to test Python bit
import sys,platform;
print(platform.architecture()[0])
print(sys.maxsize > 2**32)

import struct;
print(struct.calcsize("P") * 8)

The output:
64bit
True
64

[2017-05-03 20:26] denfromufa commented on #459
@yiwsun are you able to load this DLL from C# (e.g. using scriptcs)?

Also you can inspect the loading process using this:

https://github.com/pythonnet/pythonnet/wiki/Troubleshooting-on-Windows-and-Linux#assembly-binding-errors

[2017-05-03 20:35] yiwsun commented on #459
@denfromufa the dll works fine in my c# sample code

[2017-05-03 20:41] denfromufa commented on #459
@yiwsun so where is your caffe.managed? Is is this DLL:

https://github.com/Microsoft/caffe/tree/master/windows/caffe.managed

If yes, then it looks completely unmanaged.

[2017-05-03 21:29] yiwsun commented on #459
@denfromufa I didn't build the dll, it came with the other packages, I uploaded it here for your reference:
https://yiwtmp.blob.core.windows.net/tempblob/pythonnet/caffe.managed.dll

According to some online discussion if GetAssemblyName() on it doesn't generate error, it would be a managed dll. This one passed so I was assuming it is a managed dll.

[2017-05-03 21:45] denfromufa commented on #459
@yiwsun no, i can't load this even in c#:

[code]

[2017-05-03 21:50] yiwsun commented on #459
@denfromufa Do you know if an unmanaged dll, which is loaded using ctypes in Python, will be able to work with other dlls loaded using clr?

[2017-05-03 21:59] denfromufa commented on #459
your question is too broad. it looks like this dll has some issues. so I think we should close this issue @filmor @yiwsun

[2017-05-04 04:57] denfromufa commented on #459
@yiwsun if you have more info (e.g. working C# solution), then let us know. But otherwise this DLL looks very special, such that even scriptcs cannot handle it. So I'm closing this issue for now.

[2017-05-04 08:45] testrunner123 commented on #458
I do not think that we need update fake_libc_include. Python C-extension api do not use lot of things and current fake_libc fullfill it completely. Newer fake_libc has IMHO just more fake headers important for other projects.

I do not program in python :) I just replaced string "clang" with "gcc" and it appears to work. I also believe that on Windows VS2015 C compiler can be used, because it has

[2017-05-04 10:54] #454 closed

[2017-05-04 11:17] testrunner123 commented on #422
We experienced crash of Python interpreter on exit or on exception catching in presence of subclassing.

There were several reasons and finally I got scripts runing. But it was impossible to strip the case down to small example. So my notes:

- you should not define Python class with same name as C# class that was imported before
- do not import C# classes to global python namespace - always impor

[2017-05-04 14:42] #459 closed

[2017-05-06 01:26] heri16 commented on #226
Is there a fix or workaround for this yet?

[2017-05-06 04:33] denfromufa commented on #226
no fix yet, the workaround is using Reflection.

[2017-05-10 09:30] #59 closed

[2017-05-11 04:05] gemiko opened #463 "Conda Environments - Wrong Path Captured"
### Environment

-   Pythonnet version: 2.3
-   Python version: Python 3.5 (Conda environment)
-   Operating System: Windows 10

### Details

I have many Conda Python environments, and I have installed PythonNet in only one of them.
I installed PythonNet using "conda install -c pythonnet pythonnet", and the Python.Runtime.dll is located in a conda environment named _anaconda3_: "C:\Users\username\

[2017-05-11 10:29] denfromufa commented on #463
@gemiko thanks for trying pythonnet! Search this issue tracker for `%pythonhome%` examples.

[2017-05-11 12:01] denfromufa commented on #463
here is wiki entry about:

https://github.com/pythonnet/pythonnet/wiki/Troubleshooting-on-Windows-and-Linux#cpython-27-36-installed

[2017-05-12 11:11] denfromufa opened #464 "mono 5.0 - xbuild deprecated, C# 7.0, concurrent garbage collector"
http://www.mono-project.com/docs/about-mono/releases/5.0.0/

[2017-05-12 18:29] vmuriart commented on #464
I've frozen the language to C# 6.0 when C# 7.0 features were rolling out. I don't want to upgrade the language (atleast not now).

GC... I still have nightmares about our current GC setup, I don't think we want to further complicate it.

The only actionable item I see here is the `xbuild` deprecation (i assume this will affect our Travis CI eventually) We'll have to play around w it to see how to

[2017-05-12 20:07] gemiko commented on #463
I attempted to follow this https://github.com/pythonnet/pythonnet/issues/259#issuecomment-245415530, under my VS2015 environment to set the paths, but didn't work. Setting PYTHONHOME in my system environmental variable to C:\Users\username\Miniconda3\envs\anaconda3 also did not work.

The only way PythonNet works for me is by using the root Anaconda environment, which isn't a solution when when I

[2017-05-13 19:06] denfromufa commented on #463
@gemiko did you activate your env. before calling it for embedding in .NET at runtime? what errors and tracebacks did you get? what does `conda env list` show?

Finally before `PythonEngine.Initialize()` call you can set `PythonHome` property:

https://github.com/pythonnet/pythonnet/blob/7db41a9eaca9e702d9b7cc9363f99c3520fc930a/src/runtime/pythonengine.cs#L74

[2017-05-13 22:44] denfromufa commented on #464
I agree on C# 6.0 and xbuild, not sure about GC. Together with C#6.0 and xbuild, also underlying compiler is updated from "mcs" to "csc" (roslyn).

[2017-05-14 11:44] riccardodelutio opened #465 "installing pythonnet on Mac Sierra"
I'm trying to use pythonnet in order to import a DLL assembly and use it in python. I've seen in some other threads that some people got it working. But when I try to use it I get

`>>> import clr
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ImportError: dlopen(/Users/riccardodelutio/anaconda2/lib/python2.7/site-packages/clr.so, 2): Library not loaded: /usr/local/opt/gl

[2017-05-14 18:28] denfromufa commented on #465
This looks different issue. Can you describe all steps that you did to get pythonnet installed?

[2017-05-14 18:30] denfromufa commented on #465
@spichardo @mateuszlewko @fractus did you have this issue on mac?

[2017-05-14 19:02] mateuszlewko commented on #465
Yes and I haven't tried it on different OS.

[2017-05-14 19:06] spichardo commented on #465
I haven't seen this issue. As side note I switched to Enthought Canopy instead of Anaconda (for different reasons), pythonnet 2.3.0 works out of the box with `pip install pythonnet`. I used brew to install mono.

I've been using a lot pythonnet  recently on Mac OS (Sierra) in my applications, so I know it works.

@riccardodelutio It looks the error more related to the mono installation. How was it

[2017-05-14 20:11] fractus commented on #465
No, I didn't have that issue. Looking at the above though, I would proceed as follows:

* Check that `which python` points to your Anaconda installation; if not, update your user path in `.bash_profile`, restart the terminal, and try again

* If `clr.so` exists, add the following link (point to your mono installation) and try again.
[code]

* If still you get an error message, then I would guess,

[2017-05-15 13:39] riccardodelutio commented on #465
Hello thanks for the answers!

@denfromufa  @spichardo
I used `brew install mono` because I saw this was recommended but before that I had tried by following what's described in this http://www.mono-project.com/download/
and `pip install pythonnet` for pythonnet

@fractus

`which python` outputs `/Users/riccardodelutio/anaconda2/bin/python` so it should be ok
`clr.so` does exist, could you just de

[2017-05-15 13:49] riccardodelutio opened #466 "Using dll assembly in python on Windows 7"
### Environment

-   Pythonnet version: 2.3
-   Python version: 2.7
-   Operating System: Windows 7

### Details

Following the installation process and the steps detailed in the wiki I have
[code]

I have successfully run this on a Windows 10 VM proceeding exactly in the same way so I first tough it had something to do with the `sys.path` I tried adding the assembly's path to the `sys.path` befor

[2017-05-15 14:02] denfromufa commented on #466
this is weird, which .NET version and architecture does SUDS target? Can
you share this assembly? 32-bit or 64-bit Python? Does SUDS have any
dependencies?

On Mon, May 15, 2017 at 8:49 AM, Riccardo de Lutio <notifications@github.com

[2017-05-15 14:17] riccardodelutio commented on #466
Unfortunately I haven't written the source C# code myself so I'm not sure about all the details and unfortunately I can't share it online. I don't think it depends on anything. And I would guess it targets 64-bit architectures as it works on my Windows 10 VM on 64-bit. And the pyhton I'm using on Windows 7 is 64-bits

[2017-05-15 14:19] riccardodelutio commented on #466
I also tough it could have something to do with the path that had a non ASCII character in it because of the username so I change to a different user so that the path has all ASCII characters and I still have the problem.

[2017-05-15 14:29] riccardodelutio commented on #466
I tried it once by installing Python and everything myself and then by downloading Anaconda but both methods have failed in the same way

[2017-05-15 14:39] denfromufa commented on #466
Can you confirm that you are using 64-bit Python 2.7 on both Windows 7 and
Windows 10?

Here is email address where you can share the DLL privately with me: my
github handle at gmail dot com

Please try the steps from troubleshooting wiki, particularly inspect the
contents of assembly with ILSPY and review the binding log with
Fuslogvw.exe:
https://github.com/pythonnet/pythonnet/wiki/Troubleshooti

[2017-05-15 14:49] riccardodelutio commented on #466
Hello,

Yes I'm using Python 2.7 on both Windows 7 and 10. Unfortunately I can't share it as it is property of a company I'm working with.

And thank you I will try the steps from the troubleshooting and keep you updated

[2017-05-15 14:59] riccardodelutio commented on #466
Using ILSPy I can see that SUDS is for
Architecture : AnyCPU (64-bit preferred)
and it uses .NET Framework 4 version 4.5

[2017-05-15 15:06] riccardodelutio commented on #466
Trying to install .NET version 4.5 I don't know if that has something to do with it, this is the first time I come across .NET and DLL 's

[2017-05-15 15:07] denfromufa commented on #466
Do you have .NET 4.5 on your Windows 7? I have never seen 64-bit preferred
AnyCPU compilation.
Anyway you still have not confirmed if you have 64-bit Python on both
machines (python --version).

On Mon, May 15, 2017 at 9:59 AM, Riccardo de Lutio <notifications@github.com

[2017-05-15 15:13] riccardodelutio commented on #466
I'm installing .NET 4.5 right now
Yes I have python 2.7 on both my windows 7 and windows 10

[2017-05-15 17:29] fractus commented on #465
This is a symbolic links, so use the `ln` command as follows:
[code]

[2017-05-17 09:30] riccardodelutio commented on #466
It's working since I have installed .NET 4.5 and rebooted.

Thanks for the advice!

[2017-05-17 11:43] #466 closed

[2017-05-17 21:09] rionmonster opened #467 "Running Embedded Python.NET Application on Environment without Python Installed?"
### Environment

-   Pythonnet version: 2.2.2
-   Python version: 2.7
-   Operating System: Windows 10

### Details

I haven't worked _too_ extensively with Python previously, but I've been experimenting with the idea of writing some utilities using it and embedding them within a .NET application (e.g. Windows Forms, Console, WPF, etc.). Is it possible to embed Python itself within the assembly us

[2017-05-17 21:52] denfromufa commented on #467
That is exactly what I'm doing with pythonnet, but I install CPython as part of larger installation.

@rionmonster one option would be to use the nuget packages for CPython and pythonnet:

https://www.nuget.org/packages/python2/
https://www.nuget.org/packages/pythonnet_py27_dotnet/

When embedding this nuget package in .NET app, you will need to set PYTHONHOME environment variable or this property

[2017-05-18 07:07] JamesMTSloan opened #468 "Unable to find assembly"
### Environment

-   Pythonnet version: 2.3.0
-   Python version: 3.5 (both installed using Anaconda) 64-bit
-   Operating System: Windows 7 64-bit

### Details

I am trying to load a .NET assembly DLL using pythonnet. This has worked fine for other DLLs (.NET 4) but for one in particular I am having issues. This is an assembly provided by the Sapera SDK made by DALSA. I don't know what .NET versi

[2017-05-18 13:38] klasma opened #469 "Unable to create a subclass of System type with a different number of input arguments"
### Environment

-   Pythonnet version: 2.3.0
-   Python version: 2.7.13
-   Operating System: Windows 10

### Details

I am trying to create a subclass of a System type. The System type takes zero input arguments, and the subclass should take one input argument. The constructor does not seem to be created correctly.

The following example reproduces the error:

[code]

The following error message

[2017-05-18 14:05] denfromufa commented on #468
@JamesMTSloan please follow the advises for troubleshooting in this resolved issue:

https://github.com/pythonnet/pythonnet/issues/466

[2017-05-18 14:15] denfromufa commented on #469
This works without `__namespace__`:

[code]

[2017-05-18 15:01] JamesMTSloan commented on #468
I updated to .NET 4.7 and the error persisted. The output of fuslogvw and ILSPY suggest to me that the DLL was built using .NET 2.0. Does pythonnet require DLLs to be 3.5+?

Outputs:
[code]
[code]

Cheers

[2017-05-18 15:16] denfromufa commented on #468
@JamesMTSloan this assembly contains unmanaged code (e.g. C++/CLI), hence cannot redirect at runtime from CLR2 to CLR4. It has to be recompiled to target .NET 4.0+. pythonnet does not work in CLR2 due to usage of dynamic and hashset.

[2017-05-18 15:18] JamesMTSloan commented on #468
Thanks very much for your help. It is a third party DLL but perhaps I can make an enquiry anyway. Thanks again.

[2017-05-18 15:21] klasma commented on #469
Thank you for getting back to me so quickly!

That does not seem to work when the class is used outside python. In the following example

[code]
I get the error

AttributeError: 'Object' object has no attribute 'X'

And if I run

`t.GetType().FullName`

I get that t is a System.Object and not a Test as it was before. (Previously it was a PyTest.Test)

[2017-05-19 02:41] denfromufa commented on #469
The .Add method of List expects System.Object as argument in this case. So
the Test object gets converted to System.Object.

On Thu, May 18, 2017 at 10:21 AM, klasma <notifications@github.com> wrote:

[2017-05-19 11:42] klasma commented on #469
Is there a way to make the code below (or something similar) work? Or are we limited to using constructors with 0 input arguments for objects that we use outside python? We are trying to replace IronPython with pythonnet in an existing application, so we would need a lot of existing code to work with minimal changes.

[code]

If this is a known and intended limitation, I am happy to close the bug

[2017-05-19 21:42] gemiko commented on #463
Inside the commandline, activating the conda environment and then starting visual studio works.

However, when deploying the software, I found I absolutely needed to set the PYTHONHOME and PYTHONPATH environment variables. The good thing is that Conda Python environments are standalone and can be deployed with your application. It's just a matter of how to package it all together.

Suppose the Pyt

[2017-05-19 21:53] denfromufa commented on #463
@gemiko would you mind summarizing your tutorial in wiki? this is great resource asked many times here!

[2017-05-20 16:35] gemiko commented on #463
Unfortunately, it stopped working for me. I'll need to investigate it some more.

[2017-05-20 18:33] phuihock opened #470 "Can't install pythonnet with Mono 5"
### Environment

-   Pythonnet version: 2.3.0
-   Python version: 2.7.12+
-   Operating System: Ubuntu 16.10

### Details
Upgraded Mono from 4.8 to 5.0.0.100 today, can't install pythonnet anymore. Errors thrown during installation. Installation works fine if I revert Mono back to 4.8

-   What commands did you run to trigger this issue?

[code]

-   If there was a crash, please include the traceb

[2017-05-20 21:42] gemiko commented on #463
Looks like I got it working now. Setting both the PATH and PYTHONHOME to the directory is needed. I'll also edit the above post so there's no confusion for others.
[code]

[2017-05-23 14:14] denfromufa commented on #470
Thanks for trying out pythonnet, this is already tracked here:

https://github.com/pythonnet/pythonnet/issues/464
https://github.com/pythonnet/pythonnet/pull/471

[2017-05-23 14:14] #470 closed

[2017-05-24 14:10] #464 closed

[2017-05-24 22:03] rionmonster commented on #467
Thanks for the insights @denfromufa

I eventually elected to go another route for the time being, but I was able to play around with the use of `PythonHome` along with the aforementioned NuGet packages. That's certainly an option I'll consider should the need arise again.

I appreciate it.

[2017-05-24 22:03] #467 closed

[2017-05-25 18:56] mphielipp commented on #165
Hi, I install this package. But when I run the project I get a runtime error . I have a Anaconda Python 3.5.2 64 bits install. I use the Nuget PAckage 3.5. I have tried to run it with x86, Any CPU, amd x64. Any suggestions?

Now I'm running x86. Crash in this line Py.GIL().
There was a mismatch between the processor architecture of the project being built "MSIL" and the processor architecture of t

[2017-05-25 19:02] mphielipp commented on #165
I installed it using the "MAnage Nuget Package" option in Visual Studio 2005.

[2017-05-25 19:05] mphielipp commented on #165
I changed the "Target Platform Option" in project settings to x86. But I still get this runtime error in the same line:

An unhandled exception of type 'System.BadImageFormatException' occurred in Python.Runtime.dll

Additional information: An attempt was made to load a program with an incorrect format. (Exception from HRESULT: 0x8007000B)

[2017-05-25 19:24] denfromufa opened #472 "nuget error - windows 10 - Anaconda Python 3.5.2 64 bit"
from @mphielipp

Hi, I install this package. But when I run the project I get a runtime error . I have a Anaconda Python 3.5.2 64 bits install. I use the Nuget PAckage 3.5. I have tried to run it with x86, Any CPU, amd x64. Any suggestions?

Now I'm running x86. Crash in this line Py.GIL().
There was a mismatch between the processor architecture of the project being built "MSIL" and the processor

[2017-05-25 19:25] denfromufa commented on #165
@mphielipp i deleted your 4 messages here and moved them to a separate issue:

https://github.com/pythonnet/pythonnet/issues/472

[2017-05-25 19:30] denfromufa commented on #472
@mphielipp are you really using VS 2005??? Your anaconda is clearly 64-bit, hence you need to select x64 target in VS. Which nuget pythonnet package did you install? There are many versions of them.

What .NET runtime are you targetting?

What do these commands show?

`where python`
`python --version`

[2017-05-25 20:14] mphielipp commented on #472
VS 2015
C:\Users\<ny user>\AppData\Local\Continuum\Anaconda3\python.exe
Python 3.5.2 :: Anaconda 4.3.1 (64-bit)

[2017-05-25 20:14] mphielipp commented on #472
.NET Framework 4.5.2

[2017-05-25 20:15] mphielipp commented on #472
pythonnet_py35_dotnet 2.3.0

[2017-05-25 20:35] denfromufa commented on #472
I see the issue, nuget does not switch automatically the version of package (x86 and x64) depending on the architecture:

https://stackoverflow.com/questions/7769580/how-should-i-create-or-upload-a-32-bit-and-64-bit-nuget-package

[2017-05-25 20:53] vmuriart commented on #472
@denfromufa looks like you arrived to the same solution we did. We got it fixed by manually updating the dll reference to the 64bit version. I don't know how other libraries deal w this though, dllexport and nunit may have some solution for this.

[2017-05-25 21:50] mphielipp opened #473 "An unhandled exception of type 'Microsoft.CSharp.RuntimeBinder.RuntimeBinderException' occurred in System.Core.dll"
### Environment

-   Pythonnet version: 2.3.0
-   Python version:3.5.2 (Anaconda)
-   Operating System:Windows 10

### Details

                                    dynamic tf = Py.Import("tensorflow");
                                   dynamic data = np.ones(5);
                                    dynamic x = tf.constant(data, Py.kw("name", 'x'));
  THIS LINE>>              dynamic y = tf.Variabl

[2017-05-25 21:57] denfromufa commented on #473
@mphielipp i think this is the same as this issue, which is limitation of .NET DLR:

https://github.com/pythonnet/pythonnet/issues/86

You need to cast `dynamic` to corresponding type (e.g. `double`) when `dynamic` is NOT 1st argument:

https://github.com/pythonnet/pythonnet/issues/249#issuecomment-241808560

[2017-05-25 22:14] mphielipp commented on #473
I try different castings (dynamic, int, double) but does not work:

dynamic y = tf.Variable( (cast)3 * x ), Py.kw("name", 'y'));

An unhandled exception of type
'Microsoft.CSharp.RuntimeBinder.RuntimeBinderException' occurred in
PythonNet2.exe

Additional information: Operator '*' cannot be applied to operands of type
'int' and 'Python.Runtime.PyObject'

On Thu, May 25, 2017 at 2:57 PM, denfromufa

[2017-05-25 22:14] mphielipp commented on #473
I try different castings (dynamic, int, double) but does not work:

dynamic y = tf.Variable( (cast)3 * x ), Py.kw("name", 'y'));

An unhandled exception of type 'Microsoft.CSharp.RuntimeBinder.RuntimeBinderException' occurred in PythonNet2.exe

Additional information: Operator '*' cannot be applied to operands of type 'int' and 'Python.Runtime.PyObject'

[2017-05-25 22:27] denfromufa commented on #473
Here is how casting works:

`dynamic y = tf.Variable( 3 * ((int)x) ), Py.kw("name", 'y'));`

I put extra brackets to disambiguate the operation ordering.

[2017-05-25 22:33] mphielipp commented on #473
I typed:
dynamic y = tf.Variable((3 * ((int)x)), Py.kw("name", 'y'));
also tried
dynamic y = tf.Variable(3 * ((int)x), Py.kw("name", 'y'));

same error: (An unhandled exception of type 'Microsoft.CSharp.RuntimeBinder.RuntimeBinderException' occurred in ...Additional information: Cannot convert type 'Python.Runtime.PyObject' to 'int')

[2017-05-25 22:33] mphielipp commented on #473
wait x is not an int, x was declare in the previous line:
dynamic x = tf.constant(data, Py.kw("name", 'x'));

[2017-05-25 22:51] denfromufa commented on #473
Now I see the issue: trying to pass dynamic pythonnet expression to
tensorflow. Let me think about this.

On Thu, May 25, 2017, 5:34 PM mphielipp <notifications@github.com> wrote:

[2017-05-26 01:50] denfromufa commented on #473
I don't much experience with tensorflow. Can you point to any tutorial that does the same in Python API?

Can't you build your expressions only using tensorflow math functions, not Python operators?

https://www.tensorflow.org/api_guides/python/math_ops

[2017-05-26 05:29] mphielipp commented on #473
Yes. This is a sample code:
import tensorflow as tf
import numpy as np

data = np.random.randint(1000, size=10000)

print (data)

x = tf.constant(data, name='x')
y = tf.Variable((x * x) * 5-3*x+15, name='y')

model = tf.global_variables_initializer()
with tf.Session() as session:
	session.run(model)
	print(session.run(y))

[2017-05-26 05:31] mphielipp commented on #473
it seems that the operators are pass as Python ones in this example.

[2017-05-26 05:31] denfromufa commented on #473
looks like possible using only tensorflow math:

[code]

[2017-05-26 05:32] mphielipp commented on #473
ok. thanks!!!

[2017-05-26 05:49] mphielipp commented on #473
dynamic data = np.ones(5.0);
                dynamic x = tf.constant(data, Py.kw("name", 'x'));
                dynamic y = tf.Variable(tf.multiply(tf.constant(3) ,x), Py.kw("name", 'y'));

TypeError : Input 'y' of 'Mul' Op has type float64 that does not match type int32 of argument 'x'."}
x is type ndarray and each element if float 64

[2017-05-26 06:01] denfromufa commented on #473
well i guess you need to specify the types:

[code]

[2017-05-26 06:04] mphielipp commented on #473
Yes!! Thanks!!

[2017-05-26 06:06] mphielipp commented on #473
I tried the specification but did not change the 3 to 3.0. Thanks again!

[2017-05-26 06:18] mphielipp commented on #473
I did run:
                dynamic x = tf.constant(data,Py.kw("dtype","float64"), Py.kw("name", 'x'));
                dynamic y = tf.Variable(tf.multiply(tf.constant(3.0, Py.kw("dtype", "float64")), x), Py.kw("name", 'y'));
                dynamic model = tf.global_variables_initializer();
                dynamic res = tf.Session().run(model);
                Console.WriteLine(tf.Session().run(y)

[2017-05-26 06:28] denfromufa commented on #473
[code]

[2017-05-26 06:47] mphielipp commented on #473
Great!! Thanks!!

[2017-05-26 08:42] grig27 opened #474 "RunSimpleString variarible not visible in Eval"
### Environment

-   Pythonnet version: 2.3.0.0
-   Python version: 2.7.4 (default, Apr  6 2013, 19:54:46) [MSC v.1500 32 bit (Intel)]
-   Operating System: Windows 7

### Details

How to use Eval() variarible after RunSimpleString()

### Details

PythonEngine initialize very good.

After PythonEngine.RunSimpleString("a=1") code PythonEngine.RunSimpleString("print(a)") printing char "1".
On Python

[2017-05-26 10:30] #473 closed

[2017-05-26 15:51] denfromufa commented on #474
Have a look at this additional embedding API in this pull request:

https://github.com/pythonnet/pythonnet/pull/381

On Fri, May 26, 2017, 3:42 AM grig27 <notifications@github.com> wrote:

[2017-05-26 18:58] mphielipp commented on #473
// w = tf.Variable([1.0, 2.0], name = "w")
                dynamic wa = np.array(new List<double> { 1.0, 2.0});
                dynamic w = tf.Variable(wa, Py.kw("dtype", "float64"), Py.kw("name", 'w'));

{"TypeError : float() argument must be a string or a number, not '0, Culture=neutral, PublicKeyToken=b77a5c561934e089]]'"}

[2017-05-26 21:13] denfromufa commented on #473
But can you do the same in Python? Try skipping the dtype argument or also providing the shape argument. In this case TF may be able to resolve dtype and shape based on value.

[2017-05-27 21:24] denfromufa commented on #474
Here is how eval supposed to be used with local variables:

https://github.com/pythonnet/pythonnet/blob/8ce4e0e78ba6028cfb1447ce6c0d06950afd23aa/src/embed_tests/pyrunstring.cs#L34

I'm going to keep this issue open, so that the corresponding docs can be added.

[2017-05-27 21:47] mcgradymvp commented on #465
I was using `pip install pythonnet` and getting the error message as follows:

`Collecting pythonnet
  Using cached pythonnet-2.3.0.tar.gz
Building wheels for collected packages: pythonnet
  Running setup.py bdist_wheel for pythonnet ... error
  Complete output from command /Users/wangfan/anaconda2/bin/python -u -c "import setuptools, tokenize;__file__='/private/var/folders/08/_nrd2gy17lv97k9d6smt

[2017-05-27 21:50] mcgradymvp commented on #465
I was using `pip install pythonnet` and getting the error message of `Failed building wheel for pythonnet`.
I recorded the error by _asciinema_:
[asciinema error message](https://asciinema.org/a/cg5xpzpwbrsaeg7nqg6n60h4b)

[2017-05-27 22:29] denfromufa commented on #465
@mcgradymvp can you try to install from master since you are using Mono 5.0, which just got fixed:

`pip install git+https://github.com/pythonnet/pythonnet`

[2017-05-27 22:42] mcgradymvp commented on #465
@denfromufa
Thanks a lot. Now I can install pythonnet but got error when `import clr`

[code]

[2017-05-27 22:48] denfromufa commented on #465
@mcgradymvp please follow instructions from @fractus on how to symbolically link mscorlib.dll:

https://github.com/pythonnet/pythonnet/issues/392

[2017-05-28 12:16] mphielipp commented on #473
Ok. Thanks.
On Fri, May 26, 2017 at 11:13 PM denfromufa <notifications@github.com>
wrote:

--
Best Regards, Mariano

[2017-05-29 15:34] drlagos opened #475 "Exceptions thrown from c# iterators (yield) cannot be caught"
### Environment

-   Pythonnet version: 2.3.0
-   Python version: 2.7.10
-   Operating System: Windows 7

### Details

-   Describe what you were trying to get done.

Catch an exception thrown from a C# iterator (done with yield return) in a python script.

-   What commands did you run to trigger this issue? If you can provide a
    [Minimal, Complete, and Verifiable example](http://stackoverflow

[2017-05-30 02:18] EnjoyLeole opened #476 "Py.GIL System.BadImageFormatException: An attempt was made to load a program with an incorrect format"
### Environment

-   Pythonnet version: 2.3.0
-   Python version: 3.5.2
-   Operating System: win10 64bit
vs2017 community (15.2)
.net  framework 4.5.2

### Details

try to call python script from c#, following your introduction, in both x86 & x64 platform

using(Py.GIL()){}

Then got following error:

System.BadImageFormatException: 'An attempt was made to load a program with an incorrect format.

[2017-05-30 02:53] denfromufa commented on #476
How did you install pythonnet?

On Mon, May 29, 2017, 9:18 PM EnjoyLeole <notifications@github.com> wrote:

[2017-05-30 12:56] Paradoxeuh opened #477 "python setup.py install needs /p:TargetFrameworkVersion="v4.5""
Hi

### Environment

-   Pythonnet version: 2.3.0
-   Python version: 3.6
-   Operating System: Ubuntu 16.04 (VM Google Compute)

### Details

It has been impossible to install pythonnet with pip install pythonnet or python setup.py install without adding /p:TargetFrameworkVersion="v4.5" to the setup.py.
Without this line I have :

CSC: error CS0518: The predefined type `System.ValueType' is not d

[2017-05-30 13:08] denfromufa commented on #477
You likely have an old Mono version, search the issue tracker here for the same error.
If you install Mono 5.0 (released couple weeks ago), then you need to install from master branch.

[2017-05-30 13:13] denfromufa commented on #476
@EnjoyLeole you likely used nuget to install pythonnet and we found last week that VS does not switch architecture for Nuget installed package. You have to do it manually:

https://github.com/pythonnet/pythonnet/issues/472

[2017-05-30 13:15] Paradoxeuh commented on #477
My mono is 4.2.1. Is that considered too old? I read that pythonnet was not ready yet for Mono 5.0 (even in master). Is that true?

Thanks for your answer

[2017-05-30 13:21] denfromufa commented on #477
Master works with Mono 5.0:

https://github.com/pythonnet/pythonnet/pull/471

[2017-05-30 13:22] denfromufa commented on #477
Pythonnet 2.3.0 works with Mono 4.8.

[2017-05-30 13:23] Paradoxeuh commented on #477
Thank you very much for those explanations 👍

[2017-05-30 14:34] vmuriart commented on #477
Looks like we might need a minor or patch release soon-ish

[2017-05-30 14:41] denfromufa commented on #477
Agreed, maybe this weekend?

On Tue, May 30, 2017, 9:34 AM Victor Uriarte <notifications@github.com>
wrote:

[2017-05-30 18:30] keowang opened #478 "Two differnt exceptions on x64 and x86 in VS calling python script"
### Environment

-   Pythonnet version: 2.3.0 installed through nugget pythonnet_py35_dotnet
-   Python version: 3.5.3
-   Operating System: Win10

### Details
Running Embedding Python in .NET on x86 Py.GIL() triggers the following:
An unhandled exception of type 'System.DllNotFoundException' occurred in Python.Runtime.dll

Additional information: Unable to load DLL 'python35': The specified modul

[2017-05-30 19:21] keowang commented on #478
default key in InstallPath: C:\Users\XXXX\AppData\Local\Programs\Python\Python35\python.exe
default key in PythonPath: C:\Users\XXXX\AppData\Local\Programs\Python\Python35\DLLs\

[2017-05-30 20:18] denfromufa commented on #478
we found last week that VS does not switch architecture for Nuget installed package. You have to do it manually:

#472

[2017-05-30 21:49] keowang commented on #478
#472 I saw that one and it was not clear to me how to update manually would you please elaborate a bit more? Thanks!

[2017-05-30 21:58] denfromufa commented on #478
Go to nuget package location and select x86 or x64 folder and add this
reference manually to the project as assembly (not nuget package).

On Tue, May 30, 2017, 4:49 PM keowang <notifications@github.com> wrote:

[2017-05-30 22:08] keowang commented on #478
Here is what I did you can correct me whenever I am wrong:
1. save the Python.Runtime.dll from x64
2. uninstall the pythonnet nugget package completely from my application
3. add Python.Runtime.dll into my application by right-clicking reference and add reference
4. run example code again same error.
Where I got wrong? Thanks!

[2017-05-30 22:24] JimSEOW opened #479 "Interoperability between pythonnet and tensorflowSharp while porting tensorflow python code to .NET"
Tensorflowsharp community is currently working to[ port tensorflow python code to .NET](https://github.com/migueldeicaza/TensorFlowSharp/issues/77)

One of the example include a display of chart that is simple to do in python environment but still extra work to do in both TensorflowSharp in Xamarin Notebook or pythonnet in juypter (CSharp).

=> tensorflow code in juypter Python
![applicationframeh

[2017-05-30 22:26] keowang commented on #478
Also you are not answering my question why is it two different errors if it were for the architecture compatibility issue one of the two should be working shouldn't it?

[2017-05-30 22:27] denfromufa commented on #478
I just checked and it is working fine with 64-bit Python 3.5. You can only use x64 or x86 corresponding to Python architecture, so can you show full output of `python --version`?

[2017-05-30 22:31] keowang commented on #478
C:\Users\XXXX>python --version
Python 3.5.3

I installed the 64 bit python which did not work with either x64 or x86

[2017-05-30 22:33] keowang commented on #478
Specifically on x64 it's complaining

An unhandled exception of type 'System.DllNotFoundException' occurred in Python.Runtime.dll

Additional information: Unable to load DLL 'python35': The specified module could not be found. (Exception from HRESULT: 0x8007007E)

[2017-05-30 22:37] denfromufa commented on #478
Can you install with pip instead of nuget?

On Tue, May 30, 2017, 5:33 PM keowang <notifications@github.com> wrote:

[2017-05-30 22:39] keowang commented on #478
like this:
pip install git+https://github.com/pythonnet/pythonnet
?

[2017-05-30 22:47] filmor commented on #479
What exactly are you expecting to come out of this issue? The TensorFlowSharp repository is run by Miguel de Icaza who knows heaps more than we do about .NET (being the one who started Mono). He'll probably be aware of the possibility of using Python.NET as an intermediate solution for parts of TensorFlow.

[2017-05-30 22:47] #479 closed

[2017-05-30 22:59] denfromufa commented on #479
I would add that pythonnet can be used (and is used!) with tensorflow
without tensorflowsharp and the projects are totally unrelated.

On Tue, May 30, 2017, 5:47 PM Benedikt Reinartz <notifications@github.com>
wrote:

[2017-05-30 22:59] denfromufa commented on #478
pip install pythonnet

On Tue, May 30, 2017, 5:39 PM keowang <notifications@github.com> wrote:

[2017-05-30 23:03] keowang commented on #478
Hay, this thing is killing me I would appreciate if you bear with me.
1. pip install pythonnet-2.3.0-cp35-cp35m-win_amd64.whl
2. add Python.Runtime.dll from C:\Users\XXX\AppData\Local\Programs\Python\Python35\Lib\site-packages to my C# application
3. run example again. Exactly same error.

[2017-05-30 23:14] denfromufa commented on #478
Did you add your python to path?

%Python_home% is wrong environment variable, it should be without
underscore.

https://github.com/pythonnet/pythonnet/wiki/Troubleshooting-on-Windows-and-Linux

On Tue, May 30, 2017, 6:03 PM keowang <notifications@github.com> wrote:

[2017-05-30 23:31] keowang commented on #478
"Installed CPython is reachable by %PATH% or %PYTHONHOME% environment variables."

Maybe change the or to and since PYTHON_HOME is added to PATH? It worked, thanks very much!

[2017-05-30 23:35] JimSEOW commented on #479
Tensorflowsharp can run in mobile devices without phython installation.

[2017-05-31 00:11] denfromufa commented on #478
Pythonhome is needed for embedding python, while python in path is only when starting the Python interpreter.

[2017-05-31 00:11] #478 closed

[2017-05-31 00:19] keowang commented on #478
last question, would python3.6 work with pythonnet-2.3.0-cp35?

[2017-05-31 00:24] denfromufa commented on #478
You can install for python 3.6 with pip from PyPi:

https://pypi.python.org/pypi/pythonnet/2.3.0

Another thing about pythonhome is that it is only required for python
installation, that is not registered globally on the machine or when
multiple python versions are installed.

On Tue, May 30, 2017, 7:19 PM keowang <notifications@github.com> wrote:

[2017-05-31 00:39] keowang commented on #478
thanks!

[2017-05-31 02:42] denfromufa commented on #479
Tensorflow can run on mobile devices even without C# :)

Generally the model is build, trained and serialized into binary on desktop
and then can be deployed on mobile device. So I have no idea why you need
extensive C# API on mobile device.

Pythonnet should be helpful for using Tensorflow and Keras API not exposed
in tensorflowsharp.

On Tue, May 30, 2017, 6:35 PM JimSw2016 <notifications@github

[2017-05-31 03:02] denfromufa commented on #476
Feel free to report back if this is not nuget.

[2017-05-31 03:02] #476 closed

[2017-05-31 03:05] denfromufa commented on #468
Closing, since pythonnet cannot really do anything here

[2017-05-31 03:05] #468 closed

[2017-05-31 03:09] denfromufa commented on #458
I think @tonyroberts chose clang because this is recommended by pycparser and is very light dependency on all platforms.

[2017-05-31 11:52] sdurbridgebw opened #480 "Windows 10 Install Error"
### Environment

-   Pythonnet version: 2.3
-   Python version: 2.7.11
-   Operating System: Windows 10
-   Visual Studio version 2017 installed

### Details

-   Attempting to install pythonnet using powershell as administrator
-   Python install is not managed by Canopy, but Canopy Installed. Same error produced by using easy_install.exe

An error appears after update of nuget. This appears afte

[2017-05-31 12:41] denfromufa commented on #480
I'm not sure why you are building pythonnet from source?

Anyway here is a quick Google search on your error with multiple solutions:

https://www.google.com/search?q=Invalid+option+%276%27+for+%2Flangversion%3B+must+be+ISO-1%2C+ISO-2%2C+3%2C+4%2C+5+or+Default&oq=Invalid+option+%276%27+for+%2Flangversion%3B+must+be+ISO-1%2C+ISO-2%2C+3%2C+4%2C+5+or+Default&aqs=chrome..69i57.1253j0j4

[2017-05-31 13:19] JimSEOW commented on #479
@denfromufa I follow regularly the different challenges and need to bring more intuitive .NET binding for python in this forum.  The same challenges are faced also in tensorflowSharp. I created the issue here TO RECOGNIZE the hard and excellent work done here. Lots of good experience in overcoming the challenges posed by porting/binding python, building on years of experience from e.g. ironpython

[2017-05-31 13:25] testrunner123 opened #481 "Python.exe crashes if __pycache__ directories exist (garbage collection trashed)"
### Environment

-   Pythonnet version: 2.3.0
-   Python version: 3.5 64-bit
-   Operating System: Windows 7 Pro 64-bit SP1

### Details

-   Describe what you were trying to get done.

I am trying to import .NET assemblies and use them together. Unfortunately, python interpreter always crashes if .py files are already precompiled and lay inside __pycache__ directories. I tried breifly python 3.6

[2017-05-31 13:28] sdurbridgebw commented on #480
Hi,
Thanks for spending some time looking at my problem.

I am building from source because that is was the [installation guide ](https://pythonnet.github.io/) suggests to do. As I said in the issue I have also tried easy_install.exe, and the problem persists i.e. building from source is not the problem.

As I mentioned in the issue I have already 'googled' the problem, but I still don't understan

[2017-05-31 13:41] denfromufa commented on #480
Here are the installation options:

https://github.com/pythonnet/pythonnet/wiki/Installation

[2017-05-31 22:18] denfromufa commented on #481
did you try running python with -B flag?

[2017-06-01 01:01] denfromufa commented on #480
I cannot reproduce this issue with VS 2015, .NET 4.0 or .NET 4.6.1. Maybe this has something to do with VS 2017 or msbuild version.

[2017-06-01 07:43] testrunner123 commented on #481
I've tried this: in 4 of 5 attempts, python interpreter 3.5 64-bit crashes at the exit. No __pycache__ directores exist in this case.

[2017-06-01 08:43] sdurbridgebw commented on #480
Thank you again for trying to resolve this, your time is very much appreciated.
I have executed an install using Conda, and the package has appeared in the Conda terminal package list.
I will notify you when I manage to get some code running, to confirm if this has bypassed the issue.

[2017-06-01 10:09] vmuriart commented on #481
I haven't seen yoyr sample code, this isn't related to the sub classing bug right? I'm curious if pycache existed when the subclass tests failed

[2017-06-01 10:29] denfromufa commented on #481
You zip file does not include Axa.* .NET dependencies.

[2017-06-01 10:37] vmuriart commented on #480
I been using 2017 for a while now w no issues, granted I haven't build the repo since early April so maybe something broke w latest vs updates.

I'll try to reproduce this tomorrow on my machine. You can try editing the project files and removing the lang ver lines. I think it's in the first 20 lines of each csproj file.

[2017-06-01 11:18] testrunner123 commented on #481
@vmuriart
I do subclass in sample and I believe it is related. In real assembly I have subclassing and strange effects. If I remove subclassing then it works.

@denfromufa
I do not understand. Well, I am not .NET pro. I compile with run.bat in Visual Studio 2015 Upd3 Developer Prompt and see only:
C:\dev\job3>csc /target:library /debug:full class.cs
Microsoft (R) Visual C# Compiler version 1.3.1.6

[2017-06-01 11:31] testrunner123 commented on #481
@vmuriart
I tested and removing subclassing in sample code or just removing `__namespace__` in adapter.py fixes the issue. Do you have an idea what this bug is ? Or may be it is fixed already??

[2017-06-01 16:20] denfromufa commented on #481
I see that it is self-contained now - Aka namespace is in the same class.cs.

[2017-06-01 20:27] vmuriart commented on #480
Just tried building from latest master with no issues. Built using `python setup.py build_ext --inplace` and also `python setup.py bdist_wheel` with no issues.

[2017-06-02 07:16] testrunner123 commented on #481
I nailed bug in src\runtime\typemananger.cs in CreateSubType(): method Runtime.XIncref() is not called, but PyObject is created and added to disposeList. Correct code:
[code]

Now it doesn't crash anymore.

Would be not easy to make regression test out of it. I realized that no crash if this code is completely in one .py. It must be spread among several modules to provoke garbage collector crash.

[2017-06-02 23:29] vmuriart commented on #481
Nice! The subclass tests might catch this. Even though it's intermittent I run it multiple times each version to check for it.

[2017-06-03 16:33] yagweb commented on #442
I write a demo to show how to use matplotlib via pythonnet at [here](https://github.com/yagweb/pythonnetLab/blob/master/Test/TestMatplotlib.cs).

It used the pyscope function, and covered all the functions of PythonInterface.

@JimSEOW  You might be interested in this.

[2017-06-06 07:12] testrunner123 commented on #481
If it works in your tests then you can submit this patch to repo.

[2017-06-06 07:16] denfromufa commented on #481
@testrunner123 would you like to submit a pull request? otherwise someone can do this for you and attribute the commit to you `git commit --author="???"`

[2017-06-06 07:33] denfromufa commented on #480
closing for now, since the issue is not reproducible. @sdurbridgebw please send us more info to reproduce this, e.g. the version of msbuild. also you can ramp up the verbosity in setup.py and attach the log here.

[2017-06-06 07:33] #480 closed

[2017-06-06 08:08] denfromufa commented on #475
@drlagos thanks for detailed report. I edited your response for full example.

[2017-06-06 15:17] JimSEOW commented on #479
@denfromufa  It seems there are more users pushing[ .NET Deep learning as first class citizen](https://github.com/Microsoft/CNTK/issues/960#issuecomment-306508050) through CNTK

The pythonnet community will play an increasing role as we port more python deep learning codes to .NET

[2017-06-06 16:39] denfromufa commented on #445
closing due to inactivity, not reproducible

[2017-06-06 16:39] #445 closed

[2017-06-07 08:15] filmor commented on #481
Hmm, we had quite a few of those. Maybe we should replace the current `new PyObject` by more explicit constructors like `PyObject.FromPtrIncref`, `PyObject.BorrowFromPtr`? I don't really have good names, though.

[2017-06-07 19:50] denfromufa commented on #481
@filmor i agree about `PyObject.FromPtrIncref`, when would `PyObject.BorrowFromPtr` happen?

[2017-06-07 22:11] denfromufa commented on #465
ok, so I managed to compile and use OSX + Mono 5.0 + pythonnet (master) on Mac Sierra.

Some additional instructions:

`brew install pkg-config`
`brew install glib --universal`

This should be on the same line:
`USE_OSX_FRAMEWORKS=0 ARCHFLAGS="-arch x86_64" pip install git+https:\\github.com\pythonnet\pythonnet`

[2017-06-09 08:08] yagweb opened #484 "Convert python objects to CLR objects dynamically"
### Environment

-   Pythonnet version:
-   Python version: all
-   Operating System:

### Details

-   Convert python objects to CLR objects is a basic need when embedding python. It can be done with the 'AsManagedObject' method if the target CLR type is known in the compiling time, but now I need to it dynamically.

    For example, suppose a python function returns a list, in which a element ca

[2017-06-09 13:59] denfromufa commented on #484
@yagweb can you share full code example? I'm not sure I fully understand.

[2017-06-09 23:19] yagweb commented on #484
Suppose a Python function,
[code]

In C#, I want to call the function and convert the result to a CLR List\<object\>

[code]

The PyConverter looks like,

[code]

Here is the code how I use the PyConverter,
[code]

I want to find a better alternative for 'PythonEngine.Eval("int").Handle'. For example use the types in pythonnet, such as 'Runtime.PyIntType', but they are all internel.

and what abou

[2017-06-10 17:44] RogueAI42 opened #485 "PInvokeStackImbalance"
### Environment

-   Pythonnet version: pythonnet_py35_dotnet v2.3.0 (from NuGet)
-   Python version: Python 3.5.3
-   Operating System: Windows 7 x86_64

### Details

-   When I try to intialise the interpreter, I get this message:

[code]

The code I'm using is

[code]

and the exception occurs on the first line. pypath points to a directory containing the entire contents of the "Windows x86 emb

[2017-06-10 18:07] denfromufa commented on #485
Do you get the same issue with pythonnet built from the master? E.g. you
can install

´pip install git+https://github.com/pythonnet/pythonnet´

from full CPython installation.

On Sat, Jun 10, 2017, 12:44 PM Declan Hoare <notifications@github.com>
wrote:

[2017-06-11 16:35] RogueAI42 commented on #485
Having installed that I can use the clr module from within Python to interact with C# types perfectly, but I can't see how to embed that in my .NET application.

[2017-06-11 17:15] denfromufa commented on #485
Navigate to lib\site-packages in Python installation directory and
reference Python.Runtime.DLL in your .NET project.

https://github.com/pythonnet/pythonnet/wiki/Troubleshooting-on-Windows-and-Linux

On Sun, Jun 11, 2017, 11:36 AM Declan Hoare <notifications@github.com>
wrote:

[2017-06-11 17:55] RogueAI42 commented on #485
With this method, I get a different exception.

[code]

[2017-06-11 17:57] denfromufa commented on #485
This is listed in common errors in the troubleshooting wiki that I linked
above.

On Sun, Jun 11, 2017, 12:55 PM Declan Hoare <notifications@github.com>
wrote:

[2017-06-11 18:00] RogueAI42 commented on #485
But... it doesn't have any instructions on what to do about it.

[2017-06-11 18:02] RogueAI42 commented on #485
Oh, I'm blind. Sorry.

[2017-06-11 18:10] RogueAI42 commented on #485
Okay, the library is working perfectly for me now. Thanks for your help. I'm not sure whether to close the issue or not, because of the issue with the NuGet package.

[2017-06-12 11:47] Konstantin-Posudevskiy opened #486 "Invalid method binding with specified .NET parameters"
### Environment

-   Pythonnet version: 2.3.0.0
-   Python version: 3.5.3
-   Operating System: Windows 10.

### Details

-   Call to .NET method fails with passed arguments (Double.NegativeInfinity, Double.PositiveInfinity, Single.NegativeInfinity, Single.PositiveInfinity).
There is an example, how you can reproduce this bug.

C# code

[code]
Python code:

[code]

-   Traceback:

[code]

[2017-06-12 17:51] DfM7 opened #488 "“TypeError: Cannot get managed object” due to getting wrong type info from .NET structs"
### Environment

-   Pythonnet version: 2.3.0
-   Python version: Python 3.6.1 64-bit
-   Operating System: Windows 10 1703 64-bit

### Details

pythonnet fails to get the right type from the struct.

C# code:

[code]

Then compile it as class library named `PyNetFails` and run the following Python code:

[code]

It produces: `<class 'int'>`, although the type should be `System.UInt32`.
Then try t

[2017-06-13 07:50] testrunner123 opened #489 "Not possible to run embed_tests on Ubuntu"
### Environment

-   Pythonnet version: 2.3.0
-   Python version: ~~3.5~~ 3.4
-   Operating System: Ubuntu 14.04.04 64-bit
-   Mono 4.6

### Details

-   Describe what you were trying to get done.
I am trying to run embed_tests, but they do not run and I get 136 errors like:
18) SetUp Error : Python.EmbeddingTest.TestPyInt
System.EntryPointNotFoundException : Py_IsInitialized
  at (wrapper managed

[2017-06-13 13:47] denfromufa commented on #489
On Ubuntu are you using stock system Python 3.5 or you installed from somewhere else (e.g. Anaconda)?

If you are using custom Python can you check the output of ldd for libpython?

[2017-06-13 19:10] denfromufa commented on #486
related: https://github.com/pythonnet/pythonnet/issues/100

[2017-06-13 19:11] denfromufa commented on #100
@dhirschfeld this should now be resolved: https://github.com/pythonnet/pythonnet/pull/487

[2017-06-14 00:07] Jivko1212 opened #490 "import numpy fails"
pythonnet 2.4.0.0 (clone of master)
python 3.6.0 (anaconda)
Windows 10

I am trying the following code:

  using (var gil = Py.GIL()) {
                dynamic sys = Py.Import("sys");
                string s = sys.executable;
                dynamic np = Py.Import("numpy");
          }

The import of sys and the sys.executable works.

The import of numpy throws Python.Runtime.PythonException: {"M

[2017-06-14 02:10] denfromufa commented on #490
What happens if you import numpy using importlib on both sides?

On Tue, Jun 13, 2017, 7:07 PM Jivko1212 <notifications@github.com> wrote:

[2017-06-14 04:23] denfromufa commented on #490
Here is example how to do this:

https://github.com/pythonnet/pythonnet/issues/299#issuecomment-264789314

[2017-06-14 04:29] denfromufa commented on #485
This is similar issue as this one:

https://github.com/pythonnet/pythonnet/issues/448

We can close this issue once next release is available.

[2017-06-14 04:35] denfromufa commented on #484
This looks a little complicated API. Why not use `PyInt` and its equivalents for other types?

https://github.com/pythonnet/pythonnet/blob/master/src/runtime/pyint.cs

[2017-06-14 08:59] Jivko1212 commented on #490
It works with importlib

[2017-06-14 09:48] denfromufa commented on #490
This means most likely some issue with path detection, e.g. for MKL dependencies of numpy. Can you try to uninstall numpy with conda and install numpy wheels with pip from PYPI or from here:

http://www.lfd.uci.edu/~gohlke/pythonlibs/#numpy

[2017-06-14 11:12] testrunner123 commented on #489
Sorry a bit of mess: the output that I reported is on Ubuntu 64-bit with stock python 3.4 from Ubuntu.org.

Please:
ldd /usr/lib/x86_64-linux-gnu/libpython3.4m.so:

ldd /usr/bin/python3.4:

[2017-06-14 11:26] limdaepl opened #491 "Setting of nested struct doesn't change value"
### Environment

-   Pythonnet version: 2.3.0
-   Python version: 3.5.2
-   Operating System: Win7

### Details

C#:
[code]

Python:
[code]

Expected Output:
[code]

Actual Output:
[code]

The equivalent code in C# has the expected output:
[code]

[2017-06-14 12:12] denfromufa commented on #491
This is documented behavior of boxing and unboxing:

http://pythonnet.github.io

Use intermediate variables, don't use "nested" assignment.

[2017-06-14 14:15] klasma opened #492 "Error when exposing a python method to .Net in python 2."
### Environment

-   Pythonnet version: 2.3.0
-   Python version: 2.7.13
-   Operating System: Windows 10

### Details

We are trying to expose a python method in .Net, in a class that inherits from System.Object.

We are following the example code in clr.py in the pythonnet repository except that we are inheriting from System.Object and that we are using a namespace. When we run

[code]
we get th

[2017-06-14 14:18] #486 closed

[2017-06-14 14:27] klasma commented on #492
The definition of PyIterCheck in runtime.cs is

[code]

We have tried to implement PyIter_Check for python 2, similarly to the way it is done for python 3, but we have not gotten it to work. Here is what we tried

[code]

Maybe you can tell us what we are doing wrong.

[2017-06-14 14:50] rickardraysearch commented on #492
I got a bit further, and I believe that I have understood what is happening. ClassDerivedObject.AddPythonMethod calls PyObject.IsIterable() to find out whether it makes sense to call GetEnumerator on that pyobject. PyObject.IsIterable does a PyIter_Check to find out whether the PyObject implements the iterator interface. However, e.g. `list` is not an iterator, and PyObject.GetEnumerator does not

[2017-06-14 14:53] #100 closed

[2017-06-14 14:54] rickardraysearch commented on #492
As an side, the example works fine in python 3.6, but for entirely wrong reasons. In Python 3, Runtime.PyIter_Check checks that `tp_iternext != null`, instead of the intended `*tp_iternext != null`. Also, it never fetches the `_PyObject_NextNotImplemented` function pointer, because of a bug in `Python.Runtime.Runtime.Initialize()`, where `dllLocal` is never set.

[2017-06-14 14:57] denfromufa commented on #492
Here is comparison of macros from CPython C-API:

https://github.com/python/cpython/blob/2.7/Include/abstract.h#L637
[code]
https://github.com/python/cpython/blob/3.6/Include/abstract.h#L711
[code]

[2017-06-14 14:57] rickardraysearch commented on #492
Yes, and the only difference there is that in python 3.6, the `iter` and `iternext` fields are always present.

[2017-06-14 15:01] rickardraysearch commented on #492
Update: Calling IsIterable() in ClassDerivedObject.AddPythonMethod is probably correct - it's the implementation which returns wheter the object is an iterator, not an iterable...

[2017-06-14 15:14] rickardraysearch commented on #492
Perhaps it's easier to explain in code. I have a prospective commit at https://github.com/rickardraysearch/pythonnet/commit/7c28c8908c46213c18d9d4ee6a5520de33ae866c

[2017-06-14 15:16] rickardraysearch commented on #492
Perhaps it's easier to discuss in code. I put up a prospective fix at https://github.com/rickardraysearch/pythonnet/commit/5d052ca8632d0be9f837d2305edfe1bff757d3e2

[2017-06-14 15:27] denfromufa commented on #492
@rickardraysearch feel free to submit a pull request!

[2017-06-15 08:10] econoraptor opened #493 "EntryPointNotFoundException when importing clr with python3.5-dbg"
### Environment

-   Pythonnet version: 2.4.0.dev0
-   Python version: 3.5-dbg
-   Operating System: Ubuntu 17.04 Zesty

### Details
- Importing `clr` with python3.5-dbg results in:  `ImportError: System.EntryPointNotFoundException: PyModule_Create2`.

traceback:

[code]

[2017-06-15 09:34] klasma opened #495 "Constructor executed twice when overriding constructor in System.Object."
### Environment

-   Pythonnet version: 2.3.0
-   Python version: 2.7.13
-   Operating System: Windows 10

### Details

We are trying to create a subclass of System.Object (using namespace) and override the constructor.

For some reason, the conctructor is executed twice when an instance of the class is created. Below is an example that reproduces the problem.

[code]
The output is

[code]

[2017-06-15 12:59] rickardraysearch commented on #492
Hi @denfromufa , now there's a PR that passes all tests and might be possible to merge.

[2017-06-15 21:43] Konstantin-Posudevskiy commented on #488
@DfM7
## Firstly,
Lets discuss the next snippet:

[code]

It really produces `<class 'int'>`, as **it must be.** But not the `System.UInt32`.
As said from pythonnet `documentation:

You can read more information on [official pythonnet documentatition](https://pythonnet.github.io/). Take a look at paragraph **Type conversion**.

## Secondly,
Lets take into account the first notice (result of `a.V`

[2017-06-15 21:44] Konstantin-Posudevskiy commented on #488
@denfromufa I am convinced it is not a bug. It is a documented behaviour.

[2017-06-15 22:02] denfromufa commented on #488
@Konstantin-Posudevskiy yes, that's what I originally suggested to @DfM7. But I'm thinking that this is annoyance and unexpected behavior.

https://stackoverflow.com/questions/44491159

[2017-06-15 22:28] rickardraysearch commented on #495
Furthermore, if you add arguments to the constructor, the arguments are only passed the second time.

[code]
produces the output
[code]

It seems that the first invocation is from the call in `Python.Runtime.MetaType.tp_call` to `tp_new`, whereas the second is from the call to `py__init__` using `Runtime.PyObject_Call`.

Is the error that somehow the call to `tp_new` also calls `__init__`?

[2017-06-16 11:20] filmor commented on #488
IMHO, the first step doesn't qualify as a bug, like @Konstantin-Posudevskiy said, it's documented (and sensible) behaviour. Regarding the comparison, I think we could add special cases for the conversion operators that detect mapped Python types and convert them back to their .NET counterpart.

[2017-06-16 11:25] filmor commented on #495
Hmm, the comment says

        /// Metatype __call__ implementation. This is needed to ensure correct
        /// initialization (__init__ support), because the tp_call we inherit
        /// from PyType_Type won't call __init__ for metatypes it doesn't know.

Maybe this changed in Python? I'll have a look.

[2017-06-16 12:42] Konstantin-Posudevskiy commented on #488
Seems to be related with #94

[2017-06-16 14:53] DfM7 commented on #488
@Konstantin-Posudevskiy
Thank you for your clarification.

I had read all of the paragraphs in the official documentation before I've posted the question on SO.
I've just interpreted the "Type Conversion" paragraph in another way, as I got that, for example, `System.Int32` and and `int` are logically equivalent, but not `System.UInt32` and `int`.

[2017-06-17 03:12] denfromufa commented on #493
Debug build of CPython expects different entry point PyModule_Create2TraceRefs:

https://stackoverflow.com/a/39198661/2230844

https://github.com/python/cpython/blob/3.6/Include/modsupport.h#L146

[2017-06-17 03:34] denfromufa commented on #492
Thanks for finding this issue and fixing it!

[2017-06-17 03:34] #492 closed

[2017-06-17 23:40] denfromufa commented on #493
Depending on the use case, debug build of CPython can be configured to disable Py_TRACE_REFS macro, which causes this issue above:

http://pythonextensionpatterns.readthedocs.io/en/latest/debugging/debug_python.html#the-debug-builds

[2017-06-18 17:32] scj643 opened #498 "Entering the slack chat"
How can one get into the slack chat?

[2017-06-18 17:48] denfromufa commented on #498
Hi! Currently the slack chat is intended for developers of pythonnet and is only by invitation. Do you have any plans for contributing? If yes, please send me your email address to my nickname at gmail got com.

Otherwise please use SO, mailing list, and GitHub issues.

[2017-06-19 11:20] RomzMcGriess opened #499 "Memory leak when PythonEngine.Initialize/Shutdown is called in a loop"
### Environment

-   Pythonnet version: 2.3.0
-   Python version: 3.6.0
-   Operating System: Win7 x64

### Details

Hello all together,
i started to use pythonnet for my application. I discovered a memory leak. I reduced my code to this to identify the leak. It appears that Python.Shutdown() does not clear all references and memory. Here is a picture of my memory diagnostics. Do i miss something?

[2017-06-21 02:18] zengxiaojun0107 opened #502 "Mac / Centos6.9 / Ubuntu install pythonnet failed"
### Environment

-   Pythonnet version: python net-2.3.0
-   Python version: python2.7
-   Operating System: Mac / Centos6.9 / Ubuntu 16.04

### Details

-   Install pythonnet on Mac / Centos6.9 / Ubuntu16.04

-  error

[code]
- I have read the Issue #471 , modify Python.Runtime.csproj
[code]

[2017-06-21 04:00] denfromufa commented on #502
Please search the issue tracker for Mono 5.0 instructions. Basically you
need to install pythonnet from the master.

On Tue, Jun 20, 2017, 9:18 PM zengxiaojun0107 <notifications@github.com>
wrote:

[2017-06-21 07:43] #502 closed

[2017-06-21 07:49] denfromufa commented on #490
@Jivko1212 closing due to inactivity, feel free to report back based on my latest suggestion above.

[2017-06-21 07:49] #490 closed

[2017-06-21 21:26] dsyme commented on #112
It would make sense to track this with an F# language suggestion.  But the techniques you are using today make sense.

[2017-06-22 14:32] danlittlejohn opened #504 "Ubuntu 16.04 pip3 install failure"
### Environment

-   Pythonnet version: 2.3.0
-   Python version: 3.5.2
-   Operating System: Ubuntu 16.04

### Details

Trying to install and getting this failure, which I cannot seem to figure out.

user@bix# pip3 install pythonnet
Collecting pythonnet
  Using cached pythonnet-2.3.0.tar.gz
Building wheels for collected packages: pythonnet
  Running setup.py bdist_wheel for pythonnet ... error

[2017-06-22 16:13] denfromufa commented on #504
@danlittlejohn as you can see you are missing clang:

[code]

https://github.com/pythonnet/pythonnet/wiki/Troubleshooting-on-Windows-and-Linux#2-build-and-install-from-command-line

[2017-06-23 16:14] denfromufa commented on #491
closing due to documented behavior and no updates. thank you for trying pythonnet!

[2017-06-23 16:14] #491 closed

[2017-06-23 16:18] denfromufa commented on #488
originally reported here: https://stackoverflow.com/questions/44491159

[2017-06-25 00:38] denfromufa commented on #332
ok, all 3 major pythonnet debugging scenarios are working with Python 3.5 64-bit and VS 2017!

Here is a wiki article I'm working on:

https://github.com/pythonnet/pythonnet/wiki/Various-debugging-scenarios-of-embedded-CPython

[2017-06-25 04:51] denfromufa commented on #101
This is now working:

https://github.com/pythonnet/pythonnet/wiki/Various-debugging-scenarios-of-embedded-CPython

[2017-06-25 04:51] #101 closed

[2017-06-25 04:52] denfromufa commented on #328
here is full tutorial on how to debug pythonnet with PTVS in mixed-mode, remote (ptvsd), and attach:

https://github.com/pythonnet/pythonnet/wiki/Various-debugging-scenarios-of-embedded-CPython

[2017-06-25 04:54] denfromufa commented on #165
Apparently there is outstanding issue in nuget with not handling architectures, hence this has to be handled manually in the next release:

https://github.com/pythonnet/pythonnet/issues/472#issuecomment-304121261

[2017-06-27 00:25] danlittlejohn commented on #504
Thanks.  That was part of it, but even with it installed correctly I needed a newer mono-complete to get 2.3.0 working.

[code]

[2017-06-27 00:32] denfromufa commented on #504
@danlittlejohn yes, mono-complete 4.8+ is required.

[2017-07-01 02:25] denfromufa commented on #299
here is example how to call into tensorflow from C# using pythonnet: github.com/pythonnet/pythonnet/issues/473

[2017-07-05 06:06] denfromufa commented on #72
@filmor how would you add support for IDynamicMetaObjectProvider?

[2017-07-05 06:39] denfromufa commented on #72
This looks really powerful library:

https://github.com/ekonbenefits/dynamitey/wiki/UsageReallyLateBinding

[2017-07-05 17:39] laskeym commented on #241
Hello.  I'm trying to install pythonnet on Ubuntu 12.04 running Python 2.7.3.  I've followed the build from [https://travis-ci.org/pythonnet/pythonnet/jobs/148513880](url) and ran `sudo python setup.py build_ext --inplace` and the following was the output:

`sudo python setup.py build_ext --inplace`
running build_ext
Checking for updates from https://www.nuget.org/api/v2/.
Currently running NuGet.

[2017-07-05 17:42] laskeym commented on #241
Hello.  I'm trying to install pythonnet on Ubuntu 12.04 running Python 2.7.3.  I've followed the build from [https://travis-ci.org/pythonnet/pythonnet/jobs/148513880](url) and ran `sudo python setup.py build_ext --inplace` and the following was the output:

`sudo python setup.py build_ext --inplace`
running build_ext
Checking for updates from https://www.nuget.org/api/v2/.
Currently running NuGet.

[2017-07-05 17:52] laskeym opened #508 "Ubuntu 12.04 Python 2.7.3 pythonnet Installation Issue"
### Environment

-   Pythonnet version: 2.3.0
-   Python version: 2.7.3
-   Operating System: Ubuntu 12.04

### Details

-   Installing pythonnet on Ubuntu 12.04.
-   Followed [https://travis-ci.org/pythonnet/pythonnet/jobs/148513880](url) build.

### Error

`sudo python setup.py build_ext --inplace
running build_ext
Checking for updates from https://www.nuget.org/api/v2/.
Currently running NuGet.

[2017-07-05 17:54] denfromufa commented on #241
@laskeym  I don't see any errors, did the build fail? Also see this section in wiki:

https://github.com/pythonnet/pythonnet/wiki/Troubleshooting-on-Windows-and-Linux#2-build-and-install-from-command-line

[2017-07-05 18:05] denfromufa commented on #508
Where do you see the error? I only see warnings.

On Wed, Jul 5, 2017, 12:52 PM laskeym <notifications@github.com> wrote:

[2017-07-05 18:12] laskeym commented on #508
I'd say yes seeing as my `pip freeze` command does not output pythonnet.  I saw your reply in the other thread(sorry for the double post), I'm going to take a look at that wiki and see if it helps any.

[2017-07-05 18:27] laskeym commented on #508
I also tried running it this way:

`pip install pythonnet -U`

Collecting pythonnet
  Using cached pythonnet-2.3.0.tar.gz
Building wheels for collected packages: pythonnet
  Running setup.py bdist_wheel for pythonnet ... error
  Complete output from command /home/dclark/.virtualenvs/BPM/bin/python -u -c "import setuptools, tokenize;__file__='/tmp/pip-build-E2ihW1/pythonnet/setup.py';f=getattr(toke

[2017-07-05 18:43] denfromufa commented on #508
Have you tried this:

`sudo pip install git+https://github.com/pythonnet/pythonnet -U --force`

?

[2017-07-05 19:10] laskeym commented on #508
`sudo pip install git+https://github.com/pythonnet/pythonnet -U --force`
Usage: /usr/bin/pip install [OPTIONS] PACKAGE_NAMES...

/usr/bin/pip install: error: no such option: --force

So I tried it without sudo:
`pip install git+https://github.com/pythonnet/pythonnet -U --force`

Collecting git+https://github.com/pythonnet/pythonnet
  Cloning https://github.com/pythonnet/pythonnet to /tmp/pip-hQdXe

[2017-07-05 19:25] denfromufa commented on #508
ok, what do `pip --version` and `sudo pip --version` show? Can you update both (if there are 2) since you probably have ancient pip? `pip install -U pip` and `sudo pip install -U pip`. Also you may be able to install without sudo, but need to use `--user` option to pip, otherwise you don't have the permissions for installation.

instead of `--force` you can also try `--force-reinstall`.

[2017-07-05 20:14] laskeym commented on #508
Didn't know sudo had it's own pip version.  When running `sudo pip install git+https://github.com/pythonnet/pythonnet -U --force` it successfully installs pythonnet and I do see it in `sudo pip freeze`.  So it sounds like when I run my python script, I should be using sudo.

I also tried `pip install git+https://github.com/pythonnet/pythonnet -U --force --user` and the output was:
Can not perform

[2017-07-05 20:27] denfromufa commented on #508
ok, we probably need to document how to use pythonnet with virtualenv on linux @vmuriart @dmitriyse

@laskeym so at least the sudo version is working?

[2017-07-05 21:06] laskeym commented on #508
Yes, the sudo version is working.  Thanks for all your help, I've been banging my head for the past week to get this up and running on our Linux box.

[2017-07-05 21:11] denfromufa commented on #498
public gitter channel added https://gitter.im/pythonnet/pythonnet

[2017-07-05 21:11] #498 closed

[2017-07-05 21:11] denfromufa commented on #383
public gitter channel added https://gitter.im/pythonnet/pythonnet

[2017-07-05 23:08] QuantApp commented on #458
Any ideas on the following?

I forked the python net project and changed the clang flag for gcc.
I wish to run this Azure Notebooks

!pip install git+https://github.com/quantapp/pythonnet

Python 3.6.0 |Anaconda custom (64-bit)| (default, Dec 23 2016, 12:22:00)
[GCC 4.4.7 20120313 (Red Hat 4.4.7-1)] on linux
Type "help", "copyright", "credits" or "license" for more information.

Error: No managed

[2017-07-06 00:46] denfromufa commented on #458
What Mono version are you using? Try upgrading to Mono 5.0 and install
pythonnet from master.

On Wed, Jul 5, 2017, 6:08 PM QuantApp <notifications@github.com> wrote:

[2017-07-06 06:06] filmor commented on #499
Can you check this against `master`?

[2017-07-06 06:35] QuantApp commented on #458
Problem is that I am running from Azure Notebook so can't update mono...

[2017-07-10 08:11] testrunner123 commented on #489
So what happens is pretty simple. There are 2 usecases:
1. Python -> myscript.py -> Python.Runtime.dll -> call Python/C API functions
2. .NET assembly -> Python.Runtime.dll ->call Python/C API functions

In runtime.cs using "DllImport" all Python/C API functions are hardwired to "__Internal" library that is in "Mono" main application. This works in (1), but not in (2).

[2017-07-10 10:09] testrunner123 commented on #489
I added code to load /usr/lib/x86_64-linux-gnu/libpython3.4m.so in Runtime.Initialize(). But now I get another error:

[code]

[2017-07-10 17:33] iantDev commented on #475
- Python 3.6.1
- Pythonnet 2.3
- Windows 7

Similar issue with SqlDataReader:
`   dbComm = SqlCommand(query, Conn)
    Conn.Open()
    sqlReader = dbComm.ExecuteReader()
    sqlReader.Read()
    sqlReader.Close()
    `
I have tried the following as subsequent code before closing the reader:
`
while sqlReader.Read():
   pass
`
but same error.

Error message:
`
Unhandled Exception: System.InvalidOpe

[2017-07-10 21:16] willdrob commented on #467
@denfromufa @rionmonster I'm attempting to do the same thing. I installed pythonnet_py27_dotnet & python2 via nuget and then I'm setting `PythonEngine.PythonHome` to the location of the python2 folder. `Python.Runtime` is giving me an error: "Unable to load DLL 'python27': The specified module could not be found." even though the DLL is in the PythonHome folder.

If I drop the DLL in the appropria

[2017-07-10 23:06] denfromufa commented on #467
@willdrob you may need to append this python path to `%path%` env. var. too.

Also there is outstanding issue with explicitly picking the 64-bit binary if you have Python 64-bit:

https://github.com/pythonnet/pythonnet/issues/472#issuecomment-304121261

[2017-07-11 07:43] filmor commented on #463
This looks solved, feel free to reopen if that isn't the case.

[2017-07-11 07:43] #463 closed

[2017-07-11 07:46] filmor commented on #452
This looks done, please open a new issue if you have any more problems.

[2017-07-11 07:46] #452 closed

[2017-07-11 07:49] filmor commented on #481
I didn't think much about the names, I'll try to get a PR up with a proposal for explicit constructors.

[2017-07-11 08:05] #477 closed

[2017-07-11 08:07] filmor opened #509 "Release 2.4.0"
I think it's time for a new release, are there any particular bugs that we have to look into before?

[2017-07-11 08:07] filmor commented on #495
Fixed by #503.

[2017-07-11 08:07] #495 closed

[2017-07-11 08:09] filmor commented on #474
Since `RunSimpleString` is obsolete now and `PyScope` provides a much nicer interface, I'll close this.

[2017-07-11 08:09] #474 closed

[2017-07-11 08:09] filmor commented on #439
@christopherpow Did you manage to build a minimal example?

[2017-07-11 08:17] filmor commented on #235
I still don't understand why implicit loading is deprecated.

[2017-07-11 08:18] filmor commented on #285
Can you give an example? Do you think this is actually feasible for the next release? If not, please remove the milestone.

[2017-07-11 10:06] testrunner123 commented on #489
Solution that I have found so far for Ubuntu users (I have 14.04 64-bit) is to preload libpython by starting tests with bash command:

Using this command execution of "src\embed_tests" succeed without errors.

Note that libpython is inside _/usr/lib/x86_64-linux-gnu/_ that is not a part of standard ldd search path. Further sysconfig or distutils in Python itself report wrong library path ("LIBDIR"

[2017-07-11 10:06] #489 closed

[2017-07-11 13:50] willdrob commented on #467
@denfromufa you are correct, I needed to append the python path to %path%.
`var path = $"{Environment.GetEnvironmentVariable("Path", EnvironmentVariableTarget.Machine)};{pythonPath}";`
`Environment.SetEnvironmentVariable("Path", path, EnvironmentVariableTarget.Process);`
It's working now, thanks for the help!

[2017-07-13 22:20] denfromufa commented on #509
https://github.com/pythonnet/pythonnet/issues?q=is%3Aopen+is%3Aissue+milestone%3A2.4.0

[2017-07-14 01:28] keowang opened #511 "can not make calls to Python on a separate thread"
The following (copies from Example) worked fine
    using (Py.GIL())
    {
          dynamic test = Py.Import("programs.test_program");
          Console.WriteLine(test.func(args));
    }

However, the below ends up hanging forever even though it's the same one line program as above. Without the ability to run on a separate thread how can I kill an execution if it takes too long. We deal with mass

[2017-07-14 02:38] denfromufa commented on #511
what happens if thread is launched outside of Py.GIL() block?

[2017-07-14 03:02] keowang commented on #511
This is what happens:

An unhandled exception of type 'System.AccessViolationException' occurred in Python.Runtime.dll

Additional information: Attempted to read or write protected memory. This is often an indication that other memory is corrupt.

[2017-07-14 03:16] keowang commented on #511
Try to do something inside the python script by following https://stackoverflow.com/questions/492519/timeout-on-a-function-call. It's running fine in python but once again pythonnet hangs forever. I wonder what is the solution.

    import sys
    import threading
    import _thread as thread

    def quit_function(fn_name):
        print('{0} took too long'.format(fn_name), file=sys.stderr)

[2017-07-14 03:46] keowang commented on #511
Hi can I get an update, It's a blocker on our end. I would appreciate if you can advice. Thanks a lot!

[2017-07-14 04:12] denfromufa commented on #511
The reason why interrupt does not work in pythonnet is due to this issue and corresponding WIP pull request:

https://github.com/pythonnet/pythonnet/issues/449
https://github.com/pythonnet/pythonnet/pull/450

[2017-07-14 04:14] denfromufa commented on #511
The code in pull request is actually OK, but the tests for it are not good.

[2017-07-14 04:26] keowang commented on #511
so what's the fix?

[2017-07-14 04:53] denfromufa commented on #511
The fix is in the pull request, just look at the diff:

https://github.com/pythonnet/pythonnet/pull/450/files

In short pythonnet should call Py_InitializeEx() instead of  Py_Initialize().

[2017-07-14 09:13] denfromufa commented on #374
Here is how to generate skeletons for Python.NET:

https://github.com/JetBrains/intellij-community/blob/dfc22bddce34c09fccdc9b616053b7996c1bd331/python/helpers/generator3.py

[2017-07-14 15:39] keowang commented on #511
Thanks for the pointers. Does this mean I have to get the source (after the fix) and then build it myself is there a binary I can just directly embed in my .Net application.

[2017-07-14 15:48] keowang commented on #511
Or if this is easier. Would you mind advising me how to create a infinity loop detection when I am calling python code.

[2017-07-14 21:13] hanschoi86 opened #512 "Installation Error"
### Environment

-   Pythonnet version: Latest
-   Python version: 2.7
-   Operating System: Windows 10

### Details

-  I'm trying to install pythonnet. Due to company's security policy, I cannot use pip install, so I download the zip file from Github first and use "python -m pip install setupdir/" to install it. When I do that, I get these errors.

Processing c:\users\downloads\pythonnet-master\

[2017-07-14 22:11] denfromufa commented on #512
@hanschoi86 can't you download the wheels from PYPI and install using pip:

https://pypi.python.org/packages/4f/28/e5bed7fe232d46c62bc64027071bc9f525ef1fd30dcd6fa1031891079b1b/pythonnet-2.3.0-cp27-cp27m-win32.whl#md5=87b71edbd171166aca1427e4e51a70f7

https://pypi.python.org/packages/c1/b8/75db859015c25cbf843b9e43a6a4802684e18df0c8ef925f3aa0065d1173/pythonnet-2.3.0-cp27-cp27m-win_amd64.whl#md5=6333

[2017-07-15 20:00] denfromufa commented on #511
@keowang I tried with master branch and I don't any issue:

[code]

[2017-07-15 20:01] denfromufa commented on #511
@rmadsen-ks do you see any issue?

[2017-07-15 21:34] keowang commented on #511
This is my code running the python script above and it hangs every time.
            using (Py.GIL())
            {
                  dynamic testModule = Py.Import("programs.test_program");
                  output = testModule.testWrapper();
            }

Pythonnet installed using following wheel:
pythonnet-2.3.0-cp36-cp36m-win_amd64.whl

Python:3.6 64-bit

Would you please let me know if you c

[2017-07-16 05:43] denfromufa commented on #511
@keowang ok, i did some testing with pythonnet 2.3.0, but I still don't see your exact issue here. Show me the problem again. Here is my testing:

[code]

[code]

Then if I call from python:

[code]

If I call from C# compiled app:

[code]

[2017-07-16 18:27] keowang commented on #511
@denfromufa I appreciate your response. The issues is you are running the binary and surprisingly it worked. However, in Visual Studio debug mode `intr.testWrapper()` will hang every time. There is no way we can get around this by skipping the debug mode and directly monitoring the program behavior via logs which is hugely inconvenient. Would you mind looking into that see if there is some solutio

[2017-07-16 19:09] denfromufa commented on #511
By debug mode do you mean debug build of the binary and pythonnet or
debugging (stepping) through this code in VS?

On Sun, Jul 16, 2017, 1:27 PM keowang <notifications@github.com> wrote:

[2017-07-16 19:15] keowang commented on #511
stepping through the code in VS

[2017-07-16 19:37] denfromufa commented on #511
Do you debug with attach mode or start the debugger with F5? Is the debugger engine only "Managed"?

[2017-07-16 19:41] denfromufa commented on #511
Also what Exception Settings in VS have you enabled for debugging session?

On Sun, Jul 16, 2017, 2:15 PM keowang <notifications@github.com> wrote:

[2017-07-16 20:16] keowang commented on #511
I hit F5 and it's a managed only. The exception setting is by default you want to list them all? I am not sure how to answer your question

[2017-07-18 13:34] picibucor opened #513 "Release opened dll"
### Environment

-   Pythonnet version:  2.3
-   Python version:  3.4
-   Operating System:  win7 / win10

### Details
I would like to release loaded .dll files.
Like the     clr.ClearProfilerData()    which releases all the dll-s in an IronPython environment.

[2017-07-18 20:01] denfromufa commented on #513
@picibucor multiple workarounds available: load into separate appdomain or load assembly using reflection.

[2017-07-19 02:36] keowang commented on #511
@denfromufa  Hello, can I get an update?

[2017-07-19 02:44] denfromufa commented on #511
can you show your exceptions settings:

https://docs.microsoft.com/en-us/visualstudio/debugger/managing-exceptions-with-the-debugger

[2017-07-19 02:55] denfromufa commented on #511
i can debug in vs 2017 with no problems:

![image](https://user-images.githubusercontent.com/7870949/28348674-db7fd77e-6c03-11e7-98a9-08f897b45af8.png)

[2017-07-19 02:56] keowang commented on #511
![c](https://user-images.githubusercontent.com/27976559/28348698-339c19a6-6bf3-11e7-9906-6871525c6de9.png)
![clr](https://user-images.githubusercontent.com/27976559/28348699-339c40c0-6bf3-11e7-868d-60cc6b0e9783.png)
![javascript](https://user-images.githubusercontent.com/27976559/28348701-339cb096-6bf3-11e7-8eb5-92f60f2265e7.png)
![mda](https://user-images.githubusercontent.com/27976559/28348702-3

[2017-07-19 02:56] keowang commented on #511
That's all

[2017-07-19 02:58] keowang commented on #511
![scre](https://user-images.githubusercontent.com/27976559/28348748-799573bc-6bf3-11e7-95eb-80058a4d4e4f.png)

[2017-07-19 02:58] keowang commented on #511
This is how it hangs

[2017-07-19 03:00] keowang commented on #511
Can I please ask what's your exception setting? Thanks!

[2017-07-19 03:06] denfromufa commented on #511
you can see my exception settings in my screenshot

[2017-07-19 03:07] keowang commented on #511
yes I tried and it's the same thing

[2017-07-19 03:10] denfromufa commented on #511
did you try break all: ctrl+alt+break

[2017-07-19 03:13] keowang commented on #511
press the key manually?

[2017-07-19 03:14] denfromufa commented on #511
no, break in the debugger

[2017-07-19 03:15] keowang commented on #511
how do I do that?

[2017-07-19 03:16] denfromufa commented on #511
debug -> break all

[2017-07-19 03:19] keowang commented on #511
![break](https://user-images.githubusercontent.com/27976559/28349229-579971b6-6bf6-11e7-90f6-d71a329eb2ff.png)

[2017-07-19 03:19] keowang commented on #511
I do not see it here

[2017-07-19 03:23] keowang commented on #511
Hey I fixed it by enabling the native code which makes the debugging very slow. Can I do it without the native code?

[2017-07-19 03:40] denfromufa commented on #511
"break all" has to be triggered during debugging. i do not have native code debugger enabled. please contact vs team as msft about debugger issues.

[2017-07-19 03:40] #511 closed

[2017-07-20 00:03] BenjaminPelletier opened #514 "Implicit List conversion breaks backwards compatibility + numpy support"
### Environment

Computer 1:
-   Pythonnet version: 2.3, installed via pip I think
-   Python version: 2.7.12
-   Operating System: Ubuntu 16.04.2

Computer 2:
-   Pythonnet version: manual build on master from commit ce14424 (currently 11 commits behind)
-   Python version: 2.7.12
-   Operating System: Ubuntu 16.04.2

### Details

Description: Python calls .NET function which returns a List<MyTyp

[2017-07-20 00:54] denfromufa commented on #514
Is this the issue your are experiencing?

https://github.com/pythonnet/pythonnet/issues/451

[2017-07-20 17:50] BenjaminPelletier commented on #514
As far as I can tell, this isn't like #451 because the error in #451 occurs in .NET.  The error in this issue occurs in Python.  But, the same underlying problem may be causing both issues.  Given the .NET code above, here is a different demonstration of the poor behavior:

[code]

That assertion used to (Computer 1, version 2.3) succeed.  Now (Computer 2, ce14424+ on master) it fails.

From #451,

[2017-07-20 18:48] denfromufa commented on #514
@BenjaminPelletier I agree that converting the CLR `List` by default is unexpected behavior and should be considered a regression. What do you think @vmuriart ?

At the same time we need to get this sample with numpy arrays working seamlessly:

https://github.com/pythonnet/pythonnet#example

This is why the conversion was introduced.

[2017-07-20 18:48] denfromufa commented on #451
related issue:

https://github.com/pythonnet/pythonnet/issues/514

[2017-07-20 18:58] BenjaminPelletier commented on #514
Calling Python from .NET is outside my use case so I'm not familiar with the logistics doing so.  But "just like I'd expect" would be for pythonnet to expose explicit .NET types that map to Python types for the user to instantiate (in .NET) by some means before calling Python with them.  These types would probably have helper functions for converting/wrapping from common corresponding .NET types.

[2017-07-20 19:34] denfromufa commented on #514
@BenjaminPelletier if you would like to submit a helper function for numpy arrays, then pull requests are welcome! Here is another example of passing numpy arrays:

https://stackoverflow.com/questions/43910749/efficiently-convert-system-single-to-numpy-array

[2017-07-20 20:00] wdrobinson opened #515 "Crashing IIS"
### Environment

-   Pythonnet 2.3.0:
-   Python 2.7:
-   Operating System : Windows 10

### Details

-   I'm running pythonnet in a c# web service. It's occasionally (and randomly as far as I can tell) crashing IIS when I'm attempting to import a module but I can't find a reliable way to recreate the error. The only way I have of replicating the IIS crash is to set PythonEngine.PythonHome to a lo

[2017-07-20 22:11] denfromufa commented on #515
Can you provide full reproducible example?

[2017-07-21 06:03] denfromufa commented on #436
apparently pythonnet also fails to import members from .NET namespaces that contain digits.

[2017-07-21 07:40] denfromufa commented on #276
@jcarole I tried extracting your zip file and got an error about bad format.

[2017-07-21 07:41] denfromufa commented on #276
@cadourian have you resolved your issue?

[2017-07-21 13:22] willdrob commented on #515
I created a Web API project and added pythonnet. I included python 2.7 in my project so I could easily deploy to new machines without needing to install python on each. Here's some simple code for initializing python. I included this in a GET so I could easily test it:

`var path = $"{Environment.GetEnvironmentVariable("Path", EnvironmentVariableTarget.Machine)};{HostingEnvironment.ApplicationPhys

[2017-07-21 20:36] denfromufa commented on #512
closed, no feedback

[2017-07-21 20:36] #512 closed

[2017-07-25 00:17] yagweb commented on #514
@denfromufa I also has a numpy array converter here
https://github.com/yagweb/pythonnetLab/blob/master/pynetLab/Numpy.cs

With this converter, the example  https://github.com/pythonnet/pythonnet#example can be replaced with this one,
https://github.com/yagweb/pythonnetLab/blob/master/Test/TestMatplotlib.cs
This one may be a better an example, because,

1. .NET users can create a numpy array with a

[2017-07-25 02:20] yagweb commented on #484
@denfromufa  The example below shows that the element we get from a List (or Dict, Class attributes etc.) is wrapped in a PyObject class. (Or am I wrong?) So, PyInt etc. work only when we know the data type of the python object in advance, then we can call it in our code.

[code]

The problem here is we don't know the data type  until runtime, or we want to have a single general converter to conve

[2017-07-25 05:37] Kamforka opened #516 "Importing nested namespaces from proprietary dll throws error"
### Environment

-   Pythonnet version: 2.3.0
-   Python version: 3.6.0 (64bit)
-   Operating System: Win10

### Details

I added a dll using pythonnet to my Python script like this:

[code]
It works just fine, I can call methods or instantiate classes right from the `Supplier.Bundle` namespace, but when I want to call a method from a nested namespace like `Supplier.Bundle.Features` I got the erro

[2017-07-25 05:54] denfromufa commented on #516
I see your question on SO:

https://stackoverflow.com/q/45277129/2230844

This works for me totally fine, so minimal reproducible example is necessary @Kamforka

Also `.dll` is not needed at the end of assembly reference.

[2017-07-25 06:06] Kamforka commented on #516
What do you mean by a minimal reproducible example?
Do you need the proprietary dll? (I'm not sure whether I can distribute it or not though.)

By the way if a trim off the .dll extension when I want to add it as reference I get the following:

[code]

[2017-07-25 14:00] denfromufa commented on #516
I usually append the directory of the dll that I want to reference to
sys.path and then I can just do clr.AddReference(assembly_name). But your
method of loading assemblies also looks valid.

For reproducible example what I meant is that you can just extract the
skeleton of the existing namespaces without actually putting the custom
logic in those classes and methods and that way we can test it ou

[2017-07-26 05:29] Kamforka commented on #516
Then I'm going to give a shot to ILSpy.
Actually I should create an empty skeleton from the dll and then try importing it the same way as before?
Can you give me more instructions, or if it's an option for you I can send you the dlls by mail, so you can also take a look at the issue.

[2017-07-26 05:41] denfromufa commented on #516
yes, try importing the empty skeletons of your classes/methods/namespaces. my email is my github nickname at gmail dot com if you can send the original assembly.

[2017-07-26 06:00] Kamforka commented on #516
Okay I sent you the dlls. And again thank you very much for your help!

[2017-07-26 07:48] Kamforka commented on #516
Issue is solved, as the dll needed other dependencies, after they were copied to the project directory the import was working without any problems!

[2017-07-26 08:26] filmor commented on #516
Yeah, I've seen this before. It's exactly what #261 is about.

[2017-07-26 08:26] #516 closed

[2017-07-26 14:50] denfromufa commented on #516
@filmor the problem here is even more severe, than just silently failing on import. From C# the Namespace1.Namespace2.Namespace3 can be  imported without referencing those additional assemblies (checked in scriptcs), but not from pythonnet. pythonnet requires all references even if they are not used during import. some more testing and debugging is necessary here.

[2017-07-26 19:40] Kamforka commented on #516
@denfromufa it's true. Additionally some meaningful error messages would be also useful in such cases.

[2017-07-27 08:42] Kamforka opened #517 "Calling generic method in Python returns incorrect value"
### Environment

-   Pythonnet version: 2.3.0
-   Python version: 3.6.0
-   Operating System: Win10

### Details

I'm trying to call a generic method from Python. So far it seems it's executing but the result is not the same when calling it from C#.

So the actual method looks like:
[code]

The method call in C# is:
[code]
And as expected it returns an object of type `SoftwareContainer`.

Calling

[2017-07-27 13:35] filmor commented on #517
And you are sure that this doesn't return a `(SoftwareContainer)null`?

[2017-07-27 14:35] denfromufa commented on #517
also can you show the results of `deviceItem.GetService.Overloads`?

[2017-07-28 05:19] Kamforka commented on #517
@filmor when printing the returned value as `Console.WriteLine(softwareContainer);` I get `Engineering.HW.Features.SoftwareContainer` which is valid, and I also have an if statement which checks the content of the `softwareContainer` like `if (softwareContainer != null)...` and the instructions within the if branch are being executed.

[2017-07-28 05:28] Kamforka commented on #517
@denfromufa well, in .NET I cannot access `deviceItem.GetService.Overloads` as I get the following error message: `'deviceItem.GetService<T>()' is a method which is not valid in the given context`.

At the same time in Python `device_item.GetService.Overloads` gives `T GetService[T]()`.

[2017-07-31 05:17] denfromufa commented on #517
@Kamforka I have all of your dlls, but your example is not reproducible, because you did not show how device_item was constructed. Please provide complete reproducible example.

[code]

[2017-07-31 06:57] Kamforka commented on #517
@denfromufa I guess you don't have TIA Portal v14 SP1 from Siemens, do you?

If you need a complete reproducible example I gather the files for you and send it via email, because it will be an exhaustive collection.
Other than that you still need a TIA Portal copy to make it work as the API is used to communicate with the engineering portal.

[2017-08-01 06:08] denfromufa commented on #515
@willdrob can you share your minimal app? I don't want to spend time configuring IIS.

[2017-08-01 15:48] willdrob commented on #515
Here's the [app](https://github.com/willdrob/PythonNetTestApp)

I realized it's not just an IIS issue so I created a simple console app to illustrate it. I have 64-bit python installed on my system and the above app is using the 64-bit binary and runs fine unless you remove the comment that sets `PythonEngine.PythonHome` to a directory that doesn't exist. If you do the app exits with code 1 and no

[2017-08-01 16:32] denfromufa commented on #515
@willdrob so what do you expect instead of these errors from pythonnet?

[2017-08-01 16:48] willdrob commented on #515
I would expect an error from pythonnet that can be captured and handled instead of the application crashing.

[2017-08-03 05:22] Kamforka commented on #517
Did you manage to take a look at this issue?

[2017-08-04 04:37] denfromufa commented on #517
@Kamforka there is too much setup for your example, can you isolate the problem?

[2017-08-04 07:46] testrunner123 opened #520 "Not possible to develop scripts using pythonnet __namespace__ attribute in Spyder 3"
### Environment

-   Pythonnet version: 2.3.0
-   Python version: 3.5.3 32-bit/64/bit
-   Operating System: Windows 7 Pro SP1 32-bit/64-bit

### Details

-   Describe what you were trying to get done.

I want to develop python class using .NET base class in Spyder 3. I can only once use "Run" in Spyder. On next attemp TypeError comes.

Python interpreter is started once by Spyder and runs continuo

[2017-08-04 08:45] Kamforka commented on #517
@denfromufa unfortunately the setup is necessary to reproduce the problem.
But with the provided dlls you can peak into and take a look at the `GetService` implementation.
Also I can show you what's going on via remote desktop if it's feasible from your side, I guess that's the best option.

[2017-08-04 16:25] denfromufa commented on #517
In that case please install latest ptvsd from PYPI and follow the instructions for remote debugging in this tutorial, then send me the keys to my email for remote attach:

https://github.com/pythonnet/pythonnet/wiki/Various-debugging-scenarios-of-embedded-CPython

[2017-08-05 20:19] denfromufa commented on #514
@yagweb do you suggest that we should revert back the auto-conversion due to this regression and use your numpy converter?

[2017-08-07 08:55] testrunner123 commented on #520
Following sample works in Python:
[code]
But similar sample with pythonnet class brings error "TypeError: Duplicate type name within an assembly.":
[code]

I found that problem is much deeper: Python class name resolution is implemented incorrect in pythonnet. Python is dynamic weak typed language, but pythonnet implementation doesn't support this.

The implementation can be corrected by creating

[2017-08-07 13:04] denfromufa commented on #520
To be fair to Python - it is NOT weakly typed, but strongly typed dynamic language. With Python 3 this is getting even better. Your use case seems valid, pull requests are welcome!

[2017-08-08 06:09] Kamforka commented on #517
@denfromufa I installed `ptvsd` and also imported it, then called its `enable_attach` method with a secret key. I have my python application running in a virtual machine and also my computer is behind a proxy. So what else is needed to be able to establish remote connection with you?

[2017-08-08 14:28] denfromufa commented on #517
@Kamforka you need very long timeout like 1-2 days, and also test it out from another machine yourself. I'm not sure if proxy matters, check with PTVS team if it does not work.

[2017-08-09 04:36] shahwill opened #521 "Setup.py fails with /langversion error"
### Environment

-   Pythonnet version: 2.3
-   Python version: 3.5.0
-   Operating System: Windows 10

### Details

-  I'm trying to install pythonnet on my local machine that has the following packages installed: Python 3.5, pip 9.0.1, setuptools 36.2.7, jsonschema 2.6.0, pytest 3.2.0, and wheel 0.29.0.
- I've tried installing via Nuget, Pip, and from the source code, all with no luck

### Nuget

[2017-08-09 05:24] Kamforka commented on #517
@denfromufa what do you mean by timeout? Is it related to `ptvsd` or only a `time.sleep` at the beginning of the script to spare some time until you attach to the process?

[2017-08-09 12:38] denfromufa commented on #521
For now go to appveyor builds, select your specific Python version and architecture, then download the wheel for your version from artifacts tab:

https://ci.appveyor.com/project/pythonnet/pythonnet/branch/master

[2017-08-09 12:40] denfromufa commented on #521
Another way is to switch your system locale/language to US-EN and try again. There was a similar issue due to unmanaged exports dependency.

[2017-08-09 13:19] shahwill commented on #521
@denfromufa I installed the wheel and tarball from https://ci.appveyor.com/project/pythonnet/pythonnet/branch/master/job/5ba22b2mit2p2y3r/artifacts after running the following commands and identifying my Python version and architecture:

`PS C:\Python35\Lib\site-packages> python -V
Python 3.5.0
PS C:\Python35\Lib\site-packages> python
Python 3.5.0 (v3.5.0:374f501f4567, Sep 13 2015, 02:16:59) [MSC

[2017-08-09 14:10] denfromufa commented on #521
@shahwill why are you installing both wheel and tarball? Just install the wheel. In fact I did not even mention tarball, because it is almost same as source code!

[2017-08-09 14:15] denfromufa commented on #521
@shahwill regarding your langversion issue when compiling from source (if you still plan to build from source), the Microsoft.CodeDom.Providers.DotNetCompilerPlatform DLL may need to be updated from nuget:

https://stackoverflow.com/questions/31868803/error-invalid-option-6-for-langversion-must-be-iso-1-iso-2-3-4-5-or-defa

[2017-08-09 14:21] denfromufa commented on #517
@Kamforka sorry about timeout, I confused that with C# remote debugger. There is no timeout in ptvsd by default. It should wait indefinitely for attach event.

[2017-08-09 14:29] shahwill commented on #521
@denfromufa you're completely right, I didn't see the Python.Runtime.DLL after installing from wheel and thought I had to install the tarball as well. After adding a reference to the Runtime DLL generated by the wheel from the appveyor build, my Visual Studio project ran without any exceptions. Thanks for the help!

[2017-08-09 15:48] denfromufa commented on #521
@shahwill thanks for using pythonnet, closing since issue is resolved!

[2017-08-09 15:48] #521 closed

[2017-08-09 16:26] denfromufa commented on #521
@shahwill don't forget to star the repo on github :1st_place_medal:

[2017-08-10 06:09] ShekharReddy4 opened #525 "Install pythonnet 2.3.0 on mac"
### Environment

-   Pythonnet version:2.3.0
-   Python version: 2.7.10
-   Operating System: MacOSX Sierra

### Details
Install pythonnet on MacOSX Sierra
-   Describe what you were trying to get done.
Followed this article http://pythonnet.github.io/ to install pythonnet on my mac

-   What commands did you run to trigger this issue? If you can provide a
    `python setup.py build_ext --inplace`

[2017-08-10 06:13] denfromufa commented on #525
@ShekharReddy4 you need Mono 5.0, pythonnet from master, and some additional instructions:

https://github.com/pythonnet/pythonnet/issues/465#issuecomment-306940183

[2017-08-10 06:24] ShekharReddy4 commented on #525
@denfromufa  Is that only a possible way, I don't want to install anything apart from just pythonnet. or is there a way that is self-contained.

[2017-08-10 06:35] denfromufa commented on #525
@ShekharReddy4 besides pythonnet and dependencies for this build, you will still need Mono on your Mac. Otherwise you can use pythonnet in docker images:

https://hub.docker.com/r/pythonnet/pythonnet/tags/

I'm putting together some notes for OSX here:

https://github.com/pythonnet/pythonnet/wiki/Troubleshooting-on-Windows,-Linux,-and-OSX#osx-notes

[2017-08-10 06:37] denfromufa commented on #465
I'm putting together some notes for OSX here, please review @riccardodelutio @mcgradymvp @fractus:

https://github.com/pythonnet/pythonnet/wiki/Troubleshooting-on-Windows,-Linux,-and-OSX#osx-notes

[2017-08-10 06:40] ShekharReddy4 commented on #525
@denfromufa
`besides pythonnet and dependencies for this build, you will still need Mono on your Mac.` Will this be addressed in future releases or will this remain forever.

[2017-08-10 06:40] denfromufa commented on #392
@vmuriart @fractus I'm closing this issue, let's keep open this issue below for all Mac OSX settings and gotchas until the CI support is merged:

https://github.com/pythonnet/pythonnet/issues/465

[2017-08-10 06:40] #392 closed

[2017-08-10 06:46] denfromufa commented on #525
@ShekharReddy4 we plan to support OSX builds and testing on Travis CI, but the wheels/conda binaries will likely arrive much later. Currently OSX and Linux require compilation locally due to fast moving Mono target and dependency on Mono C-API. On Windows we do not depend on C-API for .NET.

Why can't you compile pythonnet locally on OSX?

[2017-08-10 06:47] denfromufa commented on #525
Mono will always have to be installed on OSX/Linux for pythonnet to work.

[2017-08-10 06:56] ShekharReddy4 commented on #525
@denfromufa  can you come online on gitter right now?

[2017-08-10 19:03] fractus commented on #465
Looks good to me; two minor comments:
* Mono is installed in `/Library/Frameworks` with the official [installer](http://www.mono-project.com/download/). I would expect to brew to use `/usr/local/Cellar`, but I'm not using it.
* Formatting improvement; you could use triple ticks for the symbolic link to avoid confusion.

[2017-08-10 19:09] vmuriart commented on #514
which commit broke this ? Was it the one I added to fix the example?
If my commit broke existing behavior, then I'm ok w reverting that one and reopenning the other issues.

[2017-08-10 19:50] denfromufa commented on #514
@vmuriart this pull request borke the behavior:

https://github.com/pythonnet/pythonnet/pull/427/files

[2017-08-11 02:28] denfromufa commented on #525
I'm closing this issue, since there is no bug report and no feature suggestions that can be supported in pythonnet. For all OSX related issues, let's track them here:

https://github.com/pythonnet/pythonnet/issues/465

[2017-08-11 02:28] #525 closed

[2017-08-14 20:19] vmuriart commented on #514
ok to revert behavior until better solution is found

[2017-08-18 13:50] tomhunter-gh commented on #152
I had the same problem when running a Python algo in QuantConnect Lean, in Visual Studio 2015.  When I ran the thing without debugging I didn't get the error, but when I started with debugging I got:

The Python stack trace was as follows:

from sklearn.neighbors import KNeighborsClassifier
  File "C:\Users\tomhu\Anaconda2\lib\site-packages\sklearn\__init__.py", line 57, in <module>
from .base imp

[2017-08-22 15:01] jbtule commented on #112
FSharp.Interop.Dynamic has operators now for dynamic objects. Version 4.0 ([current beta package on nuget](https://www.nuget.org/packages/FSharp.Interop.Dynamic/4.0.3-beta95). )

`open FSharp.Interop.Dynamic.Operators`

https://github.com/fsprojects/FSharp.Interop.Dynamic/blob/1c7ce0551da8d864c174eb981cf52406ac506659/Tests/Library1.fs#L194-L229

[2017-08-25 14:42] lodb commented on #465
When trying to follow these instructions (brew mono, add symbolic link, yada yada...), `USE_OSX_FRAMEWORKS=0 ARCHFLAGS="-arch x86_64" pip install git+https://github.com/pythonnet/pythonnet` executes without errors.

However, the problem is I'm running it in a virtualenv (using pyenv) with Python 3.4.3. When running `import clr`, I get the following error:
`Traceback (most recent call last):
  File

[2017-08-25 20:25] jaredbroad opened #529 "Suggestion / Seeking Feedback for Potential PR:"
One of our team (@mhandschuh) suggested this line could be substituted for a "IsAssignableFrom" check. https://github.com/pythonnet/pythonnet/blob/master/src/runtime/methodbinder.cs#L60

The plan would be to make the generic-locator code more effective.

mhandschuh [4:11 PM]
I would recommend looking at the MethodBinder -- it appears to be matching directly on type and not using `Type.IsAssignable

[2017-08-25 20:32] mchandschuh commented on #529
My python skills are severely lacking, so I'll just ask here.

Is there a test that verifies derived types can be passed as arguments to functions?

Does pythonnet support invoking the `AcceptsBaseClass` method with an instance of `SubClass` ?
[code]

Thanks!

[2017-08-25 20:35] denfromufa commented on #529
@jaredbroad @mhandschuh @AlexCatarino the issue is much deeper. As a starter take a look at this PR which I gave up on merging:

https://github.com/pythonnet/pythonnet/pull/217

For more of overloading stuff have a look at this meta-issue (this is one of my frequent nightmares):

https://github.com/pythonnet/pythonnet/issues/265

[2017-08-25 21:00] denfromufa commented on #465
@lodb no i think you missed something with your pythonnet installation in pyenv, which is not supported/tested by pythonnet. So I cannot tell you what is wrong with your installation due to this untested scenario with pyenv. I suggest to install on python 3.4 without using pyenv. I used pyenv once and was quite unhappy with it, but I may have missed some steps in using it.

[2017-08-26 20:05] gordthompson opened #530 "Access.Application.Run with Sub argument works with Python2 but not with Python3"
[pythonnetTest.zip](https://github.com/pythonnet/pythonnet/files/1253942/pythonnetTest.zip)

pythonnet 2.3.0
Python 2.7.13, 32-bit
Python 3.6.2, 32-bit
Microsoft Access 2013, 32-bit
Windows 10

The attached Access database file contains a Module with a Sub that takes an argument and writes it to a text file in the same folder:

[code]

The following Python code works fine under Python 2.7.13 ...

[2017-08-27 21:09] denfromufa commented on #530
Can you show `access.Run.Overloads` in both cases?

[2017-08-28 00:04] gordthompson commented on #530
`print(sys.version)` followed by `print(access.Run.Overloads)` shows the following (they look the same to me):

[code]

[code]

FWIW, this is what shows up in Visual Studio 2015:

![vs2015](https://user-images.githubusercontent.com/15894006/29755225-0196a150-8b52-11e7-8c0e-85eb8e34244d.png)

[2017-08-28 15:14] denfromufa commented on #530
@gordthompson thanks for reporting this! I looked closer and the issue is not reproduced with Python 3.5 & 3.6, but the code works fine in Python 2.7 and 3.4. Looks like something changed with tuples from Python 3.4 to 3.5 and not captured in pythonnet.

[2017-08-28 16:43] gordthompson commented on #530
Thanks for the feedback. I have updated my Stack Overflow answer [here](https://stackoverflow.com/a/45897440/2144390) and will try and remember to update it once the issue is resolved.

[2017-08-28 18:33] denfromufa commented on #530
I meant the issue is reproduced with Python 3.5 and 3.6

[2017-08-30 12:08] rmadsen-ks opened #533 "assemblymanager.cs: ResolveHandler finds assemblies based on StartsWith"
### Environment

-   Pythonnet version: All
-   Python version: All
-   Operating System: All

### Details

-   Describe what you were trying to get done.
Loading an assembly called MyAssembly. Assembly did not exist, should have resulted in an error, but instead it loaded MyAssemblyTest.
This can be done using Assembly.Load("AssemblyName").

Effectively this changes the way .NET normally loads as

[2017-09-04 08:32] peter---- opened #536 "PInvokeStackImbalance when set PythonEngine.PythonHome = @"C:/Users/Peter/AppData/Local/Programs/Python/Python36-32""
### Environment

-   Pythonnet version: pythonnet-2.3.0-cp36-cp36m-win32
-   Python version: Python36-32
-   Operating System: WIN7

### Details

-   Describe what you were trying to get done.
    When set PythonEngine.PythonHome = @"C:/Users/Peter/AppData/Local/Programs/Python/Python36-32"

     it complains PInvokeStackImbalance.

     I already copy the Python.RunTime.dll and clr.pyd into Pytho

[2017-09-04 10:43] denfromufa commented on #536
@peter----  see this issue for resolution: https://github.com/pythonnet/pythonnet/issues/485

[2017-09-04 10:43] #536 closed

[2017-09-04 12:50] gijzelaerr opened #537 "making a delegate with more than 10 arguments crashes"
### Environment

-   Pythonnet version: 2.3.0
-   Python version: 3.6 32 bit
-   Operating System: Windows 10

### Details

[code]

[2017-09-04 13:48] denfromufa commented on #537
what about other python versions? have you tried from the master branch?

[2017-09-04 13:56] denfromufa commented on #537
ok, python 2.7 and master branch both fail with the same error.

[2017-09-05 06:37] peter---- commented on #536
I tried to follow the #485.
However I still have the issue.
    I already copy the Python.RunTime.dll and clr.pyd into Python36-32\Lib\site-packages.
    I already set the PATH has C:/Users/Peter/AppData/Local/Programs/Python/Python36-32
        and C:\Users\Peter\AppData\Local\Programs\Python\Python36-32\Lib\site-packages.
    I already set reference to Python.RunTime.dll from Python.RunTime.dll.

[2017-09-05 09:41] denfromufa commented on #536
Uninstall your current version of pythonnet and install latest version from
master:

´pip install git+https://github.com/pythonnet/pythonnet´

Then reference this Python.Runtime.DLL in your project.

On Tue, Sep 5, 2017, 1:37 AM peter---- <notifications@github.com> wrote:

[2017-09-06 23:07] dmitriyse commented on #515
Probably this issue is fixed by https://github.com/pythonnet/pythonnet/pull/535

[2017-09-06 23:17] dmitriyse commented on #499
Flat Py_Initialize/ Py_Finalize call cylce will produce memory leak, it's directly described in the Python C Api documentation.
For example each run of all Python.EmbeddingTest, eats 5mb of memory. It's more python itself. Nothing to do with this.

If you have larger memory leak, please try this branch https://github.com/pythonnet/pythonnet/pull/532
This PR reduces memory leaks of a working Python

[2017-09-06 23:38] dmitriyse commented on #96
Half of the problem solved - python can be embedded in to CoreCLR 2.0 (https://github.com/pythonnet/pythonnet/pull/519)

System.Reflection.Emit works good under CoreCLR 2.0 except for CDecl calling convention. CDecl currently unsupported in the CoreCLR 2.0

As a workaround I changed  XDecref/XIncref to Py_DecRef/, Py_IncRef.
And used UnamanagedFunctionPoinerAttribute with Marshal.GetDelegateForFun

[2017-09-07 12:47] denfromufa commented on #96
@dmitriyse for cdecl did you mean this issue? https://github.com/dotnet/corefx/issues/9800

[2017-09-07 14:16] dmitriyse commented on #96
Yes, exactly this flaw.

[2017-09-11 16:37] denfromufa opened #539 "langversion 6 is not recognized with msbuild or csc compiler in VS 2017"
CSC : error CS1617: Invalid option '6' for /langversion; must be ISO-1, ISO-2, 3, 4, 5 or Default

<details>
  <summary>Click to expand</summary>

[code]
</details>

[2017-09-11 16:53] denfromufa commented on #539
related #480 and #521

[2017-09-11 16:58] dmitriyse commented on #539
This is a common problem with old msbuild detection methods and VS 2017 installation.
Fix example is provided here https://github.com/jhaker/nodejs-msbuild/pull/19/files

[2017-09-11 17:05] dmitriyse commented on #539
But this is a trickly way. We can rely on a new MS  supported tool:   https://github.com/Microsoft/vswhere.
It should allow to find a valid msbuild by a specified minimal version:
[code]

This code should do all the magic either for VS2017 msbuilds or old msbuild.
If we pass all tests with vswhere.exe we can remove all msbuild detection code from the setup.py.

[2017-09-11 17:36] denfromufa commented on #539
@dmitriyse exactly! msbuild is not using registry keys anymore for some reason. That vswhere is a nice tool. One problem is that VS 2008 is not supported, but this is what is used for Python 2.7. https://github.com/Microsoft/vswhere/issues/89

 In the meantime we can use vswhere for msbuild versions not in registry.

[2017-09-11 19:32] denfromufa opened #541 "memory leak - simple function call in a loop"
I'm getting a memory leak with simple calls from .NET to Python function. The issue is reproducible on all pythonnet versions that I tested. When I test Python calls to .NET, then the memory leak is less obvious, since all resources are released when calling the CPython `gc.collect()`. Calling the same function from .NET does not release any resources, but calling the CLR `GC.WaitForPendingFinaliz

[2017-09-11 19:43] denfromufa commented on #541
Actually `GC.WaitForPendingFinalizers();` is blocking, not `gc.collect`!

[2017-09-11 21:03] dmitriyse commented on #541
Please try this version of your code:
[code]

[2017-09-11 22:00] denfromufa commented on #541
@dmitriyse I'm not sure how is that supposed to help with the memory leak, but the leak is still there and not released from both GC. `WaitForPendingFinalizers` still blocks.

[2017-09-11 22:40] denfromufa commented on #541
I got rid of this memory leak by using the following inconvenient disposal code:

[code]

Not sure why `res` cannot be disposed by either GC?!

[2017-09-12 15:33] denfromufa commented on #541
I still don't understand why managed GC from CLR is not calling the finalizer of `PyObject` for the results of calls into pythonnet:

[code]

What is holding the reference to these objects or why GC is not activated?

Thanks for the edit @dmitriyse, now when `EndAllowThreads` is after `WaitForPendingFinalizers`, then some of resources are released, but not all:

[code]

![image](https://user-image

[2017-09-12 15:56] dmitriyse commented on #541
I tested this code in the branch https://github.com/pythonnet/pythonnet/pull/532.
And no any memory leaks occurred.
![image](https://user-images.githubusercontent.com/10322215/30335769-4454584e-97f4-11e7-82c3-0128fc414771.png)

When I debugged this branch I faced with unpredictable C# GC behavior, after some amount of valid "Dispose" calls, GC does not generate enough finalizer calls. Looks like s